<div *ngIf="isCompressed && researchGroup">
  <div class="card" style="width: 100%;">
    <img class="card-img-top" src="{{researchGroup?.ImageType}},{{researchGroup?.Image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{researchGroup?.GroupTitle}}</h5>
      <div class="card-text ignore-ql" [innerHtml]="researchGroup?.Description|slice:0:100">
      </div>
      <a (click)="detailsClicked()" class="btn btn-primary card-details-btn">Details</a>
    </div>
  </div>
</div>

<div class="animated fadeInUp" *ngIf="!isCompressed">
  <div class="card" style="width: 100%;">
    <div class="card-header personal-header">
      <div class="row">
        <div class="col-md-1">
          <h5><a (click)="backClicked()" class="card-details-btn"><i class="fas fa-arrow-left"></i></a></h5>
        </div>
        <div class="col-md-11">
          <h5>{{researchGroup.GroupTitle}}</h5>
        </div>
      </div>
    </div>
    <div class="large-img-container d-none d-md-block" *ngIf="researchGroup?.Image">
      <img src="{{researchGroup?.ImageType}},{{researchGroup?.Image}}"
           class="animated fadeIn blur large-img bottom-img">
      <div class="top-div">
        <img src="{{researchGroup?.ImageType}},{{researchGroup?.Image}}"
             class="animated fadeIn">
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title section-header">Research Group Description</h5>
      <div class="card-text  info-list">
        <div class="ql-editor header html-render" [innerHtml]="researchGroup?.Description"></div>
      </div>
      <div *ngIf="facultySummaryList.length>0">
        <h5 class="card-title section-header">Research Group Members</h5>
        <div class="row">
          <div class="col-lg-4">
            <div class="row small-profile-desc">
              <div class="col-lg-3 d-none d-lg-block  left">
                <img *ngIf="getResearchGroupLeader()?.Image" class="img img-thumbnail"
                     src="{{getResearchGroupLeader()?.ImageType}},{{getResearchGroupLeader()?.Image}}">
                <img *ngIf="!getResearchGroupLeader()?.Image" class="img img-thumbnail"
                     src="assets\images\user.png">
              </div>
              <div class="col-lg-5 col-md-12 ml-md-4 center primary-ascent-text">
                <h6 class="link" (click)="profileClicked(getResearchGroupLeader()?.FacultyID)">
                  {{getResearchGroupLeader()?.Name}} </h6>
                <p class="amber-text">[Group Leader]</p>
                <h6 class="brown-text">{{getResearchGroupLeader()?.Designation}}</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4" *ngFor="let member of getGroupMembersWhoAreNotLeader()">
            <div class="row small-profile-desc">
              <div class="col-lg-3 d-none d-lg-block left">
                <img *ngIf="member?.Image" class="img img-thumbnail"
                     src="{{member?.ImageType}},{{member?.Image}}">
                <img *ngIf="!member?.Image" class="img img-thumbnail"
                     src="assets\images\user.png">
              </div>
              <div class="col-lg-5 col-md-12 ml-md-4 center primary-ascent-text">
                <h6 class="link" (click)="profileClicked(member?.FacultyID)">{{member?.Name}}</h6>
                <h6 class="brown-text">{{member?.Designation}}</h6>
              </div>

            </div>
          </div>
        </div>

      </div>

      <h5 class="section-header card-title">Research Group Publications</h5>
      <app-publication [viewType]="'researchGroup'" [researchGroupID]="researchGroup?.GroupID"
                       [isMyProfile]="false">
      </app-publication>
    </div>
  </div>
</div>

