<div style="margin-bottom: 2rem">
  <app-academic-details [userID]="userID" [isMyProfile]="isMyProfile">

  </app-academic-details>

</div>

<div style="margin-bottom: 2rem">
  <app-professional-details [isMyProfile]="isMyProfile" [userID]="userID">

  </app-professional-details>

</div>
<div style="margin-bottom: 2rem">
  <div>

    <ng-template #personal_location>
      <div class="modal-form">
        <div>
          <h3 class="component-title primary-ascent-text">
            <i class="fas fa-location-arrow"></i>
            <span>Location Details</span>
          </h3>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
        <div>
          <app-location-details
            (onLocationLoaded)="onLocationComponentLoaded($event)">
          </app-location-details>

          <div class="row">
            <div class="col s6">
              <button type="button" (click)="onLocationCancelClick()" class="btn-primary btn">Cancel</button>
            </div>
            <div class="col s6">
              <button type="button" class="btn-primary btn"
                      (click)="onLocationSaveClick()">Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <alert type="success" *ngIf="locationEvent && locationSuccess" [dismissible]="true"
         (onClosed)="onLocationAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="locationEvent && !locationSuccess" [dismissible]="true"
         (onClosed)="onLocationAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div class="card animated fadeIn">
    <div class="card-header personal-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-location-arrow"></i>
            Address Details</h5>
        </div>
        <div class="col-md-2" *ngIf="isMyProfile">
          <h5 *ngIf="addLocation">
            <a class="card-link" (click)="onLocationFormRequest(personal_location)"><i
              class="fas fa-plus-square"></i> Add</a>
          </h5>
        </div>

      </div>
    </div>
    <div class="card-body" *ngIf="!addLocation">
      <div class="row info-list">
        <div class="col-md-9">

          <p class="card-text">
            {{location?.Address}}<span *ngIf="location.Address && location.City">, </span>
            {{location?.City}}<span *ngIf="location.Country && location.City">, </span>
            {{location?.Country}}
          </p>
        </div>
        <div class="col-md-3">
          <div class="row" *ngIf="isMyProfile">
            <div class="col">
              <a (click)="onLocationFormRequest(personal_location)" class="card-link green-text">
                <i class="fas fa-edit"></i> Update</a>
            </div>
            <div class="col">
              <a (click)="deleteLocation()" class="card-link red-text"><i class="fas fa-trash-alt"></i> Delete</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<div style="margin-bottom: 2rem">
  <app-contact-details [userID]="userID" [isMyProfile]="isMyProfile">

  </app-contact-details>
</div>


