<footer style=" background-color: #3c434c; color: #fff;">
  <div class="container text-center ">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h5 class="font-weight-bold mt-4 mb-1">CSE Department, IUT</h5>
        <p class="footer-text">The information provided on this site is completely related to Computer Science and
          Engineering (CSE) department of Islamic University of Technology (IUT).</p>
      </div>
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-1">Faculty of Engineering & Technology</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://csenew.iutoic-dhaka.edu" target="_blank" class="footer-text">✔ Computer Science &
              Engineering (CSE)</a>
          </li>
          <li>
            <a href="http://cee.iutoic-dhaka.edu" target="_blank" class="footer-text">✔ Civil & Environmental
              Engineering (CEE)</a>
          </li>
          <li>
            <a href="http://iutoic-dhaka.edu/eee" target="_blank" class="footer-text">✔ Electrical & Electronic
              Engineering (EEE)</a>
          </li>
          <li>
            <a href="http://iutoic-dhaka.edu/mce" target="_blank" class="footer-text">✔ Mechanical & Chemical
              Engineering (MCE)</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-1">Faculty of Science & Technical Education</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://iutoic-dhaka.edu/btm" target="_blank" class="footer-text">✔ Business & Technology Management
              (BTM)</a>
          </li>
          <li>
            <a href="http://tve.iutoic-dhaka.edu/" target="_blank" class="footer-text">✔ Technical & Vocational
              Education (TVE)</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-1">University Links</h5>
        <ul class="list-unstyled">
          <li>
            <a href="http://www.iutoic-dhaka.edu/" target="_blank" class="footer-text">✔ IUT Main Site</a>
          </li>
          <li>
            <a href="http://library.iutoic-dhaka.edu/main/" target="_blank" class="footer-text">✔ IUT Library</a>
          </li>
          <li>
            <a href="http://www.iutoic-dhaka.edu/calendar" target="_blank" class="footer-text">✔ Academic Calendar</a>
          </li>
          <li>
            <a href="http://ictc.iutoic-dhaka.edu/" target="_blank" class="footer-text">✔ ICT Center</a>
          </li>
          <li>
            <a href="/cse/information" target="_blank" class="footer-text">✔ Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="py-3">
    <div class="footer-copyright text-center">© 2018 Copyright:
      <a href="#!" class="footer-text">Department of Computer Science and Engineering (CSE), IUT. All rights
        reserved.</a>
    </div>
    <div class="footer-copyright text-center">License:
      <a href="https://bitbucket.org/tariq_tonmoy/iut_web/src/master/License" class="footer-text">MIT</a>
    </div>
    <div class="footer-copyright text-center">Source Code on
      <a href="https://bitbucket.org/tariq_tonmoy/iut_web" class="footer-text"><i class="fab fa-bitbucket"></i>
        Bitbucket</a>
    </div>
  </div>
</footer>
