<div class="container">
  <div class="row z-depth-5 lighten-4">
    <div class="col large-text">
      <h1 class="home-header center-align">Academic Details</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-lg-2">
      <div *ngIf="programList.length>0">
        <div [ngClass]="p.ProgramName===defaultProgName?'card-header personal-header white-text':'modal-form primary-ascent-text'" (click)="onProgClicked(p)" class=" prog-select mb-2" *ngFor="let p of programList">
          {{p.ProgramName}}
        </div>
      </div>
    </div>
    <div class="col-md-9 col-lg-10s">
      <app-course [isDeptFixed]="true"
                  [passedDept]="selectedDept"
                  [passedProgName]="defaultProgName"
                  [passedSemester]="defaultSemester">
      </app-course>
    </div>
  </div>
  <div id="top_button">
    <button class="feedback" (click)="onUpClicked()"><i class="fas fa-arrow-up"></i> </button>
  </div>
</div>
