/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');
@import url("https://cdn.quilljs.com/1.2.2/quill.snow.css");
@import url("https://cdn.quilljs.com/1.2.2/quill.bubble.css");

@media (min-width: 1401px) {
  html, body {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  html, body {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  html, body {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  html, body {
    font-size: 11px;
  }
}

body.no-scroll {
  overflow: hidden!important;
}
body.do-scroll {
  overflow: auto!important;
}

.select-label {
  position: relative;
}

  .select-label label {
    font-size: 1rem;
  }

.calendar-label label {
  font-size: 1rem;
}

.amber {
  background-color: #f16975 !important;
  border-color: #f16975 !important;
}

.amber-text {
  color: #f16975 !important;
}

.text-on-amber {
  color: rgba(0, 0, 0, .87) !important;
}

.brown {
  background-color: #8D6E63 !important;
  border-color: #8D6E63 !important;
}

.brown-text {
  color: #8D6E63 !important;
}

.text-on-brown {
  color: white !important;
}

.deep-blue {
  background-color: #0288D1 !important;
}

.deep-blue-text {
  color: #0288D1 !important;
}

.text-on-deep-blue {
  color: white;
}

.white-text {
  color: white !important;
}

.red-text {
  color: red !important;
}

.red {
  background-color: red !important;
}

.green-text {
  color: #02A54C !important;
}

.green {
  background-color: #02A54C !important;
}

.blue {
  background-color: #008BCE !important;
  border-color: #008BCE !important;
}

.blue-text {
  color: #008BCE !important;
}

.teal {
  background-color: #009688 !important;
  border-color: #009688 !important;
}

.teal-text {
  color: #009688 !important;
}



.info-list {
  background-color: rgba(128, 128, 128, .08);
  padding: .5em;
  overflow: hidden;
}

.block-info-button-group {
  text-align: right;
}

.professional-req-form {
  margin-bottom: 1rem;
  background-color: rgba(128, 128, 128, .1);
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 40rem;
  min-height: 20rem;
  padding: 1rem;
}

.professional-panel.row {
  padding: 1rem 0;
}

.professional-panel {
  margin-bottom: 1rem;
  background-color: rgba(128, 128, 128, .1);
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 20rem;
  padding: 1rem;
}

.professional-req-form textarea {
  min-height: 15rem;
}

.btn-primary {
  margin-right: auto !important;
  margin-left: auto !important;
}

.btn-container {
  width: 30%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.card-title {
  margin-bottom: .5rem;
}

  .card-title.section-header {
    margin-top: 1.5rem;
  }

.card-body p {
  margin-bottom: .5rem !important;
}

.card-link {
  cursor: pointer;
  font-size: 1em;
  font-weight: bold !important;
  text-decoration: underline !important;
}


img.profile-thumb {
  max-height: 6rem;
}

.modal-content {
  background-color: rgba(238, 238, 238, 0) !important;
}

.panel-heading {
  cursor: pointer;
  font-weight: 600;
}

.panel-group {
  width: 100%;
  padding: .5rem 0;
}

.grey {
  background-color: lightgray;
}

.grey-text {
  color: lightgray;
}

footer {
  margin-top: 2rem;
}

.component-title {
  width: 100%;
  margin: .2rem;
}

.material-icons {
  vertical-align: middle;
}

.form-component {
  width: 100%;
}

.page-component {
  background-color: #eeeeee;
  margin-right: auto;
}

.show {
  display: block !important;
}

app-profile {
  width: 100%;
}

.inner-div {
  position: absolute;
  width: 100%;
  padding: .5rem .5rem 0 .5rem;
}

.card {
  width: 100%;
  margin-top: .1rem;
  margin-bottom: .1rem;
}

.err-msg {
  color: red;
  padding-top: 1em;
}

.admin-panel .nav-tabs {
  border-bottom: .1em solid #f16975 !important;
}

.nav-tabs .nav-link {
  font-weight: lighter;
}

.admin-panel .nav-tabs .nav-link.active {
  background-color: #f16975 !important;
  color: white !important;
  border: 0;
  padding-left: .5rem !important;
}

.admin-panel .nav-tabs .nav-link {
  border: 0;
  padding-left: .5rem !important;
  color: rgba(0, 0, 0, .87) !important;
}

.admin-panel {
  color: rgba(0, 0, 0, .87) !important;
}

  .admin-panel .nav-tabs .nav-link:hover,
  .admin-panel .nav-tabs .nav-link.active:hover {
    border-top: 1px solid #f16975 !important;
    border-left: 1px solid #f16975 !important;
    border-right: 1px solid #f16975 !important;
    border-bottom: 0 !important;
    margin: -1px !important;
    padding-left: .5rem !important;
  }

.side-nav #outputImg {
  float: right;
  max-height: 5rem;
  padding: .25rem;
}

.side-nav .has-profile #outputImg {
  max-height: 15rem;
  float: left;
  margin: 0 .25em 0 0;
  padding: 0.1em;
}

button.btn {
  width: 100%;
}

.profile-intro {
  padding-left: 2em;
  font-size: 1.2rem;
}

  .profile-intro .nation {
    font-size: .9rem;
  }

  .profile-intro .email {
    font-size: .9rem;
  }

.has-profile .row .col {
  padding-left: 0;
  margin-top: 0;
}

  .has-profile .row .col * {
    margin-bottom: 0;
  }

.profile-summary {
  margin-top: 1rem;
}

.role-badge {
  color: white !important;
  float: left !important;
  margin: 0 1em 0 0 !important;
  display: inline;
}

.badge-container {
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.btn-sm {
  padding: .1rem;
}

.card-header.admin-panel-insider {
  border-bottom: 5px solid rgba(0, 0, 0, .125);
  background-color: rgba(0, 0, 0, 0) !important;
  padding-bottom: .2rem;
  padding-left: 0;
}

  .card-header.admin-panel-insider h5 {
    color: rgba(0, 0, 0, .87) !important;
    margin-bottom: .2rem;
  }

.small-card-header {
  padding: .5em;
}

.table-in-modal tbody {
  border-bottom: .2rem solid rgba(0, 0, 0, 0.187);
}

.card-header.personal-header {
  background-size: cover;
  background-position: center
}

  .card-header.personal-header.prog-select {
    padding: 1rem .5rem !important;
  }

.col-md-6 .card h5,
.constrained-list-view .card-body h5 {
  font-size: 1rem;
}

.col-md-6 .card a,
.col-md-6 .card p,
.constrained-list-view .card-body a,
.constrained-list-view .card-body p {
  font-size: .8rem;
}

.constrained-list-view .constrained-scroll {
  overflow-x: hidden;
  overflow-y: auto
}

.large-text, .card-text {
  font-size: 1em;
  padding-right: 1em;
}

.badge {
  margin-bottom: .5rem;
}

.tool p,
.tool a,
.tool select,
.tool label,
.tool option,
.col-md-3 p,
.col-md-3 a,
.col-md-3 select,
.col-md-3 label,
.col-md-3 option,
.col-md-2 p,
.col-md-2 a,
.col-md-2 select,
.col-md-2 label,
.col-md-2 option {
  font-size: .8rem;
}

.tool h3,
.constrained-list-view h3 {
  font-size: 1.2rem;
}

.constrained-list-view .subtitle {
  font-size: .7rem;
  padding-left: .25rem;
}

.constrained-list-view .large-text {
  font-size: 1em;
  margin-bottom: .5rem;
}

.tool .panel-body {
  padding: 1rem .5rem;
}

.tool {
  border-right: 5px solid #f16975;
}

.tab-content {
  margin-top: .2rem;
}

.constrained-scroll textarea.disabled {
  width: 100%;
  resize: none;
}

.large-text label {
  white-space: pre-wrap;
  text-align: justify;
}

typeahead-container {
  width: auto;
}

.modal-form-wide {
  width: 100% !important;
  max-width: none !important;
}

.inner-badge-clicker {
  font-size: 1.05em;
  cursor: pointer;
  margin-left: 1em;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
  opacity: 1;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.home-header {
  margin-top: .5em;
  padding: .2em;
  text-align: center;
}

.badge-long {
  padding: .5em;
  background-color: #17A2B9;
  color: white;
  border-radius: .3rem;
  margin: .2rem;
}

.badge-danger {
  color: white;
}

.sub-form {
  border-radius: .3em;
  border-color: darkgreen;
  border-style: groove;
  padding: 1em;
  margin: 1em 0 1em 0;
}

.form-card-link {
  text-align: center;
}

.card-details-btn {
  color: white !important;
  cursor: pointer;
}

@media (max-width: 399px) {
  img.card-img-top {
    display: none;
  }

  .card-img-top.summary-img {
    display: none;
  }

  .masonry-item {
    width: 99%;
    padding: .5em;
  }

  ngx-masonry {
    margin-left: .1%;
  }
}

.card_img {
  overflow: hidden;
  background-color: #e0f2f1;
}


@media (min-width: 400px) and (max-width: 799px) {
  .masonry-item {
    width: 50%;
    padding: .5em;
  }

  .card-img-top.summary-img {
    text-align: center;
  }

  ngx-masonry {
    margin-left: .1%;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .masonry-item {
    width: 33%;
    padding: .5em;
  }

  ngx-masonry {
    margin-left: .1%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .masonry-item {
    width: 25%;
    padding: .5em;
  }

  .container .masonry-item {
    width: 33%;
  }

  ngx-masonry {
    margin-left: .5%;
  }
}

@media (min-width: 1401px) {
  .masonry-item {
    width: 33%;
    padding: .5em;
  }

  ngx-masonry {
    margin-left: 1%;
  }
}

.card-img-top.summary-img {
  text-align: center;
}

  .card-img-top.summary-img img {
    width: 80%;
  }

  .card-img-top.summary-img.gif img {
    height: 10%;
    width: 10% !important;
  }

.small-profile-desc {
  height: 7em;
  padding: 1em 0 1em 0;
}

  .small-profile-desc .img-thumbnail {
    height: 6em;
  }

  .small-profile-desc .left {
    padding-right: 0;
    padding-left: 0;
    background-color: rgba(128, 128, 128, .1);
    margin-left: 1rem;
  }

  .small-profile-desc .center {
    padding-right: .25em;
    padding-left: .25em;
    background-color: rgba(128, 128, 128, .1);
    padding-top: .25em;
  }

  .small-profile-desc .right {
    padding-left: 0;
    padding-top: .25em;
    background-color: rgba(128, 128, 128, .1);
    margin-right: .1rem;
  }

  .small-profile-desc .link {
    cursor: pointer;
    text-decoration: underline;
  }

.carousel-item .item {
  text-align: center;
  background-color: rgba(4, 4, 4, 0.1) !important
}

a.right.carousel-control.carousel-control-next {
  background: rgba(0, 0, 0, .5) !important;
}

.blur {
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -ms-filter: blur(12px);
  -o-filter: blur(12px);
  filter: blur(12px);
}

.alert-link {
  cursor: pointer;
  text-decoration: underline !important;
  color: #533f03 !important;
}

.large-img-container {
  position: relative;
  width: 100%;
  height: 60vh;
}

.large-img {
  position: absolute;
}

  .large-img.bottom-img {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 60vh;
  }

.large-img-container > .top-div {
  position: absolute;
  width: 100%;
  height: 60vh;
  z-index: 4;
  text-align: center;
}

  .large-img-container > .top-div > img {
    position: relative;
    height: 60vh;
    max-width: 100%;
  }

.large-no-img-div {
  height: 60vh;
  text-align: center;
}

  .large-no-img-div > img {
    width: 6vh;
    height: 6vh;
    margin-top: 27vh;
  }

.card-badge-container {
  position: relative;
}

.card-badge-bg, .card-badge {
  position: absolute;
  top: .5em;
  left: .5em;
}

@media (max-width: 699px) {
  button, a.btn {
    font-size: .7em !important;
  }
}

.html-render {
  padding: 1.5em 0;
}

.ignore-ql h1, .ignore-ql h2, .ignore-ql h3, .ignore-ql h4, .ignore-ql h5, .ignore-ql h6, .ignore-ql p, .ignore-ql b, .ignore-ql strong {
  font-size: 1em !important;
  font-weight: normal !important;
}

.header-none h1, .header-none h2, .header-none h3, .header-none h4, .header-none h5, .header-none h6 {
  display: none !important;
}

.ql-editor img {
  max-width: 100%;
}

.form-btn-group {
  text-align: center;
  padding-bottom: 1em;
}

.profile-intro {
  font-weight: bold;
}

@media (min-width: 768px) {
  .masonry-item.hasEvents {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .masonry-item.hasEvents {
    width: 100%;
  }
}

.masonry-item .card {
  width: 95%;
  padding-left: auto;
  padding-right: auto;
}

.google-btn {
  margin: .5em 0 1em 0;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}

  .google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
  }

  .google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
  }

  .google-btn .btn-text {
    float: right;
    margin: 11px 14px 1em 40px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    user-select: none
  }

  .google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .8);
    user-select: none
  }

  .google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
  }

.status-icon {
  text-align: left;
  line-height: 0em;
  padding: 1em;
}

.profile-side-nav,
.profile-side-nav .need-side-nav .row,
.profile-side-nav .need-side-nav .row .card.need-side-nav {
  height: 100%;
  padding-bottom: .5em;
}



/**********************************************************************************************************************/
/************************************************ Navbar Design *******************************************************/
/**********************************************************************************************************************/


.iut-nav-logo {
  padding-top: .1em;
  padding-bottom: .1em;
  max-height: 4em;
}


.navbar-height {
  background-color: transparent;
  height: 6.25em;
}

@media (max-width: 350px) {
  .nav-iut-text-sm, .nav-text-sm {
    font-size: 1.5em !important;
  }

  .vertical-lines.vertical-lines-md {
    height: 1.25em !important;
    width: .5em !important;
    border-left-width: 2px !important;
    border-right-width: 2px !important;
  }

  .navbar-height {
    height: 4.5em !important;
  }
}

@media (min-width: 351px) and (max-width: 767px) {
  .navbar-height {
    height: 4.5em !important;
  }
}



@media (min-width: 1200px) and (max-width: 1412px) {
  .nav-link {
    padding-left: 0 !important;
    padding-right: 8px !important;
    font-size: .9em;
  }

  .nav-text {
    font-size: 1.4em !important;
    line-height: 1em !important;
    width: 15rem !important;
    margin-bottom: 0;
  }


  .nav-iut-text {
    padding: 0;
    margin: 0;
    line-height: 1em !important;
    font-size: 2.8em !important;
    font-weight: 700;
  }

  .vertical-lines {
    height: 2.5em !important;
  }
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.nav-text {
  font-size: 1.75em;
  line-height: 1em;
  width: 20rem;
  margin-bottom: 0;
}

.nav-text-sm {
  font-size: 3rem;
  width: 3rem;
  line-height: 1rem;
  margin-bottom: 0;
}

.nav-text-md {
  font-size: 1.5em;
  line-height: 1em;
  width: 15em;
  margin-bottom: 0;
}

.nav-iut-text {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 3.5em;
  font-weight: 800;
}

.nav-iut-text-md {
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 3em;
  font-weight: 700;
}

.nav-iut-text-sm {
  padding: 0;
  margin: 0;
  font-size: 3em;
}

@media (min-width: 992px) {
  .iut-nav {
    padding: 0 3em;
  }
}

@media (max-width: 991px) {
  .iut-nav {
    padding: 0 3em;
  }
}

.nav-item {
  font-weight: 800;
  cursor: pointer;
}


.dropdown-content.active, .dropdown-content {
  width: auto !important;
  top: auto !important;
}

  .dropdown-content li > a {
    background-color: #FAFAFA;
  }

    .dropdown-content li > a:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .dropdown-content li > a > i {
      margin: 0 .15rem !important;
      color: #02A54C !important;
    }


/**********************************************************************************************************************/
/*******************************************Departmental Color Coding**************************************************/
/**********************************************************************************************************************/
.IUT-CSE .header h1, .IUT-CSE .header h2, .IUT-CSE .header h3, .IUT-CSE .header h4, .IUT-CSE .header h5, .IUT-CSE .header h6 {
  color: #008BCE !important;
}

.IUT-CSE .vertical-lines {
  border-left: solid 5px #009688;
  border-right: solid 5px #008BCE;
  width: 1em;
  display: inline-block;
  height: 3em;
}

.IUT-CSE .vertical-lines-md {
  height: 2.5em;
}

.IUT-CSE .personnel-summary.card {
  border: #ade6e3 solid;
}


.IUT-CSE .nav-btn.active {
  background-color: #008BCE !important;
  border-color: rgb(0, 130, 200) !important;
}

.IUT-CSE .nav-btn {
  background-color: rgba(0, 139, 206, .3) !important;
  border-color: rgba(0, 139, 206, .4) !important;
}

  .IUT-CSE .nav-btn:hover {
    border-color: rgb(0, 100, 170);
  }

.IUT-CSE .primary-ascent {
  background-color: #008BCE !important;
  border-color: #008BCE !important;
}

.IUT-CSE .primary-ascent-text {
  color: #008BCE !important;
}

.IUT-CSE .secondary-ascent {
  background-color: #009688 !important;
  border-color: #009688 !important;
}

.IUT-CSE .secondary-ascent-text {
  color: #009688 !important;
}

.IUT-CSE .home-header {
  color: #008BCE;
  border-bottom: lightgray;
  border-bottom-style: groove;
  border-top: lightgray;
  border-top-style: groove;
}

.IUT-CSE .card-header {
  background-color: #008BCE;
  color: white;
}

.IUT-CSE .card-title {
  color: #008BCE;
}

  .IUT-CSE .card-title.section-header {
    color: #008BCE;
    border-bottom: #008BCE .2em solid;
  }

.IUT-CSE .card-header.personal-header {
  background: linear-gradient(to bottom left, #8176b5, #008BCE);
}

.IUT-CSE .feedback {
  background-color: #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  cursor: pointer;
}

.IUT-CSE .vl {
  border-left: thick solid #008BCE;
  padding-left: 10px;
}

.IUT-CSE .card-header.academics-header {
  background: linear-gradient(to bottom left, #8176b5, #008BCE);
  background-size: cover;
  background-position: center;
}

.IUT-CSE .modal-form {
  padding: 1rem .5rem;
  background: linear-gradient(to bottom left, rgb(229, 227, 240), rgb(205, 234, 232));
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.IUT-CSE .card-body {
  padding: 1rem;
  background-color: #f3fffe;
}

.IUT-CSE .info-list.block-info {
  border: #ade6e3 solid;
  height: 96%;
}

.IUT-CSE .prog-select:hover {
  border: #ade6e3 solid;
  cursor: pointer;
}

.IUT-CSE .faculty-course {
  border: #ade6e3 solid;
}

html, body.IUT-CSE {
  font-family: 'Montserrat', sans-serif;
}

.IUT-CSE nav {
  font-family: 'Inconsolata', monospace;
}

html, body.IUT-MCE {
  font-family: 'Ubuntu', sans-serif;
}

.IUT-CSE nav {
  font-family: 'Roboto Mono', monospace;
}

.IUT-MCE .header h1, .IUT-MCE .header h2, .IUT-MCE .header h3, .IUT-MCE .header h4, .IUT-MCE .header h5, .IUT-MCE .header h6 {
  color: #AD1457 !important;
}

.IUT-MCE .nav-btn.active {
  background-color: #AD1457 !important;
  border-color: #880E4F !important;
}

.IUT-MCE .nav-btn {
  background-color: #F8BBD0 !important;
  border-color: #F06292 !important;
}

.IUT-MCE .primary-ascent {
  background-color: #AD1457 !important;
  border-color: #AD1457 !important;
}

.IUT-MCE .primary-ascent-text {
  color: #AD1457 !important;
}

.IUT-MCE .secondary-ascent {
  background-color: #AB47BC !important;
  border-color: #AB47BC !important;
}

.IUT-MCE .secondary-ascent-text {
  color: #AB47BC !important;
}

.IUT-MCE .home-header {
  color: #AD1457;
  border-bottom: #F3E5F5;
  border-bottom-style: groove;
  border-top: #F3E5F5;
  border-top-style: groove;
}

.IUT-MCE .card-header {
  background-color: #AD1457;
  color: white;
}

.IUT-MCE .card-title {
  color: #AD1457;
}

  .IUT-MCE .card-title.section-header {
    color: #AD1457;
    border-bottom: #AD1457 .2em solid;
  }

.IUT-MCE .card-header.personal-header {
  background: linear-gradient(to bottom left, #6A1B9A, #AD1457);
}

.IUT-MCE .modal-form {
  padding: 1rem .5rem;
  background: linear-gradient(to bottom left, #FFEBEE, #F3E5F5);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.IUT-MCE .feedback {
  background-color: #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  cursor: pointer;
}

.IUT-MCE .vl {
  border-left: thick solid #AD1457;
  padding-left: 10px;
}

.IUT-MCE .card-header.academics-header {
  background: linear-gradient(to bottom left, #6A1B9A, #AD1457);
  background-size: cover;
  background-position: center;
}

.IUT-MCE .card-body {
  padding: 1rem;
  background-color: #F3E5F5;
}

.IUT-MCE .personnel-summary.card {
  border: #B39DDB solid;
}

.IUT-MCE .btn.btn-primary {
  background-color: #6A1B9A;
}

.IUT-MCE .info-list.block-info {
  border: #B39DDB solid;
  height: 96%;
}

.IUT-MCE .prog-select:hover {
  border: #B39DDB solid;
  cursor: pointer;
}

.IUT-MCE .faculty-course {
  border: #B39DDB solid;
}
