<div>
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div class="card animated fadeIn" *ngIf="isRoleRequest && isReqShown">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-book"></i>
            Apply for Faculty Role</h5>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="professional-req-form">
        <div>
          <h3 class="component-title">
            <i class="fab fa-wpforms"></i>
            <span>Faculty Request Form</span>
          </h3>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>

        <form #facultyReq="ngForm">
          <div class="form-group">
            <label for="faculty_dept">Department</label>
            <select required class="validate form-control" id="faculty_dept" name="faculty_dept"
                    [(ngModel)]="request.RequestedDepartmentID">
              <option selected hidden value="">Select your Department</option>
              <option *ngFor="let dept of deptList">
                {{dept.DepartmentID}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="msg_to_admin">Message to Admin</label>
            <textarea type="text" required class="validate form-control" id="msg_to_admin" name="msg_to_admin"
                      placeholder="Send a request message to other Admins"
                      [(ngModel)]="request.MessageToAdmin"></textarea>
          </div>

          <div class="row">
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" (click)="onCancelRequestClick()" class="btn-primary btn">Cancel</button>
              </div>
            </div>
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" [disabled]="!facultyReq.form.valid" class="btn-primary btn"
                        (click)=" requestForRole()">Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="animated fadeIn" *ngIf="!isRoleRequest">


    <div class="card">
      <div class="card-header personal-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-address-book"></i>
              Faculty Member Details</h5>
          </div>

        </div>
      </div>

      <div class="card-body">
        <div class="row info-list">
          <div class="col-md-10">
            <div class="row">
              <h5 class="card-title" *ngIf="facultyDetails.Designation">
                <span>{{facultyDetails.Designation}} </span></h5>
              <h5 class="card-title" *ngIf="!facultyDetails.Designation">
                <span>Faculty Member </span></h5>
            </div>
            <p class="card-text" *ngIf="facultyDetails.DepartmentID">
              Department of <strong class="primary-ascent-text">{{facultyDetails.DepartmentID}}</strong>
            </p>
            <div class="row">
              <p class="card-text" *ngIf="facultyDetails.OfficeAddress">
                <strong class="primary-ascent-text">Office:</strong> {{facultyDetails.OfficeAddress}}
              </p>
            </div>

          </div>
          <div class="col-md-2">
            <div class="row">
              <div class="col" *ngIf="isMyProfile">
                <a class="card-link green-text" (click)="onUpdateClick(faculty_modal)">
                  <i class="fas fa-edit"></i> Update</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header personal-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-address-book"></i>
              Biography</h5>
          </div>

        </div>
      </div>

      <div class="card-body">
        <div class="row info-list">
          <div class="col-md-10">
            <div class="large-text">
              <label *ngIf="facultyDetails.Biography">{{facultyDetails.Biography|slice:0:bioLen}}<span
                *ngIf="!isBioExpanded && (facultyDetails.Biography)?.length>bioLen"> ... ...</span></label>
              <span class="amber-text" *ngIf="!facultyDetails.Biography">No Biography found</span>
            </div>

          </div>
          <div class="col-md-2">
            <div class="row">
              <div class="col" *ngIf="isMyProfile">
                <a class="card-link green-text" (click)="onUpdateClick(faculty_modal)">
                  <i class="fas fa-edit"></i> Update</a>
              </div>
              <div *ngIf="(facultyDetails.Biography)?.length>1000">
                <div class="col" *ngIf="!isBioExpanded">
                  <a class="card-link brown-text" (click)="onBioExpand(true)">
                    <i class="fas fa-expand"></i> Expand</a>
                </div>
                <div class="col" *ngIf="isBioExpanded">
                  <a class="card-link brown-text" (click)="onBioExpand(false)">
                    <i class="fas fa-compress"></i> Collapse</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <app-course-faculty
      [userID]="userID"
      [isMyProfile]="isMyProfile">
    </app-course-faculty>
    <app-publication
      [isMyProfile]="isMyProfile"
      [userID]="userID"
      [viewType]="viewType"
    ></app-publication>
    <app-research-group
      [isDeptPage]="isDeptPage"
      [userID]="userID"
      [isMyProfile]="isMyProfile">
    </app-research-group>
  </div>


  <ng-template #faculty_modal>
    <div class="modal-form">
      <div>
        <h3 class="component-title primary-ascent-text">
          <i class="fas fa-book"></i>
          <span>Faculty Details</span>
        </h3>
      </div>

      <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
      <form #facultysFrom="ngForm" class="professional-req-form modal-form-wide">

        <div class="form-group">
          <label for="faculty_type">Designation</label>
          <select name="faculty_type" class="form-control validate" id="faculty_type" required
                  (change)="onDesignationSelected($event.target.value)">
            <option hidden value="">Select Designation</option>
            <option *ngFor="let type of designationList">
              {{type}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="faculty_office">Office Address</label>
          <input type="text" required class="validate form-control" id="faculty_office" name="faculty_office"
                 placeholder="Office" [(ngModel)]="facultyDetails.OfficeAddress">
        </div>
        <div class="form-group">
          <label for="faculty_bio"> Biography</label>
          <textarea type="text" class="validate form-control" id="faculty_bio" name="faculty_bio"
                    placeholder="Biography" [(ngModel)]="facultyDetails.Biography"></textarea>
        </div>

        <div class="row">
          <div class="col-4">

          </div>
          <div class="col-2">
            <button type="submit" class="btn-sm btn-primary btn" (click)="onCancelDetailsClick()">Cancel</button>
          </div>
          <div class="col-2">
            <button type="submit" [disabled]="!facultysFrom.form.valid" class="btn-sm btn-primary btn"
                    (click)="onSaveDetailsClick()">Save
            </button>
          </div>
          <div class="col-4">

          </div>
        </div>
      </form>

    </div>
  </ng-template>
</div>
