<div class="modal-form">

  <div>
    <h3 class="component-title primary-ascent-text text-darken-2 truncate">
      <i class="material-icons">lock_open</i>
      {{title}}
    </h3>
  </div>
  <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
<div class="row">
  <div class="col-md-7 external-reg">
    <div class="info-list block-info">
      <form #loginForm="ngForm" class="form" (keyup.enter)="onLoginByEnter($event)">
        <div style="text-align: center;">
          <img alt="IUT LOGO" src="assets/images/iut-logo.png" style=" height: 100px;width: 80px;" />
        </div>
        <div class="form-group">
          <label for="loginUsername"><i class="fas fa-user"></i> Username</label>
          <input type="text" [(ngModel)]="login.Username" name="username" required class="validate form-control"
                 id="loginUsername" aria-describedby="loginUsernameHelp" placeholder="Enter Username">
          <small id="loginUsernameHelp" class="form-text text-muted">Enter your unique Username</small>
        </div>
        <div class="form-group">
          <label for="loginPassword"><i class="fas fa-key"></i> Password</label>
          <input type="password" [(ngModel)]="login.Password" name="password" required class="validate form-control"
                 id="loginPassword" placeholder="Password">
        </div>
        <div class="row">
          <div class="col s6">
            <button [disabled]="isLoading" (mouseup)="onSignUpClick();" class="btn-primary btn">Sign Up</button>

          </div>
          <div class="col s6">
            <button *ngIf="!isLoading" type="submit" [disabled]="!loginForm.form.valid" (click)="onLoginClick();"
                    class="btn-primary btn">Login
            </button>
            <button *ngIf="isLoading" [disabled]="true"
                    class="btn-primary btn">
              <div class="summary-img card-img-top">
                <img src="assets/images/Loading-gif.gif" style="height: 1.5em!important; width: 1.5em!important;">
              </div>
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-5">
    <div *ngIf="googleApiInfo">
      <div class="info-list block-info">
        <h4 class="secondary-ascent-text">
          <i class="fab fa-google-plus"></i> External Log In
        </h4>
        <div class="google-btn" (click)="onGoogleRegClicked()">
          <div class="google-icon-wrapper">
            <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
          </div>
          <p class="btn-text"><b>Sign in with Google</b></p>
        </div>
        <!--<a class="card-link secondary-ascent-text" (click)="onGoogleRegClicked()"><i-->
          <!--class="fas fa-external-link-square-alt"></i> Sign In </a>-->
        <p class="card-text">Log In with <strong>Gmail</strong> or <strong>IUT Email</strong></p>
      </div>
    </div>
  </div>

</div>

  <div class="row err-msg">
    <div class="col"> {{errorMsg}}</div>
  </div>
</div>
