<div class="z-depth-5 lighten-4">
  <div class="container large-text">
    <h1 class="home-header center-align">Faculty and Staff Members</h1>
    <br>
  </div>
</div>
<div class="container">
  <div class="btn-group personnel-btn-group" role="group" aria-label="mce_personnel">
    <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':id==='personnel_f'}"
            id="personnel_f"
            (click)="showFaculty('f')">
      Faculty Members
    </button>
    <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':id==='personnel_s'}"
            id="personnel_s"
            (click)="showFaculty('s')">
      Staff Members
    </button>
    <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':id==='personnel_t'}"
            id="personnel_t"
            (click)="showFaculty('t')">
      TA Members
    </button>
  </div>
  <div *ngIf="status===0 && !isFacultyLoaded" style="height: 100vh"></div>
  <div *ngIf="status===0 && isFacultyLoaded">
    <div *ngFor="let d of designationList">
      <div *ngIf="getSpecificFaculties(d).length>0">
        <div class="card personnel-header-summary">
          <div class="card-header personnel-summary">
            {{d}}s
          </div>
        </div>
      </div>
      <ngx-masonry *ngIf="getSpecificFaculties(d).length>0">
        <ngx-masonry-item class="masonry-item" *ngFor="let f of getSpecificFaculties(d); let i=index;">
          <div class="card personnel-summary">
            <div class="card_img">
              <img *ngIf="getPerson(f?.FacultyID)?.Image" class="card-img-top  blur bottom-img"
                   src="{{getPerson(f?.FacultyID)?.ImageType}},{{getPerson(f?.FacultyID)?.Image}}">

              <div class="top-div">
                <img *ngIf="getPerson(f?.FacultyID)?.Image" class="card-img-top top-img"
                     src="{{getPerson(f?.FacultyID)?.ImageType}},{{getPerson(f?.FacultyID)?.Image}}">

              </div>
              <div class="card-img-top summary-img">
                <img *ngIf="!getPerson(f?.FacultyID)?.Image"
                     src="assets\images\user.png">
              </div>
            </div>


            <div class="card-body">
              <h5 class="card-title">
                <i class="material-icons">person_pin</i>
                &nbsp;&nbsp;{{getPerson(f?.FacultyID)?.Salutation}} {{getPerson(f?.FacultyID)?.FirstName}}
                {{getPerson(f?.FacultyID)?.LastName}}
              </h5>
              <p class="card-text">
                <i class="material-icons">local_play</i>
                &nbsp; &nbsp;{{f?.Designation}}
              </p>
              <p class="card-text d-none-on-md">
                <i class="material-icons">email</i>
                &nbsp;&nbsp;{{getPerson(f?.FacultyID)?.Email}}
              </p>
              <p class="card-text d-none-on-md">
                <i class="material-icons">location_on</i>
                &nbsp;&nbsp;{{f?.OfficeAddress|slice:0:75}}
              </p>

              <a (click)="onUserDetailsClicked(f?.FacultyID)" class="btn btn-primary card-details-btn">
                <i class="fas fa-info-circle"></i> &nbsp;&nbsp;View Details
              </a>
            </div>
          </div>
        </ngx-masonry-item>
      </ngx-masonry>

    </div>
  </div>
  <div *ngIf="status===1 && isStaffLoaded">
    <ngx-masonry style="margin-top: 1em;">
      <ngx-masonry-item class="masonry-item" *ngFor="let s of staffList; let i=index;">
        <div class="card personnel-summary">
          <div class="card_img">
            <img *ngIf="getPerson(s?.StaffID)?.Image" class="card-img-top  blur bottom-img"
                 src="{{getPerson(s?.StaffID)?.ImageType}},{{getPerson(s?.StaffID)?.Image}}">

            <div class="top-div">
              <img *ngIf="getPerson(s?.StaffID)?.Image" class="card-img-top top-img"
                   src="{{getPerson(s?.StaffID)?.ImageType}},{{getPerson(s?.StaffID)?.Image}}">

            </div>
            <div class="card-img-top summary-img">
              <img *ngIf="!getPerson(s?.StaffID)?.Image"
                   src="assets\images\user.png">
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title">
              <i class="material-icons">person_pin</i>
              &nbsp;&nbsp;{{getPerson(s?.StaffID)?.Salutation}} {{getPerson(s?.StaffID)?.FirstName}}
              {{getPerson(s?.StaffID)?.LastName}}
            </h5>
            <p class="card-text">
              <i class="material-icons">local_play</i>
              &nbsp; &nbsp;{{s?.Designation}}
            </p>
            <p class="card-text d-none-on-md">
              <i class="material-icons">email</i>
              &nbsp;&nbsp;{{getPerson(s?.StaffID)?.Email}}
            </p>
            <p class="card-text d-none-on-md">
              <i class="material-icons">location_on</i>
              &nbsp;&nbsp;{{s?.OfficeAddress|slice:0:75}}
            </p>

            <a (click)="onUserDetailsClicked(s?.StaffID)" class="btn btn-primary card-details-btn">
              <i class="fas fa-info-circle"></i> &nbsp;&nbsp;View Details
            </a>
          </div>
        </div>
      </ngx-masonry-item>
    </ngx-masonry>
  </div>
  <div *ngIf="status===2 && isTALoaded">
    <ngx-masonry style="margin-top: 1em;">
      <ngx-masonry-item class="masonry-item" *ngFor="let t of taList">
        <div class="card personnel-summary">
          <div class="card_img">
            <img *ngIf="getPerson(t?.TAID)?.Image" class="card-img-top  blur bottom-img"
                 src="{{getPerson(t?.TAID)?.ImageType}},{{getPerson(t?.TAID)?.Image}}">

            <div class="top-div">
              <img *ngIf="getPerson(t?.TAID)?.Image" class="card-img-top top-img"
                   src="{{getPerson(t?.TAID)?.ImageType}},{{getPerson(t?.TAID)?.Image}}">

            </div>
            <div class="card-img-top summary-img">
              <img *ngIf="!getPerson(t?.TAID)?.Image"
                   src="assets\images\user.png">
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title">
              <i class="material-icons">person_pin</i>
              &nbsp;&nbsp;{{getPerson(t?.TAID)?.Salutation}} {{getPerson(t?.TAID)?.FirstName}}
              {{getPerson(t?.TAID)?.LastName}}
            </h5>
            <p class="card-text">
              <i class="material-icons">local_play</i>
              &nbsp; &nbsp;Teacher's Assistant
            </p>
            <p class="card-text">
              <i class="material-icons">email</i>
              &nbsp;&nbsp;{{getPerson(t?.TAID)?.Email}}
            </p>
            <a class="btn btn-primary card-details-btn" (click)="onUserDetailsClicked(t?.TAID)">
              <i class="fas fa-info-circle"></i>
              &nbsp;&nbsp;View Details
            </a>

          </div>
        </div>
      </ngx-masonry-item>
    </ngx-masonry>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  color="#fff"
  type="ball-atom"
></ngx-spinner>
