.custom-button-strip {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: #43807c;
  color: white;
  padding: 0;
  cursor: pointer;
  width: 49%;
  display: inline-block;
}

.custom-button-strip:target {

  background-color: red;
}

.pro-pic {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 130px; /* Set a small width */
  height: 180px;
}

.center {
  text-align: center;
}

.head {
  margin: 0 auto;
  margin-bottom: 15px;
}

.card-img-top {
  transition: all 1s ease-out !important;
}

.card-img-top:hover {
  transform: scale(1.1);
  cursor: pointer;
}



.personnel-summary .top-div {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.personnel-summary .bottom-img {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.personnel-summary .top-img {
  overflow: hidden;
  position: relative;
}
@media (min-width: 400px) {
  .personnel-summary .card-details-btn {
    position: absolute;
    bottom: 2%;
  }
}
@media (max-width: 399px) {
  .personnel-summary .card-details-btn {
    position: relative;
  }
}

@media (min-width: 400px) and (max-width: 799px) {
  .personnel-summary .card_img {
    height: 20em;
    line-height: 20em;
    position: relative;
  }
  .d-none-on-md{
    display: none;
  }
  .personnel-summary .card-body {
    height: 12em;
  }


}

@media (min-width: 800px) and (max-width: 1199px) {
  .personnel-summary .card_img {
    height: 20em;
    line-height: 20em;
    position: relative;

  }
  .d-none-on-md{
    display: none;
  }

  .personnel-summary .card-body {
    height: 10em;
  }
}
.d-none-on-md{
  font-size: .8em;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .personnel-summary .card_img {
    height: 23em;
    line-height: 23em;
    position: relative;

  }

  .personnel-summary .card-body {
    height: 18em;
  }
}

@media (min-width: 1401px) {
  .personnel-summary .card_img {
    height: 25em;
    line-height: 25em;
    position: relative;
  }

  .personnel-summary .card-body {
    height: 14em;
  }
}

.card-header.personnel-summary {
  text-align: center;
  font-weight: bolder;
}

.card.personnel-header-summary {
  margin-top: 2em;
}

.personnel-btn-group {
  width: 100%;
  padding-bottom: .5em;
}

.personnel-summary .card-title {
  font-size: 1em;
  font-weight: bolder;
}


