<div class="row">
  <div class="col">
    <accordion [closeOthers]="true">
      <accordion-group *ngFor="let dept of deptList" [heading]="'+ '+ dept.FullName" (click)="onDepartmentSelect(dept)">
        <div class="row">
          <div class="col-12">
            <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
                   (onClosed)="onAlertClosed()">
              <strong>Success!</strong> {{alertMsg}}
            </alert>
            <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
                   (onClosed)="onAlertClosed()">
              <strong>Sorry!</strong> {{alertMsg}}
            </alert>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header academics-header">
                <div class="row">
                  <div class="col-md-10">
                    <h5>
                      <i class="fas fa-university"></i>
                      Programs offered in {{dept.DepartmentID}}</h5>
                  </div>
                  <div class="col-md-2">
                    <h5>
                      <a class="card-link" (click)="onProgramOptionClick('Add',null,prog_modal)"><i
                        class="fas fa-plus-square"></i> Add</a>
                    </h5>
                  </div>

                </div>
              </div>
              <div class="card-body academics-body" *ngFor="let prog of progList;  let i of $index">
                <div class="row info-list">
                  <div class="col-md-9">
                    <div class="row">
                      <h5 class="card-title">{{prog.ProgramName}}</h5>
                    </div>
                    <p class="card-text">{{prog.Concentration}}</p>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col">
                        <a class="card-link green-text" (click)="onProgramOptionClick('Update',i,prog_modal)">
                          <i class="fas fa-edit"></i> Update</a>
                      </div>
                      <div class="col">
                        <a class="card-link red-text" (click)="onProgramOptionClick('Delete',i,prog_modal)"><i
                          class="fas fa-trash-alt"></i> Delete</a>
                      </div>
                      <div class="col">
                        <a class="card-link brown-text" (click)="onProgramOptionClick('Syllabus',i,prog_modal)"><i
                          class="fas fa-book"></i>
                          Syllabus</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="showSyllabusReview[dept.DepartmentID]">
            <app-syllabus-review [selectedProgram]="selectedProgram"
                                 (syllabusReviewBeingDestroyed)="onSyllabusReviewDestroyed()">

            </app-syllabus-review>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
<ng-template #prog_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>{{selectedProgram.ProgramName}} Details</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #progFrom="ngForm" class="professional-req-form modal-form-wide">
      <div class="form-group">
        <label for="prog_id">Program Name</label>
        <input type="text" required class="validate form-control" id="prog_id"
               name="prog_id"
               placeholder="Name of the Program" [(ngModel)]="selectedProgram.ProgramName">
      </div>


      <div class="form-group">
        <label for="prog_conc">Concentration</label>
        <input type="text" required class="validate form-control" id="prog_conc"
               name="prog_conc"
               placeholder="Concentration of the Department" [(ngModel)]="selectedProgram.Concentration">
      </div>

      <div class="form-group">
        <label for="prog_about">Program Description</label>
        <quill-editor name="prog_about" required class="validate form-control"
                      id="prog_about" [(ngModel)]="selectedProgram.ProgramDescription"></quill-editor>

      </div>

      <div class="row">
        <div class="col s6">
          <button type="submit" (click)="onProgCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!progFrom.form.valid" class="btn-primary btn"
                  (click)="onProgSaveClick()">Save
          </button>
        </div>
      </div>
    </form>

  </div>
</ng-template>


