<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light iut-nav">
  <a href="http://www.iutoic-dhaka.edu" target="_blank" class="d-none d-md-block navbar-brand">

    <img class="iut-nav-logo" src="assets/images/iut-logo.png"/>
  </a>

  <div class="d-none d-xl-block mr-auto">
    <a href="http://www.iutoic-dhaka.edu" target="_blank" class="navbar-text green-text nav-iut-text">IUT</a>
    <div class="vertical-lines">
    </div>
    <a href="#!" class="navbar-text primary-ascent-text nav-text">Computer Science and Engineering</a>
  </div>
  <div class="d-none d-md-block d-xl-none mr-auto">
    <a href="http://www.iutoic-dhaka.edu" target="_blank" class="navbar-text green-text nav-iut-text-md">IUT</a>
    <div class="vertical-lines vertical-lines-md">
    </div>
    <a href="#!" class="navbar-text primary-ascent-text nav-text-md">Computer Science and Engineering</a>
  </div>
  <div class="d-block d-md-none mr-auto">
    <a href="http://www.iutoic-dhaka.edu" target="_blank" class="navbar-text green-text nav-iut-text-sm">IUT</a>
    <div class="vertical-lines vertical-lines-md">
    </div>
    <a href="#!" class="navbar-text primary-ascent-text nav-text-sm">CSE</a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item  vl" routerLinkActive="active">
        <a routerLink="cse/home" class="nav-link" href="#!">&lt;<i class="fas fa-home" tooltip="Home"
                                                                   placement="bottom"></i> <span
          class="d-lg-none d-xl-inline">home</span>/&gt; </a>
      </li>
      <li class="nav-item dropdown vl">
        <a class="nav-link dropdown-toggle" href="#" id="humansDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          &lt;<i class="fas fa-smile" tooltip="CSE Family" placement="bottom"></i> <span class="d-lg-none d-xl-inline">people</span>/&gt;
        </a>
        <ul class="dropdown-menu" aria-labelledby="humansDropdown">
          <li routerLinkActive="active">
            <a class="dropdown-item" routerLink="cse/personnel" href="#">faculty &amp; staff</a>
          </li>
          <li routerLinkActive="active">
            <a class="dropdown-item" routerLink="cse/alumni" href="#">alumni</a>
          </li>
        </ul>
      </li>
      <li class="nav-item vl" routerLinkActive="active">
        <a class="nav-link" routerLink="cse/academics">
          &lt;<i class="fas fa-graduation-cap" tooltip="Academics" placement="bottom"></i> <span
          class="d-lg-none d-xl-inline">academics</span>/&gt;
        </a>
      </li>

      <li class="nav-item vl" routerLinkActive="active">
        <a class="nav-link" routerLink="cse/research">
          &lt;<i class="fas fa-book" tooltip="Research" placement="bottom"></i> <span class="d-lg-none d-xl-inline">research</span>/&gt;
        </a>
      </li>

      <li class="nav-item vl" routerLinkActive="active">
        <a class="nav-link" routerLink="cse/information">
          &lt;<i class="fas fa-info-circle" tooltip="information" placement="bottom"></i> <span
          class="d-lg-none d-xl-inline">info</span>/&gt;
        </a>
      </li>
      <li class="nav-item vl" routerLinkActive="active" [hidden]="username">
        <a class="nav-link" (click)="openLoginComponent(login_modal)">
          &lt;<i class="fas fa-sign-in-alt" tooltip="Login or Sign Up" placement="bottom"></i> <span
          class="d-lg-none d-xl-inline">login</span>/&gt;
        </a>
      </li>
      <li class="nav-item vl" routerLinkActive="active" [hidden]="!username">
        <a class="nav-link" (click)="openLoginComponent(profile_modal)">
          &lt;<i class="fas fa-user" tooltip="{{username}}" placement="bottom"></i> <span class="d-lg-none d-xl-inline">{{username|slice:0:7}}</span>/&gt;
        </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #profile_modal>
  <app-profile
    [fromProfileDetails]="false"
    (onSignOutButtonClick)="onSignOutClick()"
    (onProfileDetailsButtonClick)="onProfileDetailsClick($event)"
    [username]="username"></app-profile>
</ng-template>

<ng-template #login_modal>

  <div name="nav-login-form" class="inner-div">
    <app-login-form (onLogInButtonClick)="onLogInButtonClick($event)"
                    (onSignUpButtonClick)="onSignUpButtonClick()"
                    [errorMsg]="errorMessage"
                    [googleApiInfo]="googleApiInfo"></app-login-form>
  </div>
  <div name="nav-reg-form" class="inner-div">
    <app-registration-form (isRegSuccess)="onRegSubmit($event)"
                           (cancelButtonClick)="regCancelClick($event)"
                           (hasAccount)="hasAccount($event)"
                           [errorMsg]="errorMessage"
                           [googleApiInfo]="googleApiInfo"></app-registration-form>
  </div>

</ng-template>
