<div class="card animated fadeIn">
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div *ngIf="!isDeptFixed" class="card-header academics-header">
    <div class="row">
      <div class="col-md-10">
        <h5>
          <i class="fas fa-book"></i>
          Course Details</h5>
      </div>

    </div>
  </div>
  <div *ngIf="isDeptFixed">
    <div class="btn-group card-body academic-btn-group" role="group" aria-label="cse_personnel">
      <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':id==='program_details'}"
              id="program_details" (click)="onAcademicDetailsChoiceClicked('program_details')">
        Program Description
      </button>
      <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':id==='course_details'}"
              id="course_details" (click)="onAcademicDetailsChoiceClicked('course_details')">
        Course List
      </button>
    </div>
  </div>

  <div class="card-body academics-body animated fadeIn" >
    <div class="row professional-panel">
      <div *ngIf="isDeptFixed && id==='program_details'" >
        <h2 class="primary-ascent-text ml-3">
          {{selectedProgram.ProgramName}} - {{selectedProgram.Concentration}}
        </h2>
        <div class="amber-text ml-3" *ngIf="!selectedProgram.ProgramDescription">
          No description found
        </div>
        <div  class="ql-editor header" [innerHtml]="selectedProgram.ProgramDescription|safeHtml">

        </div>
      </div>


      <div class="col-md-3 tool" *ngIf="id==='course_details'">
        <div class="panel-body card-body card-block">
          <div>
            <h3 class="component-title primary-ascent-text">
              <i class="fas fa-wrench"></i>
              <span>Search Course List</span>
            </h3>
          </div>

          <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
          <form #courseSearch="ngForm" id="course_search_panel">
            <div class="form-group" *ngIf="!isDeptFixed">
              <label for="course_dept">Department</label>
              <select required class="validate form-control" id="course_dept" name="course_dept"
                      (change)="fetchProgramList($event.target.value)">
                <option selected hidden value="">Select Department</option>
                <option *ngFor="let dept of deptList" [value]="dept.DepartmentID">
                  {{dept.DepartmentID}}
                </option>
              </select>
            </div>
            <div class="form-group" *ngIf="progList.length>0 && !isDeptFixed">
              <label for="course_prog">Program</label>
              <select required class="validate form-control" id="course_prog" name="course_prog"
                      (change)="fetchReviewList($event.target.value)">
                <option [selected]="progSelection===0" hidden value="">Select Program</option>
                <option [selected]="progSelection===prog.ProgramID" *ngFor="let prog of progList" [value]="prog.ProgramID">
                  {{prog.ProgramName}}
                </option>
              </select>
            </div>
            <div class="form-group amber-text" *ngIf="isDeptFixed && reviewList.length===0">Course list empty</div>
            <div class="form-group" *ngIf="reviewList.length>0">
              <label for="course_review">Syllabus Revision</label>
              <select required class="validate form-control" id="course_review" name="course_review"
                      (change)="fetchCourseList($event.target.value)">
                <option [selected]="reviewSelection===0" hidden value="">Select Syllabus Version</option>
                <option [selected]="reviewSelection===review?.SyllabusReviewID" *ngFor="let review of reviewList" [value]="review?.SyllabusReviewID">
                  <span *ngIf="!review?.IsCurrentlyActive">{{review?.StartAY}} to {{review?.EndAY}}</span>
                  <span *ngIf="review?.IsCurrentlyActive">{{review?.StartAY}} to Present</span>
                </option>
              </select>
            </div>

            <div class="form-group" *ngIf="semesterList.length>0">
              <label for="course_semester">Semester</label>
              <select required class="validate form-control" id="course_semester" name="course_semester"
                      (change)="fetchCourseListBySemester($event.target.value)">
                <option [selected]="!semesterSelection" hidden value="">Select Semester</option>
                <option [selected]="semesterSelection===semester" *ngFor="let semester of semesterList" [value]="semester">
                  <span>{{semester}}</span>
                </option>
              </select>
            </div>
            <div  class="form-group" *ngIf="!isDeptFixed && selectedReview?.SyllabusReviewID>0">
              <h5 class="text-on-amber">
                <a class="card-link" (click)="onFormRequest(course_modal)"><i class="fas fa-plus-square"></i> Add New
                  Course</a>
              </h5>
            </div>
          </form>
        </div>

      </div >
      <div class="col-md-9"  *ngIf="(isDeptFixed && id==='course_details') || !isDeptFixed">
        <div class="panel-body card-body card-block constrained-list-view" style="padding-bottom:1.75rem"
             [hidden]="selectedCourseList?.length===0">
          <div>
            <h3 class="component-title primary-ascent-text">
              <i class="fas fa-list-ul"></i>
              <span>{{selectedProgram?.ProgramName}} {{selectedSemester}} Semester</span>
            </h3>
            <p class="primary-ascent-text subtitle">
              Syllabus Version: {{selectedReview?.StartAY}} to <span
              *ngIf="selectedReview?.IsCurrentlyActive">Present</span>
              <span *ngIf="!selectedReview?.IsCurrentlyActive">{{selectedReview?.EndAY}}</span>
            </p>
          </div>

          <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
          <div id="course_list_view" class="constrained-scroll">
            <div *ngFor="let c of selectedCourseList">
              <div class="card-body">
                <div class="row info-list">
                  <div class="col-md-9">
                    <div class="row">
                      <h5 class="card-title">{{c.CourseCode}}: {{c.CourseName}}</h5>
                    </div>
                    <div class="row">
                      <div *ngIf="c.Credit" class="col-lg-3 col-md-12">
                        <p class="card-text">Credit: <span class="badge badge-secondary" style="font-size: 100%">{{c.Credit}}</span></p>
                      </div>
                      <div *ngIf="c.CreditHour" class="col-lg-4 col-md-12">
                       <p class="card-text">Credit Hours: <span class="badge badge-secondary" style="font-size: 100%">{{c.CreditHour}}</span></p>
                      </div>
                      <div class="col-lg-5 col-md-12">
                        <p class="card-text brown-text" *ngIf="c.IsOffered">Currently Offered</p>
                        <p class="card-text amber-text" *ngIf="!c.IsOffered">Course Not Offered</p>
                      </div>
                    </div>


                    <div *ngIf="c.CourseID===selectedCourseDetailsID">
                      <div *ngIf="assignedFacultyList.length>0">
                        <div class="card-title">
                          Assigned Faculty:
                        </div>
                        <div class="large-text info-list">
                          <div *ngFor="let f of assignedFacultySummary" class="d-inline">
                            <span class="badge badge-info">
                              {{f.Name}}
                              <a class="badge badge-dark inner-badge-clicker" (click)="externalLinkFaculty(f)">
                               <i class="fas fa-external-link-alt"></i>
                              </a>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="card-title">
                        Syllabus Details:
                      </div>
                      <div class="large-text info-list">
                        <label *ngIf="selectedSyllabus.SyllabusDetails">{{selectedSyllabus.SyllabusDetails}}</label>
                        <span class="amber-text" *ngIf="!selectedSyllabus.SyllabusDetails">No description found</span>
                      </div>
                      <div class="card-title">
                        Recommended Texts:
                      </div>
                      <div class="large-text info-list">
                        <label *ngIf="selectedSyllabus.TextBooks">{{selectedSyllabus.TextBooks}}</label>
                        <span class="amber-text" *ngIf="!selectedSyllabus.TextBooks">No textbooks found</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col" *ngIf="!isDeptFixed">
                        <a class="card-link green-text" (click)="updateDetails(c,course_modal)">
                          <i class="fas fa-edit"></i> Update</a>
                      </div>
                      <div class="col" *ngIf="!isDeptFixed">
                        <a class="card-link red-text" (click)="deleteDetails(c)"><i class="fas fa-trash-alt"></i>
                          Delete</a>
                      </div>
                      <div class="col" *ngIf="c.CourseID!==selectedCourseDetailsID">
                        <a class="card-link brown-text" (click)="onCourseDetailsExpand(c.CourseID)">
                          <i class="fas fa-expand"></i>
                          Expand
                        </a>
                      </div>
                      <div class="col" *ngIf="c.CourseID===selectedCourseDetailsID">
                        <a class="card-link brown-text" (click)="removeSyllabusData()">
                          <i class="fas fa-compress"></i>
                          Compress
                        </a>
                      </div>
                      <div class="col" *ngIf="c.IsOffered && !isDeptFixed">
                        <a class="card-link text-on-amber" (click)="onAssignFaculty(c.CourseID, assign_faculty_modal)">
                          <i class="fas fa-user"></i>
                          Faculty
                        </a>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<ng-template #assign_faculty_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-user"></i>
        <span>Assign Faculty for {{selectedCourse.CourseCode}}</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <div *ngFor="let f of assignedFacultySummary" class="d-inline">
      <span class="badge badge-info">
        {{f.Name}}
        <a class="badge badge-dark inner-badge-clicker" (click)="removeFaculty(f)">
          &#x2716;
        </a>
      </span>
    </div>

    <app-search-faculty [departmentList]="deptList"
                        (onFormRequestSubmitted)="onAssignFacultyRequest($event)">

    </app-search-faculty>

  </div>
</ng-template>


<ng-template #course_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>Course Details</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #courseFrom="ngForm" class="professional-req-form modal-form-wide">

      <div class="form-group">
        <label for="course_code">Course Code</label>
        <input type="text" required class="validate form-control" id="course_code" name="course_code"
               placeholder="Course Code" [(ngModel)]="selectedCourse.CourseCode">
      </div>


      <div class="form-group">
        <label for="course_title">Course Title </label>
        <input type="text" required class="validate form-control" id="course_title"
               name="course_title"
               placeholder="Title of the Course" [(ngModel)]="selectedCourse.CourseName">
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="course_form_semester">Semester</label>
          <select required class="validate form-control" id="course_form_semester" name="course_form_semester"
                  [(ngModel)]="selectedCourse.Semester">
            <option selected hidden value="">Select Semester</option>
            <option *ngFor="let sem of semesters">
              {{sem}}
            </option>
          </select>
        </div>

        <div class="form-group col">
          <label for="course_credit">Course Credit</label>
          <input type="number" required class="validate form-control" id="course_credit"
                 name="course_credit"
                 placeholder="Course Credits" [(ngModel)]="selectedCourse.Credit">
        </div>
        <div class="form-group col">
          <label for="course_credit_hour">Credit Hour</label>
          <input type="number" required class="validate form-control" id="course_credit_hour"
                 name="course_credit_hour"
                 placeholder="Credit hours" [(ngModel)]="selectedCourse.CreditHour">
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="selectedCourse.IsOffered" type="checkbox"
                 value=""
                 id="course_is_offered" name="course_is_offered">
          <label class="form-check-label" for="course_is_offered">
            Currently Offered?
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="course_syllabus_details">Syllabus Details</label>
        <textarea type="text" required class="validate form-control" id="course_syllabus_details"
                  name="course_syllabus_details"
                  placeholder="Detailed Syllabus"
                  [(ngModel)]="selectedSyllabus.SyllabusDetails"></textarea>
      </div>

      <div class="form-group">
        <label for="course_textbook">Textbook Details</label>
        <textarea type="text" class="validate form-control" id="course_textbook" name="course_textbook"
                  placeholder="Textbook List"
                  [(ngModel)]="selectedSyllabus.TextBooks"></textarea>
      </div>


      <div class="row">
        <div class="col s6">
          <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!courseFrom.form.valid" class="btn-primary btn"
                  (click)="onSaveClick()">Save
          </button>
        </div>
      </div>
    </form>

  </div>
</ng-template>
