<form #locationFrom="ngForm">

  <div class="form-group">
    <label for="location_address">Address</label>
    <textarea type="text" required class="validate form-control" id="location_address" name="location_address"
              placeholder="Address" [(ngModel)]="location.Address"></textarea>
  </div>
  <div class="form-group">
    <label for="location_city">City</label>
    <input type="text" required class="validate form-control" id="location_city" name="location_city"
           placeholder="City" [(ngModel)]="location.City">
  </div>
  <div class="form-group">
    <label for="location_country">Country</label>
    <select name="location_country" class="form-control validate" id="location_country" required
            [(ngModel)]="location.Country">
      <option *ngFor="let country of countries">
        {{country.name}}
      </option>
    </select>
  </div>
</form>
