<ng-template #searchPeopleTemplate>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>Chat Group Details</span>
      </h3>
    </div>
    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #chat_group_form="ngForm" class="professional-req-form" autocomplete="off">
      <div class="form-group" *ngIf="userID===chatGroup.CreatorID">
        <label for="group_title">Group Title</label>
        <input type="text" class="validate form-control" id="group_title" name="group_title"
               placeholder="Message Group Title (Optional)" [(ngModel)]="chatGroup.Name">
      </div>
      <div class="form-group">
        <h5 class="secondary-ascent-text">Add/Edit Participants</h5>
      </div>
      <app-search-profile
        [userID]="userID"
        [chatGroup]="chatGroup"
        [passedProfileSummaryList]="changedProfileSummaryList"
        (onProfileSummaryListChanged)="onProfileSummaryListChanged($event)"
      ></app-search-profile>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col-md-3">
          <button type="submit" [disabled]="!chat_group_form.form.valid" class="btn-primary btn"
                  (click)="onSaveClick()">Save
          </button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
</ng-template>
<div>
</div>
<div class="row">
  <div class="col-lg-5 col-xl-3">
    <div class="card need-side-nav">
      <div class="card-header">
        <h5>Message History</h5>
      </div>
      <div class="card-body">
        <button class="btn btn-primary card-header button-accordion"
                (click)="requestGroupAddOrEdit(false,searchPeopleTemplate)">
          <i class="fas fa-pen-square"></i> Write New Message
        </button>
        <accordion [closeOthers]="true">
          <accordion-group [isOpen]="group?.ChatGroupID===chatGroup.ChatGroupID" *ngFor="let group of chatGroups"
                           heading="+ {{group?.Name}}"
                           (isOpenChange)="onChatGroupSelected(group?.ChatGroupID,$event)">
            <div class="row info-list" *ngIf="chatGroup?.ChatGroupID">
              <div class="col-12" *ngIf="chatGroup?.CreatorID===userID">
                <a (click)="requestGroupAddOrEdit(true,searchPeopleTemplate)" class="card-link green-text">
                  <i class="fas fa-edit"></i> Update</a>
              </div>
              <div class="col-12" *ngIf="chatGroup?.CreatorID!==userID">
                <a (click)="requestGroupAddOrEdit(true,searchPeopleTemplate)" class="card-link green-text">
                  <i class="fas fa-edit"></i> Edit Group Members</a>
              </div>
              <div class="col-12" *ngIf="chatGroup?.CreatorID===userID">
                <a class="card-link red-text" (click)="deleteChatGroup(group)"><i class="fas fa-trash-alt"></i>
                  Delete</a>
              </div>
              <div class="col-12" *ngIf="chatGroup?.CreatorID!==userID">
                <a class="card-link red-text" (click)="leaveChatGroup(group)">
                  <i class="fas fa-times-circle"></i> Leave Group</a>
              </div>
            </div>
            <div class="row" style="padding-bottom: .5rem">
              <div class="col-12 info-list" *ngFor="let user of chatGroup?.GroupMembers">
                <div class="row">
                  <div class="col-3">
                    <div style="position: relative">
                      <img style="position: absolute;" *ngIf="getPeopleSummaryForDOM(user.UserID)?.image"
                           src="{{getPeopleSummaryForDOM(user.UserID)?.imageType}},{{getPeopleSummaryForDOM(user.UserID)?.image}}"
                           class="profile-thumb img-thumbnail">
                      <img style="position: absolute;" *ngIf="!getPeopleSummaryForDOM(user.UserID)?.image"
                           src="assets/images/placeholder.png"
                           class="profile-thumb img-thumbnail">
                      <div class="dot"
                           [ngClass]="{'d-none':userStatuses?.indexOf(user?.userID)===-1,'d-block':userStatuses?.indexOf(user?.UserID)!==-1}">
                      </div>
                    </div>
                  </div>
                  <div class="col-9 profile-summary-text">
                    <a class="card-link secondary-ascent-text" (click)="onProfileLinkCliked(user.UserID)">
                      {{getPeopleSummaryForDOM(user.UserID)?.name}}</a>
                    <p>{{getPeopleSummaryForDOM(user.UserID)?.remark}}</p>
                  </div>
                </div>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>

  </div>
  <div class="col-lg-7 col-xl-9" id="chat-window-container"
       [ngClass]="{'is-compressed':isChatWindowCompressed,'is-expanded nav-height':!isChatWindowCompressed}">
    <div class="card" *ngIf="chatGroup?.ChatGroupID">
      <div class="chat-header card-header small-card-header personal-header">
        <div class="row">
          <div class=" d-none d-sm-block col-10 col-md-12">
            <h5>{{chatGroup?.Name}}</h5>
          </div>
          <div class=" d-block d-sm-none  col-10 col-md-12">
            <h6>{{chatGroup?.Name}}</h6>
          </div>
          <div class="col-2 d-block d-md-none" style="text-align: right" >
            <a class="card-link" (click)="isChatWindowCompressed=!isChatWindowCompressed;mobileChatView()"><i
              *ngIf="!isChatWindowCompressed" class="fas fa-compress"></i><i *ngIf="isChatWindowCompressed"
                                                                             class="fas fa-expand-arrows-alt"></i></a>
          </div>
        </div>
      </div>
      <div class="card-body chat-window-card-body">
        <div [style.bottom.px]="getChatWindowHeight()" class="chat-window" #chatWindow
             [scrollTop]="chatWindow.scrollHeight">
          <div class="info-list" *ngFor="let m of chatGroup?.Messages">
            <div [ngClass]="{'self-message':m.SenderID===userID,'other-message':m.SenderID!==userID}">
              <div class="d-inline-block" *ngIf="m.SenderID!==userID">
                <div class="d-none d-sm-block" style="position: relative">
                  <div class="dot"
                       [ngClass]="{'d-none':userStatuses?.indexOf(m.SenderID)===-1,'d-block':userStatuses?.indexOf(m.SenderID)!==-1}">
                  </div>
                  <img *ngIf="getPeopleSummaryForDOM(m.SenderID)?.image"
                       src="{{getPeopleSummaryForDOM(m.SenderID)?.imageType}},{{getPeopleSummaryForDOM(m.SenderID)?.image}}"
                       class="profile-thumb img-thumbnail">
                  <img *ngIf="!getPeopleSummaryForDOM(m.SenderID)?.image"
                       src="assets/images/placeholder.png"
                       class="profile-thumb img-thumbnail">
                </div>
              </div>
              <div class="d-inline-block msg-block">
                <div class="msg-metadata">
                  <span
                    *ngIf="m.SenderID!==userID"><strong>{{getPeopleSummaryForDOM(m.SenderID)?.name}}</strong>, </span>
                  {{m.TimeStamp|date:'dd/MM/yyyy,h:mm:ss a'}}
                </div>
                <div *ngIf="m.MessageFileType==='text'" class="large-text"><label >{{m.MessageText}}</label></div>
                <div *ngIf="m.MessageFileType.match('image')" (click)="downloadFile(m)">
                  <img *ngIf="!m.MessageFile"
                       src="assets\images\Loading-gif.gif"
                       class="card-link profile-thumb img-thumbnail">
                  <img *ngIf="m.MessageFile"
                       src="{{m.MessageFileType}},{{m.MessageFile}}"
                       class="card-link profile-thumb img-thumbnail">
                  <br/>
                  <label>{{m.MessageFileName}}</label>
                </div>
                <div style="cursor: pointer" (click)="downloadFile(m)"
                     *ngIf="!m.MessageFileType.match('image') && m.MessageFileType!=='text'">
                  <i class="fas fa-download fa-5x grey-text"></i>
                  <br/>
                  <label>{{m.MessageFileName}}</label>
                </div>
              </div>
              <div class="d-inline-block delete-msg">
                <a class="card-link" *ngIf="m.SenderID===userID" (click)="deleteMessage(m)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
        <form class="message-window" #chat_message_form="ngForm" autocomplete="off">
          <div class="row">
            <div class="col-sm-10 col-md-9 col-lg-10">
              <div class="form-group">
                <textarea type="text" class="validate form-control" id="message_title"
                          name="message_title"
                          *ngIf="!selectedMessage?.MessageFileName"
                          placeholder="Message" [(ngModel)]="selectedMessage.MessageText"></textarea>
                <div class="d-inline-block" *ngIf="selectedMessage?.MessageFileName">
                  <label>{{selectedMessage.MessageFileName}}</label>
                  <label class="chat-send" (click)="removeFile()"><i class="fas fa-trash-alt"></i></label>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-3 col-lg-2 chat-control-panel">
              <input type="file" (change)="onFileChange($event)" accept="*/*" name="chat-file" id="chat-file"
                     class="inputfile"/>
              <label for="chat-file" class="chat-send"><i class="fas fa-file-alt"></i></label>
              <label class="chat-send" (click)="messageEntered()"><i class="fas fa-share-square"></i></label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
