.info-list {
  margin-bottom: .5em;
}

.button-accordion {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  width: 100%;
  font-weight: 600;
  border-color: transparent;
}

.profile-summary-text {
  padding-left: 0em;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #02A54C;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
}

.chat-window {
  overflow-x: hidden;
  overflow-y: auto;
}

.need-side-nav {
  font-size: .8em;
}



@media (max-width: 767px) {
  #chat-window-container.is-expanded {
    z-index: 100;
    position: fixed;
    left: 0;
    padding: 0;
  }
  #chat-window-container .message-window {
    height: auto!important;
    bottom: 0!important;
  }


  #chat-window-container.is-compressed {
    position: relative;
  }
}

.inputfile {
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.chat-send {
  cursor: pointer;
  font-size: 1.25em;
  color: grey;
  padding: 0 .5em;
}
.chat-control-panel{
  text-align: center;
}
.inputfile + label {
  font-size: 1.25em;
  color: grey;
  display: inline-block;
}

.inputfile + label {
  cursor: pointer;
}

#chat-window-container .card {
  height: 100%;
}

#chat-window-container .card-body {
  position: relative;
}

#chat-window-container .chat-window {
  position: absolute;
  top: 5px;
  left: 2%;
  right: 2%;
  padding: 0 1em;
}

#chat-window-container .message-window {
  position: absolute;
  bottom: 2%;
  left: 2%;
  right: 2%;
  padding: 0.1em;
  border-top: solid grey;
}

.self-message {
  text-align: right;
}

.other-message {
  text-align: left;
}

.msg-metadata {
  text-decoration: underline;
  color: grey;
  font-size: .7em;
}

.msg-block {
  padding: 0 .5em;
}

.delete-msg {
  vertical-align: super;
  color: grey;
}

img.profile-thumb {
  max-height: 4em;
}

.chat-window-card-body{
  padding: 0!important;
}
