<ng-template #faculty_research_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>Publication Details</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #faculty_research_Form="ngForm" class="professional-req-form modal-form-wide">

      <div class="form-group">
        <label for="pub_title">Title</label>
        <input type="text" required class="validate form-control" id="pub_title" name="pub_title"
               placeholder="Title (Max Length: 1000)" [(ngModel)]="selectedPublication.Title" maxlength="1000">
      </div>


      <div class="form-group">
        <label for="pub_authors">Authors</label>
        <input type="text" required class="validate form-control" id="pub_authors" name="pub_authors"
               placeholder="List of Authors" [(ngModel)]="selectedPublication.AuthorList">

        <small id="authorHelp" class="form-text text-muted">Separate names with semi-colon (;)</small>
      </div>
      <div class="form-group">
        <label for="pub_pubin">Published In</label>
        <input type="text" required class="validate form-control" id="pub_pubin" name="pub_pubin"
               placeholder="Published In" [(ngModel)]="selectedPublication.PublishedIn">
      </div>
      <div class="row">
        <div class="form-group col col-6">
          <label for="pub_year">Year</label>
          <input type="number" required class="validate form-control" id="pub_year" name="pub_year"
                 placeholder="Publishing Year" [(ngModel)]="selectedPublication.Year">
        </div>
        <div class="form-group col col-6 ">
          <label for="pub_type">Publication Type</label>
          <select name="pub_type" class="form-control validate" id="pub_type" required
                  [(ngModel)]="selectedPublication.Type">
            <option *ngFor="let type of types">
              {{type}}
            </option>
          </select>
        </div>

      </div>
      <div class="form-group">
        <label for="pub_abstract">Abstract</label>
        <textarea type="text" class="validate form-control" id="pub_abstract" name="pub_abstract"
                  [(ngModel)]="selectedPublication.Abstract"></textarea>
      </div>
      <div class="form-group">
        <label for="pub_url">URL</label>
        <input type="url" class="validate form-control" id="pub_url" name="pub_url"
               placeholder="Content URL" [(ngModel)]="selectedPublication.Url">
      </div>
      <div class="form-group">
        <label for="pub_material">Publication Material</label>
        <input type="file" class="form-control-file" name="pub_material" id="pub_material" aria-describedby="publicationMaterial" accept="*/*"
               (change)="onFileChange($event)"/>
        <small id="publicationMaterial" class="form-text text-muted">{{selectedPublication?.MaterialName}}
          <span *ngIf="selectedPublication?.MaterialName"><a (click)="removeSelectedPublicationFile()" class="card-link red-text"><i class="fas fa-trash-alt"></i></a></span>
        </small>
      </div>

      <div class="sub-form">
        <div class="form-btn-group">
          <div class="btn-group research-btn-group" role="group" aria-label="cse_research">
            <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':searchUser===0}"
                    id="personnel_f"
                    (click)="showUserGroup(0)">Link Faculty Profile
            </button>
            <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':searchUser===1}"
                    id="personnel_s"
                    (click)="showUserGroup(1)">Link Alumni Profile
            </button>
          </div>
        </div>

        <div class="form-group">
          <div *ngFor="let author of selectedUserList">
        <span class="badge badge-info">
        {{author.name}}
        <a *ngIf="author.id!==userID" class="badge badge-dark inner-badge-clicker"
           (click)="removeAuthor(author.id)">
          &#x2716;
        </a></span>

          </div>
        </div>
        <h5 *ngIf="searchUser===0">Link Faculty Profiles</h5>
        <h5 *ngIf="searchUser===1">Link Alumni Profiles</h5>
        <app-search-faculty *ngIf="searchUser===0"
                            (onFormRequestSubmitted)="onFacultyAdded($event)">
        </app-search-faculty>
        <app-search-alumni *ngIf="searchUser===1"
                           (onFormRequestSubmitted)="onAlumniAdded($event)">
        </app-search-alumni>

      </div>
      <div class="row">
        <div class="col s6">
          <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!faculty_research_Form.form.valid" class="btn-primary btn"
                  (click)="onSaveClick()">Save
          </button>
        </div>
      </div>
    </form>

  </div>
</ng-template>
<div *ngIf="viewType==='person'">
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onMsgAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onMsgAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>

  <div class="card animated fadeIn">
    <div class="card-header personal-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-book"></i>
            Publication Details</h5>
        </div>
        <div class="col-md-2" *ngIf="isMyProfile">
          <h5>
            <a class="card-link" (click)="onFormRequest(null,faculty_research_modal)"><i
              class="fas fa-plus-square"></i> Add</a>
          </h5>
        </div>
      </div>
    </div>
    <div style="height: .1em; width: 100%">

    </div>

    <div *ngFor="let t of pubTypes">
      <div class="card-header">{{t}}(s)</div>
      <div *ngFor="let data of publicationList;  let i of $index">
        <div class="card-body" *ngIf="t===data.Type">
          <div class="row info-list">
            <div class="col-md-9">
              <div class="card-text">
                {{formatAuthors(data.AuthorList)}} . <strong>{{data.Title}}.</strong> In <i>{{data.PublishedIn}}</i>,
                <strong>{{data.Year}}</strong> <span *ngIf="data?.Url">Url: <a href="{{data.Url}}" class="card-link">Click Here</a></span>
              </div>
              <div class="card-body" *ngIf="data===selectedPublication">
                <h5 class="card-title">{{data?.Title}}</h5>
                <div class="card-text group-card-body info-list">
                  <label [id]="data.PublicationID">{{data?.Abstract}}</label>
                </div>

                <h5 class="card-title section-header">Published In</h5>
                <div class="card-text group-card-body info-list">
                  <label>{{data?.PublishedIn}}</label>
                  <br/>
                  <label>Publication Year: <b>{{data?.Year}}</b></label>
                </div>

                <h5 class="card-title section-header">Authors</h5>
                <div class="card-text group-card-body info-list">
                  <label>{{data?.AuthorList}}</label>
                </div>

                <h5 class="card-title section-header" *ngIf="data?.Url">Url</h5>
                <div class="card-text group-card-body info-list" *ngIf="data?.Url">
                  <a href="{{data?.Url}}" class="card-link">{{data?.Url}}</a>
                </div>

                <h5 class="card-title section-header" *ngIf="selectedUserList.length>0">Linked Faculty
                  Members</h5>
                <div class="row" *ngIf="selectedUserList.length>0">
                  <div class="col-lg-6" *ngFor="let member of selectedUserList">
                    <div class="row small-profile-desc">
                      <div class="col-lg-3 d-none d-lg-block left">
                        <img *ngIf="member?.image" class="img img-thumbnail"
                             src="{{member?.imageType}},{{member?.image}}">
                        <img *ngIf="!member?.image" class="img img-thumbnail"
                             src="assets\images\user.png">
                      </div>
                      <div class="col-lg-5 col-md-12 ml-md-4 center primary-ascent-text">
                        <h6 class="link" (click)="profileClicked(member?.id)">{{member?.name}}</h6>
                        <h6 class="brown-text">{{member?.remark}}</h6>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-3">
              <div class="row" *ngIf="isMyProfile && i.CreatorID===userID">
                <div class="col-lg-6">
                  <a (click)="onFormRequest(i,faculty_research_modal)" class="card-link green-text">
                    <i class="fas fa-edit"></i> Update</a>
                </div>
                <div class="col-lg-6">
                  <a (click)="deleteDetails(i)" class="card-link red-text"><i class="fas fa-trash-alt"></i>
                    Delete</a>
                </div>
                <div class="col-lg-6">
                  <a *ngIf="i.MaterialName" (click)="downloadMaterial(i)" class="card-link brown-text"><i
                    class="fas fa-download"></i>
                    Download</a>
                </div>
                <div class="col-lg-6">
                  <a *ngIf="data!==selectedPublication" (click)="showPubDetails(data)" class="card-link brown-text"><i
                    class="fas fa-expand"></i>
                    Expand</a>
                  <a *ngIf="data===selectedPublication" (click)="showPubDetails(null)" class="card-link brown-text"><i
                    class="fas fa-compress"></i>
                    Compress</a>
                </div>
              </div>
              <div class="row" *ngIf="!isMyProfile|| i.CreatorID!==userID">
                <div class="col-lg-6">
                  <a *ngIf="i.MaterialName" (click)="downloadMaterial(i)" class="card-link brown-text"><i
                    class="fas fa-download"></i>
                    Download</a>
                </div>
                <div class="col-lg-6">
                  <a *ngIf="data!==selectedPublication" (click)="showPubDetails(data)" class="card-link brown-text"><i
                    class="fas fa-expand"></i>
                    Expand</a>
                  <a *ngIf="data===selectedPublication" (click)="showPubDetails(null)" class="card-link brown-text"><i
                    class="fas fa-compress"></i>
                    Compress</a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="faculty-publications" class="animated fadeInUp" *ngIf="viewType==='department' || viewType==='researchGroup'">
  <div *ngIf="hideSpinner">
    <div *ngIf="pubTypes.length===0" class="amber-text">
      No Publications found!
    </div>
    <div *ngIf="viewType==='department'" class="mb-3">

      <div class="btn-grp-container">
        <div class="flex-wrap">
          <button type="button" class="btn btn-secondary" [ngClass]="{'active':selectedYear===-2}"
                  (click)="onYearClicked(-2)"> Statistics
          </button>
          <button type="button" class="btn btn-secondary" [ngClass]="{'active':selectedYear===-1}"
                  (click)="onYearClicked(-1)"> All
          </button>
          <button type="button" *ngFor="let y of pubYears" class="btn btn-secondary"
                  [ngClass]="{'active':selectedYear===y.Year}"
                  (click)="onYearClicked(y.Year)">{{y.Year}}
          </button>
        </div>
      </div>


    </div>
    <div *ngIf="selectedYear===-2">
      <div *ngIf="!chartLoaded">
        <div class="card-img-top summary-img gif">
          <img src="assets\images\Loading-gif.gif" style="margin-top:8vh" alt="Card image cap">
        </div>
      </div>
      <div *ngIf="chartLoaded">
        <div style="display: block">
          <canvas baseChart
                  [colors]="chartColors"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
    <div *ngIf="selectedYear>-2">
      <div *ngFor="let t of pubTypes" class="animated fadeIn">
        <div class="card-header">{{t}}(s)</div>
        <div *ngFor="let data of publicationList">
          <div class="card-body  pub-details" *ngIf="t===data.Type">
            <div class="row info-list">
              <div class="col-md-9">
                <div class="card-text" *ngIf="data!==selectedPublication">
                  {{formatAuthors(data.AuthorList)}} . <strong>{{data.Title}}.</strong> In <i>{{data.PublishedIn}}</i>,
                  <strong>{{data.Year}}</strong> <span *ngIf="data?.Url">Url: <a href="{{data.Url}}" class="card-link">Click Here</a></span>
                </div>
                <div class="card-body" *ngIf="data===selectedPublication">
                  <h5 class="card-title">{{data?.Title}}</h5>
                  <div class="card-text group-card-body info-list">
                    <label [id]="data.PublicationID">{{data?.Abstract}}</label>
                  </div>

                  <h5 class="card-title section-header">Published In</h5>
                  <div class="card-text group-card-body info-list">
                    <label>{{data?.PublishedIn}}</label>
                    <br/>
                    <label>Publication Year: <b>{{data?.Year}}</b></label>
                  </div>

                  <h5 class="card-title section-header">Authors</h5>
                  <div class="card-text group-card-body info-list">
                    <label>{{data?.AuthorList}}</label>
                  </div>

                  <h5 class="card-title section-header" *ngIf="data?.Url">Url</h5>
                  <div class="card-text group-card-body info-list" *ngIf="data?.Url">
                    <a href="{{data?.Url}}" class="card-link">{{data?.Url}}</a>
                  </div>

                  <h5 class="card-title section-header" *ngIf="selectedUserList.length>0">Linked Faculty
                    Members</h5>
                  <div class="row" *ngIf="selectedUserList.length>0">
                    <div class="col-lg-6" *ngFor="let member of selectedUserList">
                      <div class="row small-profile-desc">
                        <div class="col-lg-3 d-none d-lg-block left">
                          <img *ngIf="member?.image" class="img img-thumbnail"
                               src="{{member?.imageType}},{{member?.image}}">
                          <img *ngIf="!member?.image" class="img img-thumbnail"
                               src="assets\images\user.png">
                        </div>
                        <div class="col-lg-5 col-md-12 ml-md-4 center primary-ascent-text">
                          <h6 class="link" (click)="profileClicked(member?.id)">{{member?.name}}</h6>
                          <h6 class="brown-text">{{member?.remark}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col">
                    <a *ngIf="data.MaterialName" (click)="downloadMaterial(data)" class="card-link brown-text"><i
                      class="fas fa-download"></i>
                      Download</a>
                  </div>
                  <div class="col">
                    <a *ngIf="data!==selectedPublication" (click)="showPubDetails(data)" class="card-link brown-text"><i
                      class="fas fa-expand"></i>
                      Expand</a>
                    <a *ngIf="data===selectedPublication" (click)="showPubDetails(null)" class="card-link brown-text"><i
                      class="fas fa-compress"></i>
                      Compress</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!hideSpinner" style="height: 100vh"></div>


</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  color="#fff"
  type="ball-atom"
></ngx-spinner>


