.card-body {
  word-break: break-all;
}

.card {
  margin-bottom: 1em;
}

.card-img-top.summary-img.gif {
  height: 40vh;
}

.card-img-top.summary-img.gif img {
  margin-top: 19vh !important;
  height: 30px;
  width: 30px !important;
}

.btn-grp-container {
  text-align: center;
  width: 100%;
}

.flex-wrap .btn {
  width: 10em;
  margin: 0 .1em .1em .1em;
}

.btn.btn-secondary.active {
  color: #fff;
  background-color: #474e55;
  border-color: #4e555b;
}
