<div class="modal-form">
  <div>
    <h3 class="component-title primary-ascent-text truncate">
      <i class="fas fa-exchange-alt"></i>
      {{title}}
    </h3>
  </div>
  <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>

  <form #changePassForm="ngForm">
    <div class="form-group">
      <label for="oldPass"><i class="fas fa-key"></i> Old Password</label>
      <input type="password" [(ngModel)]="changePassword.OldPassword" name="oldPass" required class="validate form-control"
             id="oldPass" placeholder="Enter your Old Password">
    </div>

    <div class="form-group">
      <label for="newPass"><i class="fas fa-check"></i> New Password </label>
      <input type="password" [(ngModel)]="changePassword.NewPassword" name="newPass" required class="validate form-control"
             id="newPass" aria-describedby="newPasswordHelp"  placeholder="New Password">
      <small id="newPasswordHelp" class="form-text text-muted">
        <ul>
          <li>Passwords must be at least 6 characters</li>
          <li>Passwords must have at least one lowercase ('a'-'z')</li>
          <li>Passwords must have at least one uppercase ('A'-'Z')</li>
          <li>Passwords must have at least one digit ('0'-'9')</li>
          <li>Passwords must have at least one non alphanumeric character or special character</li>
        </ul>
      </small>
    </div>

    <div class="form-group">
      <label for="confirmPass"><i class="fas fa-clipboard-check"></i> Confirm Password</label>
      <input type="password" [(ngModel)]="changePassword.ConfirmPassword" name="confirmPass" required
             class="validate form-control"
             id="confirmPass" aria-describedby="confirmPasswordHelp" placeholder="Confirm Password">
      <small id="confirmPasswordHelp" class="form-text text-muted">
        Repeat the new Password
      </small>
    </div>

    <div class="row">
      <div class="col s6">
        <button type="submit" (click)="onCancelClick();" class="btn-primary btn">Cancel</button>
      </div>
      <div class="col s6">
        <button type="submit" [disabled]="!changePassForm.form.valid||changePassword.NewPassword!=changePassword.ConfirmPassword"
                (click)="onChangePasswordClick();" class="btn-primary btn">Submit
        </button>
      </div>
    </div>

  </form>

  <div class="row err-msg">
    <div class="col"> {{errorMsg}}</div>
  </div>


</div>
