<ng-template #pubItemTemplate let-model="item" let-index="index">
  <div class="row">
    <div class="col-9">
      <h5>{{model.Title}} </h5>
      <p>{{model.Type}}</p>
    </div>
  </div>
</ng-template>

<div class="modal-form">
  <form class="professional-req-form modal-form-wide" style="min-height: 0!important;">
    <div class="form-group">
      <label for="pub_search_dept">Select Department</label>
      <select required class="validate form-control" id="pub_search_dept" name="pub_search_dept"
              [(ngModel)]="selectedDepartment.DepartmentID" (change)="onDeptChange()">
        <option selected hidden value="">Select Department</option>
        <option *ngFor="let dept of departmentList" value="{{dept.DepartmentID}}">
          {{dept.DepartmentID}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="pub_search_title">Enter Publication Title</label>
      <input id="pub_search_title" name="pub_search_title"
             [(ngModel)]="selectedName"
             [typeahead]="publicationList"
             typeaheadOptionField="Title"
             (typeaheadOnSelect)="publicationOnSelect($event)"
             [typeaheadSingleWords]="typeaheadSingleWords"
             [typeaheadItemTemplate]="pubItemTemplate"
             placeholder="Publication Title"
             class="form-control">
    </div>
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-2" >
        <button type="submit" class="btn-sm btn-primary btn" (click)="onCancelAssignPublicationClick()">Close</button>
      </div>
      <div class="col-2">
        <button type="submit" [disabled]="!isSaveActivated || !selectedName" class="btn-sm btn-primary btn" (click)="onSaveAssignPublicationClick()">Assign
        </button>
      </div>
      <div class="col-4">

      </div>
    </div>
  </form>
</div>
