<div>
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="ondeptAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="ondeptAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div class="card">
    <div class="card-header academics-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-university"></i>
            Department Details</h5>
        </div>
        <div class="col-md-2">
          <h5>
            <a class="card-link" (click)="onDeptFormRequest(dept_modal)"><i
              class="fas fa-plus-square"></i> Add</a>
          </h5>
        </div>

      </div>
    </div>
    <div class="card-body academics-body" *ngFor="let deptDetails of deptList;  let i of $index">
      <div class="row info-list">
        <div class="col-md-9">
          <div style="font-size: .8rem" *ngIf="deptDetails.EstablishedIn">
            <span>Since {{deptDetails.EstablishedIn|date:'MMM, yyyy'}}</span>
          </div>
          <div class="row">
            <h5 class="card-title">{{deptDetails.FullName}} ({{deptDetails.DepartmentID}})</h5>
          </div>
          <div class="d-inline">
            <span *ngIf="deptDetails.Location" class="card-text"><strong class="primary-ascent-text">Office:</strong>
              {{deptDetails.Location}}</span>
            <span>
              &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span *ngIf="deptDetails.Email" class="card-text"><strong class="secondary-ascent-text">Email:</strong>
              {{deptDetails.Email}} </span>
          </div>
          <div class="row">
            <a class="card-link" *ngIf="!deptHeads.get(deptDetails.DepartmentID)"
               (click)="onAddDeptHeadClick(deptDetails,assign_dept_head_modal)">
              <span class="badge badge-primary">
              Assign Dept. Head
              </span>
            </a>
            <a class="card-link" *ngIf="deptHeads.get(deptDetails.DepartmentID)"
               (click)="onAddDeptHeadClick(deptDetails,assign_dept_head_modal)">
              <span class="badge badge-info">
               Department Head: <strong>{{deptHeads.get(deptDetails.DepartmentID)?.Name}}</strong>
                <a class="badge badge-dark inner-badge-clicker"
                   (click)="externalLinkHead(deptHeads.get(deptDetails.DepartmentID).FacultyID)"> <i
                  class="fas fa-external-link-alt"></i></a>
              </span>
            </a>

          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col">
              <a (click)="updateDeptDetails(i,dept_modal)" class="card-link green-text">
                <i class="fas fa-edit"></i> Update</a>
            </div>
            <div class="col">
              <a (click)="deleteDeptDetails(i)" class="card-link red-text"><i class="fas fa-trash-alt"></i> Delete</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #assign_dept_head_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title secondary-ascent-text">
        <i class="fas fa-user"></i>
        <span>Assign Head, Department of {{selectedDept.DepartmentID}}</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <div class="d-inline">
    <span class="badge badge-info" *ngIf="deptHeads.get(selectedDept.DepartmentID)">
    {{deptHeads.get(selectedDept.DepartmentID)?.Name}}
    <a class="badge badge-dark inner-badge-clicker" (click)="deleteDeptHead()">
    &#x2716;
    </a>
    </span>
    </div>

    <app-search-faculty [departmentList]="deptList"
                        (onFormRequestSubmitted)="addDeptHead($event)">

    </app-search-faculty>

  </div>
</ng-template>
<ng-template #dept_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>{{selectedDept.DepartmentID}} Department Details</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #deptFrom="ngForm" class="professional-req-form modal-form-wide">
      <div class="form-group">
        <label for="dept_id">Department ID</label>
        <input type="text" required class="validate form-control" id="dept_id"
               name="dept_id" [disabled]="enableEdit"
               placeholder="Department ID" [(ngModel)]="selectedDept.DepartmentID">
      </div>


      <div class="form-group">
        <label for="dept_name">Full Name</label>
        <input type="text" required class="validate form-control" id="dept_name"
               name="dept_name"
               placeholder="Full Name of the Department" [(ngModel)]="selectedDept.FullName">
      </div>

      <div class="form-group">
        <label for="dept_location">Location</label>
        <input type="text"  class="validate form-control" id="dept_location"
               name="dept_location"
               placeholder="Location of the Department" [(ngModel)]="selectedDept.Location">
      </div>

      <div class="form-group">
        <label for="dept_email">Email</label>
        <input type="text"  class="validate form-control" id="dept_email"
               name="dept_email"
               placeholder="Department Email" [(ngModel)]="selectedDept.Email">
      </div>

      <div class="form-group">
        <label for="dept_about">About</label>
        <quill-editor name="dept_about"  class="validate form-control"
                      id="dept_about"  [(ngModel)]="selectedDept.About"></quill-editor>
      </div>

      <div class="form-group">
        <label for="dept_msg">Message from the Faculty Members</label>
        <textarea type="text"  class="validate form-control" id="dept_msg"
                  name="dept_msg"
                  placeholder="Message from the Faculty Members" [(ngModel)]="selectedDept.MessageFromHead"></textarea>
      </div>
      <div class="form-group">
        <div class="row">

          <div class="col-lg-6">
            <label for="dept_established">Establishment Date</label>
            <input placement="top"
                   id="dept_established"
                   name="dept_established"
                   placeholder="Establishment Date"
                   class="form-control"
                   [(ngModel)]="selectedDept.EstablishedIn"
                   bsDatepicker>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="dept_img">Logo</label>
            <input type="file" class="form-control-file" name="dept_img" id="dept_img" accept="image/*"
                   (change)="onImageFileChange($event)"/>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <img *ngIf="selectedDept.Image" src="{{selectedDept.ImageType}},{{selectedDept.Image}}"
                 name="deptImg" class="profile-thumb img-thumbnail">
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col s6">
          <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!deptFrom.form.valid" class="btn-primary btn"
                  (click)="onSaveClick()">Save
          </button>
        </div>
      </div>
    </form>

  </div>
</ng-template>
