.home-carousel {
  margin-top: 1em;
  max-height: 25em;
  max-width: 100%;
}

.carousel-item-container {
  position: relative;
}

.carousel-item-container .carousel-item-text,
.carousel-item-container .carousel-item-img {
  position: absolute;
}

.carousel-item-container .carousel-item-text {
  z-index: 2;
  margin-left: 1em;
  background-color: rgba(0, 0, 0, .5);
  height: 30em;
  padding: 2em;
  max-width: 25%;
}

.carousel-fixed-item {
  margin-left: 1em;
  padding: 2em;
}

.carousel-item-container .carousel-item-img {
  z-index: 1;
  width: 100%;
}

.carousel-item-container .carousel-item-img img {
  width: 100%;
}

.carousel-caption {
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
  height: 100% !important;
  padding: 7em 0.5em 0em 4em;
  max-width: 25%;
  margin-right: 7em !important;
  position: absolute;
  left: 0% !important;
  text-align: right;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 5%;
  color: #fff;
  background-color: #3e4654 !important;
  text-align: center;
  opacity: 1 !important;
}

@media (max-width: 1199px) {
  slide, slide img {
    max-height: 0em;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  slide, slide img {
    height: 60vh;
  }

  slide .carousel-no-img-div {
    height: 60vh;
  }

  slide .carousel-no-img-div > img {
    margin-top: 27vh;
    height: 6vh;
    width: 6vh;
  }

  .carousel-img-container {
    position: relative;
    width: 100%;
    height: 60vh;
  }

  .carousel-img-container>.top-div{
    position: absolute;
    width: 100%;
    height: 60vh;
    z-index: 4;
    cursor: pointer;
  }

}

@media (min-width: 1401px) {
  slide, slide img {
    height: 60vh;
  }

  slide .carousel-no-img-div {
    height: 60vh;
  }

  slide .carousel-no-img-div > img {
    width: 6vh;
    height: 6vh;
    margin-top: 27vh;
  }

  .carousel-img-container {
    position: relative;
    width: 100%;
    height: 60vh;
  }



  .carousel-img-container>.top-div{
    position: absolute;
    width: 100%;
    height: 60vh;
    z-index: 4;
    cursor: pointer;

  }
}

.carousel-img {
  position: absolute;
}

.carousel-img.bottom-img {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.carousel-img.top-img{
  z-index: 4;
  cursor: pointer;
}

.carousel-caption{
  z-index: 5!important;
  background-color: rgba(0,0,0,.5);
}
