<div *ngIf="focusedStories.length===0" class="carousel-img-container">

</div>
<carousel [noPause]="false" class="animated fadeIn">
  <slide *ngFor="let s of focusedStories">
    <div class="carousel-img-container" *ngIf="s.StoryImg">
      <img class="animated fadeIn blur carousel-img bottom-img"
           src="{{s.ImageType}},{{s.StoryImg}}" alt="first slide">
      <div class="top-div" (click)="onCarouselStoryClicked(s.StoryID)">
        <img class="animated fadeIn" (click)="onCarouselStoryClicked(s.StoryID)"
             src="{{s.ImageType}},{{s.StoryImg}}" alt="first slide">

      </div>

    </div>

    <div *ngIf="!s.StoryImg" class="carousel-no-img-div">
      <img style="cursor: pointer" class="" (click)="onCarouselStoryClicked(s.StoryID)"
           src="assets\images\Loading-gif.gif" alt="first slide">
    </div>

    <div class="carousel-caption d-none d-md-block">
      <h3 style="cursor: pointer" (click)="onCarouselStoryClicked(s.StoryID)">{{s.Title}}</h3>
      <p style="cursor: pointer" (click)="onCarouselStoryClicked(s.StoryID)">{{s.Subtitle}}</p>
    </div>
  </slide>
</carousel>
