<ng-template #material_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>Course Material Details for {{getCourseNameByID(selectedCourseDetailsID)}}</span>
      </h3>
    </div>
    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #materialFrom="ngForm">

      <div class="form-group">
        <label for="material-name">Name</label>
        <input type="text" required class="validate form-control" id="material-name"
               name="material-name"
               placeholder="Name of the Material" [(ngModel)]="selectedCourseMaterial.Name">
      </div>

      <div class="form-group">
        <label for="material-summary">Summary</label>
        <input type="text" class="validate form-control" id="material-summary"
               name="material-summary"
               placeholder="Course Material Summary" [(ngModel)]="selectedCourseMaterial.Summary">
      </div>

      <div class="form-group">
        <label for="material-file">Summary</label>
        <input type="file"  class="form-control-file" id="material-file"
               name="material-file" accept="*/*" aria-describedby="fileHelp"
               (change)="onFileChange($event)">
        <small id="fileHelp" class="form-text text-muted">{{selectedCourseMaterial.MaterialFileName}}</small>
      </div>
      <div class="row">
        <div class="col s6">
          <button type="submit" (click)="onMaterialCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!materialFrom.form.valid" class="btn-primary btn"
                  (click)="onMaterialSaveClick()">Save
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<div class="card animated fadeIn">
  <div class="card-header personal-header">
    <div class="row">
      <div class="col-md-10">
        <h5>
          <i class="fas fa-book"></i>
          Courses</h5>
      </div>
    </div>
  </div>
  <div class="panel-body card-body card-block constrained-list-view" style="padding-bottom:1.75rem"
       [hidden]="selectedCourseList?.length===0">
    <div *ngFor="let prog of progData" class="row card-body">
      <div class="card-title col-12">
        <h4>{{prog.ProgramName}}</h4>
      </div>
      <div class="col-12">
        <div class="row faculty-course info-list" *ngFor="let c of getCoursesByProgram(prog?.ProgramID)">

          <div class="col ">
            <div class="row">
              <div class="col">
                <h6 class="card-title"><strong>{{c.CourseCode}}</strong>: {{c.CourseName}}</h6>
              </div>
            </div>
            <div class="row">
              <div *ngIf="c.Credit" class="col-lg-3 col-md-12">
                <p class="card-text">Credit: <span class="badge badge-secondary"
                                                   style="font-size: 100%">{{c.Credit}}</span></p>
              </div>
              <div *ngIf="c.CreditHour" class="col-lg-3 col-md-12">
                <p class="card-text">Credit Hours: <span class="badge badge-secondary" style="font-size: 100%">{{c.CreditHour}}</span>
                </p>
              </div>
              <div class="col-lg-3 col-md-12">
                <p class="card-text brown-text" *ngIf="c.IsOffered">Currently Offered<span *ngIf="c.Semester"> - {{c.Semester}} Semester</span>
                </p>
                <p class="card-text amber-text" *ngIf="!c.IsOffered">Course Not Offered</p>
              </div>
              <div class="col-lg-3 col-md-12">
                <div *ngIf="c.CourseID!==selectedCourseDetailsID">
                  <a class="card-link brown-text" (click)="onCourseDetailsExpand(c)">
                    <i class="fas fa-expand"></i> Expand
                  </a>
                </div>
                <div *ngIf="c.CourseID===selectedCourseDetailsID">
                  <a class="card-link brown-text" (click)="onCourseDetailsExpand(null)">
                    <i class="fas fa-compress"></i> Compress
                  </a>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="c.CourseID===selectedCourseDetailsID">
              <div class="col">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-md-10">
                        Course Materials
                      </div>
                      <div class="col-md-2" *ngIf="isMyProfile">
                        <a class="card-link" (click)="onCourseMaterialRequest(null,material_modal)"><i
                          class="fas fa-plus-square"></i> Add</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" *ngIf="courseMaterialList.length===0">
                    <label class="card-text amber-text">
                      No Course Materials Found!
                    </label>
                  </div>
                  <div class="card-body" *ngFor="let material of courseMaterialList">
                    <div class="row info-list">
                      <div class="col-md-8">
                        <div class="card-title">
                          {{material.Name}}
                        </div>
                        <div class="card-text">
                          {{material.Summary}}
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col" *ngIf="isMyProfile">
                            <a class="card-link green-text" (click)="onCourseMaterialRequest(material,material_modal)">
                              <i class="fas fa-edit"></i> Update
                            </a>
                          </div>
                          <div class="col red-text" *ngIf="isMyProfile">
                            <a class="card-link" (click)="onMaterialDeleteClicked(material)">
                              <i class="fas fa-trash-alt"></i> Delete
                            </a>
                          </div>
                          <div class="col" (click)="onMaterialDownloadClicked(material)">
                            <a class="card-link brown-text">
                              <i class="fas fa-download"></i> Download
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="c.CourseID===selectedCourseDetailsID">
              <div class="col-md-6">
                <div class="card-title">
                  Syllabus Details:
                </div>
                <div class="large-text info-list">
                  <label *ngIf="selectedSyllabus?.SyllabusDetails">{{selectedSyllabus?.SyllabusDetails}}</label>
                  <span class="amber-text" *ngIf="!selectedSyllabus?.SyllabusDetails">No description found</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card-title">
                  Recommended Texts:
                </div>
                <div class="large-text info-list">
                  <label *ngIf="selectedSyllabus?.TextBooks">{{selectedSyllabus?.TextBooks}}</label>
                  <span class="amber-text" *ngIf="!selectedSyllabus?.TextBooks">No textbooks found</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body card-body card-block constrained-list-view" style="padding-bottom:1.75rem"
       [hidden]="selectedCourseList?.length>0">
    <label class="amber-text">
      Course list empty
    </label>
  </div>
</div>
