<div>
  <ng-template #professional_modal>
    <div class="modal-form">
      <div>
        <h3 class="component-title primary-ascent-text">
          <i class="fas fa-book"></i>
          <span>Professional Details</span>
        </h3>
      </div>

      <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
      <form #professionalsForm="ngForm">

        <div class="form-group">
          <label for="professional_designation">Designation</label>
          <input type="text" required class="validate form-control" id="professional_designation"
                 name="professional_designation"
                 placeholder="Designation" [(ngModel)]="professionalDetails.Designation">
        </div>

        <div class="form-group">
          <label for="professional_department">Name of the Department</label>
          <input type="text" class="validate form-control" id="professional_department"
                 name="professional_department"
                 placeholder="Department" [(ngModel)]="professionalDetails.Department">
        </div>

        <div class="form-group">
          <label for="professional_institution">Name of Institution</label>
          <input type="text" required class="validate form-control" id="professional_institution"
                 name="professional_institution"
                 placeholder="Institution" [(ngModel)]="professionalDetails.Institution">
        </div>
        <div class="row">
          <div class="form-group col col-6 ">
            <label for="profession_type">Profession Type</label>
            <select name="profession_type" class="form-control validate" id="profession_type" required
                    [(ngModel)]="professionalDetails.ProfessionType">
              <option *ngFor="let type of professionTypes">
                {{type}}
              </option>
            </select>
          </div>
        </div>
        <div>
          <app-location-details #professional_location
                                (onLocationLoaded)="onLocationComponentLoaded($event)">

          </app-location-details>
        </div>


        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="professionalDetails.IsCurrentProfessionalStatus"
                   type="checkbox"
                   value=""
                   id="professional_ongoing_participation" name="professional_ongoing_participation">
            <label class="form-check-label" for="professional_ongoing_participation">
              Currently Working Here
            </label>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-lg-6">
            <label for="professional_from">Started Working in</label>
            <input placement="top"
                   id="professional_from"
                   name="professional_form"
                   placeholder="Working From"
                   required
                   class="validate form-control"
                   [(ngModel)]="professionalDetails.From"
                   bsDatepicker>
          </div>

          <div class="col-lg-6" [hidden]="professionalDetails.IsCurrentProfessionalStatus">
            <label for="professional_till">Worked till</label>
            <input placement="top"
                   id="professional_till"
                   name="professional_till"
                   placeholder="Worked Till"
                   class="form-control"
                   [(ngModel)]="professionalDetails.To"
                   bsDatepicker>
          </div>
        </div>

        <div class="row">
          <div class="col s6">
            <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
          </div>
          <div class="col s6">
            <button type="submit"
                    [disabled]="!professionalsForm.form.valid|| (professionalDetails.To && professionalDetails.From && professionalDetails.From > professionalDetails.To)"
                    class="btn-primary btn"
                    (click)="onSaveClick()">Save
            </button>
          </div>
        </div>
      </form>

    </div>
  </ng-template>

  <div>
    <alert type="success" *ngIf="professionalEvent && professionalSuccess" [dismissible]="true"
           (onClosed)="onProfessionalAlertClosed()">
      <strong>Success!</strong> {{alertMsg}}
    </alert>
    <alert type="danger" *ngIf="professionalEvent && !professionalSuccess" [dismissible]="true"
           (onClosed)="onProfessionalAlertClosed()">
      <strong>Sorry!</strong> {{alertMsg}}
    </alert>
    <div class="card animated fadeIn">
      <div class="card-header personal-header">
        <div class="row">
          <div class="col-md-10">
            <h5 class="">
              <i class="fas fa-briefcase"></i>
              Professional Details
            </h5>
          </div>
          <div class="col-md-2" *ngIf="isMyProfile">
            <h5>
              <a class="card-link" (click)="onProfessionalFormRequest(professional_modal)"><i
                class="fas fa-plus-square"></i> Add</a>
            </h5>
          </div>

        </div>
      </div>
      <div class="card-body  d-block d-md-none"
           *ngFor="let professionalDetails of professionalDetailsCollection;  let i of $index">
        <div class="row info-list  d-flex d-md-none">
          <div class="col-md-9">
            <div class="row">
              <h5 class="card-title">{{professionalDetails.Designation}}</h5> <span
              *ngIf="professionalDetails.Department!=''">, {{professionalDetails.Department}}</span>
            </div>

            <p class="card-text"><strong>{{professionalDetails.Institution}}</strong>
              <span *ngIf="professionalDetails.Address?.Address">, </span>{{professionalDetails.Address?.Address}}
              <span *ngIf="professionalDetails.Address?.City">, </span>{{professionalDetails.Address?.City}}
              <span *ngIf="professionalDetails.Address?.Country">, </span>{{professionalDetails.Address?.Country}} </p>
            <div style="font-size: .8rem">
            <span>
              {{professionalDetails.From|date:'MMM, yyyy'}} -
            </span>
              <span *ngIf="professionalDetails.IsCurrentProfessionalStatus">
              Today
            </span>
              <span *ngIf="!professionalDetails.IsCurrentProfessionalStatus">
              {{professionalDetails.To|date:'MMM, yyyy'}}
            </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row" *ngIf="isMyProfile">
              <div class="col">
                <a (click)="updateProfessionalDetails(i,professional_modal)" class="card-link green-text"><i
                  class="fas fa-edit"></i> Update</a>
              </div>
              <div class="col">
                <a (click)="deleteProfessionalDetails(i)" class="card-link red-text"><i class="fas fa-trash-alt"></i>
                  Delete</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-body">
        <div class="row  row-eq-height d-none d-md-flex">
          <div *ngFor="let professionalDetails of professionalDetailsCollection;  let i of $index"
               class="col-md-12 col-lg-6 col-xl-4">
            <div class="info-list block-info">
              <div class="row">
                <div class="col-md-9 col-lg-12">
                  <div class="d-block">
                    <div style="font-size: .8rem">
                      <span>
              {{professionalDetails.From|date:'MMM, yyyy'}} -
            </span>
                      <span *ngIf="professionalDetails.IsCurrentProfessionalStatus">
              Today
            </span>
                      <span *ngIf="!professionalDetails.IsCurrentProfessionalStatus">
              {{professionalDetails.To|date:'MMM, yyyy'}}
            </span>
                    </div>
                    <h5 class="card-title">{{professionalDetails.Designation}}</h5>
                    <p class="card-text">{{professionalDetails.Department}}</p>
                    <p class="card-text"><strong>{{professionalDetails.Institution}}</strong></p>
                    <p class="card-text">
                      {{professionalDetails.Address?.Address}}
                      <span *ngIf="professionalDetails.Address?.Address && professionalDetails.Address?.City">,</span>
                      {{professionalDetails.Address?.City}}<span
                      *ngIf="professionalDetails.Address?.Country && professionalDetails.Address?.City">,</span>
                      {{professionalDetails.Address?.Country}}
                    </p>
                  </div>

                </div>
                <div class="col-md-3 col-lg-12">
                  <div class="d-md-block d-lg-flex" *ngIf="isMyProfile">
                    <div>
                      <a (click)="updateProfessionalDetails(i,professional_modal)" class="card-link green-text">
                        <i class="fas fa-edit"></i> Update</a>
                    </div>
                    <div class="ml-lg-3">
                      <a (click)="deleteProfessionalDetails(i)" class="card-link red-text"><i
                        class="fas fa-trash-alt"></i>
                        Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
