<ng-template #customItemTemplate let-model="item" let-index="index">
  <div class="row">
    <div class="col-3">
      <img *ngIf="model.image" src="{{model.imageType}},{{model.image}}" class="profile-thumb img-thumbnail">
      <img *ngIf="!model.image" src="assets/images/placeholder.png" class="profile-thumb img-thumbnail">
    </div>
    <div class="col-9">
      <h6>{{model.name }} </h6>
      <p>{{model.remark}}</p>
    </div>
  </div>
</ng-template>
<div class="sub-form">
  <div class="form-group">
    <div *ngFor="let p of passedProfileSummaryList" style="display: inline-block; padding: 0 .2em">
        <span class="badge badge-info">
        {{p?.name}}
        <a (click)="onProfileRemoveClicked(p)"
           class="badge badge-dark inner-badge-clicker"
           *ngIf="(selfAddedProfileSummaryList.indexOf(p)>-1)
           || (userID===chatGroup.CreatorID && (p?.id!==userID))">
          &#x2716;
        </a>
        </span>
    </div>
  </div>

  <div class="form-group">
    <label for="profile_search_name">Enter Name</label>
    <input id="profile_search_name" name="profile_search_name"
           (keyup)="onNameChange($event)"
           [(ngModel)]="selectedName"
           [typeahead]="profileSummary"
           typeaheadOptionField="name"
           (typeaheadOnSelect)="profileOnSelect($event)"
           [typeaheadSingleWords]="false"
           [typeaheadItemTemplate]="customItemTemplate"
           placeholder="Name of the user"
           class="form-control">
  </div>
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
      <button type="submit" [disabled]="!isSaveActivated|| !selectedName" class="btn-sm btn-primary btn"
              (click)="onAssignProfileClick()">
        Add to Group
      </button>
    </div>
    <div class="col-4">

    </div>
  </div>
</div>


