<div class="modal-form">
  <div *ngIf="(!hasPersonalDetails && profileLoaded) || editClicked">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-user"></i>
        <span>{{username}}</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent" />
    <form #profileForm="ngForm" (ngSubmit)="onProfileSaveClick();">
      <div class="container-fluid">
        <div class="form-group">
          <label for="profile_first_name">First Name</label>
          <input type="text" class="validate form-control" id="profile_first_name" name="profile_first_name"
                 placeholder="First Name" [(ngModel)]="personalDetails.FirstName">
        </div>


        <div class="form-group">
          <label for="profile_last_name">Last Name</label>
          <input type="text" class="validate form-control" id="profile_last_name" name="profile_last_name"
                 placeholder="Last Name" [(ngModel)]="personalDetails.LastName">
        </div>

        <div class="form-group">
          <label for="profile_blood_group">Blood Group</label>
          <select class="form-control" [(ngModel)]="personalDetails.BloodGroup" id="profile_blood_group"
                  name="profile_blood_group">
            <option *ngFor="let bg of bloodGroups">
              {{bg}}
            </option>
          </select>
        </div>


        <div class="form-group">
          <label for="profile_country">Nationality</label>
          <select name="profile_country" class="form-control validate" id="profile_country" required
                  [(ngModel)]="personalDetails.Nationality">
            <option *ngFor="let country of countries">
              {{country.name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="profile_dob">Date of Birth</label>
          <input placement="top"
                 id="profile_dob"
                 name="profile_dob"
                 placeholder="Date of Birth"
                 required
                 class="validate form-control"
                 [(ngModel)]="personalDetails.DoB"
                 bsDatepicker>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="profile_picture">Profile Picture</label>
              <input type="file" class="form-control-file" name="profile_picture" id="profile_picture" accept="image/*"
                     (change)="onImageFileChange($event)" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" *ngIf="!editClicked">
              <img name="outputImg" class="profile-thumb img-thumbnail" />
            </div>
            <div class="form-group" *ngIf="editClicked">
              <img src="{{personalDetails.ImageType}},{{personalDetails.Image}}" name="outputImg"
                   class="profile-thumb img-thumbnail">
            </div>
          </div>

        </div>
        <div class="row">
          <div *ngIf="!editClicked" class="col s6">
            <button type="submit" (click)="onSignOutClick()" class="btn-primary btn">Sign Out</button>
          </div>
          <div *ngIf="editClicked" class="col s6">
            <button type="submit" (click)="editCancelClick()" class="btn-primary btn">Cancel</button>
          </div>
          <div class="col s6">
            <button type="submit" class="btn-primary btn">Save</button>
          </div>
        </div>
      </div>
    </form>


  </div>
  <div *ngIf="(!profileLoaded)&& !editClicked" style="height: 20vh">
    <div class="card-img-top summary-img gif">
      <img src="assets\images\Loading-gif.gif" style="margin-top:8vh" alt="Card image cap">
    </div>
  </div>
  <div *ngIf="(hasPersonalDetails && profileLoaded)&& !editClicked" class="container-fluid">

    <div class="row">
      <div class=" col-md-4 pro-pic">
        <img *ngIf="personalDetails.Image" src="{{personalDetails.ImageType}},{{personalDetails.Image}}"
             name="outputImg" class="img-thumbnail">
        <img *ngIf="!personalDetails.Image" src="assets/images/placeholder.png" name="outputImg" class="img-thumbnail">

      </div>
      <div class="col-md-8 profile-intro">

        <div class="row truncate">
          <span class="primary-ascent-text ">{{personalDetails.Salutation}} {{personalDetails.FirstName}} {{personalDetails.LastName}}</span>
        </div>
        <div class="row email truncate">
          <span class="primary-ascent-text ">{{personalDetails.Email}}</span>
        </div>
        <div class="row nation">
          <span class="primary-ascent-text ">{{personalDetails.Nationality}}</span>
        </div>
        <div class="row nation" [ngClass]="{'d-block':isOnline,'d-none':!isOnline}">
          <span class="green-text ">Online</span>
        </div>
      </div>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent" />

    <div class="row">
      <div class="col">
        <div class="mx-auto">
          <span *ngFor="let userRole of personalDetails.Roles" class="badge badge-info role-badge">
            {{userRole.RoleName}}
          </span>
        </div>
      </div>
    </div>

    <hr *ngIf="personalDetails.Roles" style="width: 100%; height: 5px; margin:  5px 0 15px 0; opacity: 0" />


    <div class="row" *ngIf="!fromProfileDetails">
      <div class="col-6">
        <button type="submit" class="btn btn-primary" (click)="onProfileDetailsClick()">
          Profile Details
        </button>
      </div>

      <div class="col-6">
        <button type="submit" class="btn btn-primary" (click)="onSignOutClick()">
          Sign out
        </button>
      </div>
    </div>

    <div class="row" *ngIf="fromProfileDetails">
      <div class="col-12" *ngIf="isMyProfile">
        <a class="card-link secondary-ascent-text " (click)="onProfileEditClick()">
          <i class="fas fa-edit"></i>
          <span>Edit Profile</span>
        </a>
      </div>

      <div class="col-12" *ngIf="isMyProfile">
        <a class="card-link secondary-ascent-text " (click)="onChangePasswordClick(pass_change_modal)">
          <i class="fas fa-key"></i>
          <span>Change Password</span>
        </a>
      </div>
      <div class="col-12" *ngIf="isMyProfile">
        <a class="card-link secondary-ascent-text " (click)="onAddExternLoginClicked()">
          <i class="fab fa-google-plus"></i>
          <span>Add External Login</span>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #pass_change_modal>
  <div class="modal-form">
    <app-change-password (onChangePasswordEvent)="onPasswordChangeEvent($event)">

    </app-change-password>

  </div>
</ng-template>
