<ng-template #customItemTemplate let-model="item" let-index="index">
  <div class="row">
    <div class="col-3">
      <img *ngIf="model.Image" src="{{model.ImageType}},{{model.Image}}" class="profile-thumb img-thumbnail">
      <img *ngIf="!model.Image" src="assets/images/placeholder.png" class="profile-thumb img-thumbnail">
    </div>
    <div class="col-9">
      <h6>{{model.Name }} </h6>
      <p>{{model.Designation}}</p>
    </div>
  </div>
</ng-template>

<div class="modal-form">
  <form class="professional-req-form modal-form-wide" style="min-height: 0!important;">
    <div class="form-group">
      <label for="faculty_search_dept">Select Department</label>
      <select required class="validate form-control" id="faculty_search_dept" name="faculty_search_dept"
              [(ngModel)]="selectedDepartment.DepartmentID" (change)="onDeptChange()">
        <option selected hidden value="">Select Department</option>
        <option *ngFor="let dept of departmentList" value="{{dept.DepartmentID}}">
          {{dept.DepartmentID}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="faculty_search_name">Enter Faculty Name</label>
      <input id="faculty_search_name" name="faculty_search_name"
             [(ngModel)]="selectedName"
             [typeahead]="facultySummary"
             typeaheadOptionField="Name"
             (typeaheadOnSelect)="facultyOnSelect($event)"
             [typeaheadSingleWords]="typeaheadSingleWords"
             [typeaheadItemTemplate]="customItemTemplate"
             placeholder="Faculty Name"
             class="form-control">
    </div>
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-2" >
        <button type="submit" class="btn-sm btn-primary btn" (click)="onCancelAssignFacultyClick()">Close</button>
      </div>
      <div class="col-2">
        <button type="submit" [disabled]="!isSaveActivated|| !selectedName" class="btn-sm btn-primary btn" (click)="onSaveAssignFacultyClick()">Assign
        </button>
      </div>
      <div class="col-4">

      </div>
    </div>
  </form>


</div>
