<div class="news-container">
  <div class="row news-home-header">
    <div class="col-md-5 col-lg-4 col-xl-3">
      <div class="row modal-form ml-md-3">
        <div class="col-12 dept-summary" *ngIf="_dept">

          <div class="row">
            <div class=" col-sm-4">
              <img *ngIf="_dept?.Image" src="{{_dept?.ImageType}},{{_dept?.Image}}" name="deptImg" class="img-thumbnail">
              <img *ngIf="!_dept?.Image" src="assets/images/placeholder.png" name="deptImg"
                   class="img-thumbnail">
            </div>
            <div class="col-sm-8 dept-summary profile-intro">

              <div class="row truncate">
                <span class="primary-ascent-text ">{{_dept?.FullName}} ({{_dept?.DepartmentID}})</span>
              </div>
              <div class="row email truncate">
                <span class="primary-ascent-text ">{{_dept?.Email}}</span>
              </div>
              <div class="row nation">
                <span class="primary-ascent-text ">{{_dept?.Location}}</span>
              </div>
            </div>
          </div>

          <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
          <div class="primary-ascent-text">
            <div>
              Head of the Department:
            </div>
            <div>
              <h6>
                {{head?.Salutation}} {{head?.FirstName}} {{head?.LastName}}
              </h6>
            </div>
            <div>
              <div class="row">
                <div class="col" *ngIf="status!==2">
                  <a class="card-link  secondary-ascent-text " (click)="onAboutDeptClicked()">
                    <i class="fas fa-info-circle"></i>
                    <span><b>About {{_dept?.DepartmentID}}</b></span>
                  </a>
                </div>
                <div class="col" *ngIf="status!==0">
                  <a class="card-link secondary-ascent-text" (click)="onStoryDeptClicked()">
                    <i class="fas fa-newspaper"></i>
                    <span><b>{{_dept?.DepartmentID}} News</b></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div  style="height: 20vh" class="col" *ngIf="!_dept">
          <div class="card-img-top summary-img gif" >
            <img src="assets\images\Loading-gif.gif" style="margin-top:8vh" alt="Card image cap">
          </div>
        </div>
      </div>
      <div class="row ml-md-3 event-card">
        <div class="col">
          <div class="info-list generic-header">
            <h4 class="primary-ascent-text">Events</h4>
            <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
          </div>
          <div class="card horizontal event-summary-card" *ngIf="eventList.length==0">
            <div class="card-stacked">
              <div class="card-content">
                <h5>No Upcoming Events</h5>
              </div>
            </div>
          </div>
          <div class="card horizontal event-summary-card" *ngFor="let ev of eventList" (click)="onEventClicked(ev)">
            <div class="card-stacked hoverable">
              <div class="card-content">
                <h5>{{ev?.Title}}</h5>
              </div>
              <div class="card-action">
                <div class="row">
                  <div class="col-md-4">
                    <h6>From</h6>
                  </div>
                  <div class="col-md-8">
                    <span><i class="fas fa-calendar"></i> {{getLocalDate(ev?.EventStart)|date}}</span>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <div class="row">
                  <div class="col-md-4">
                    <h6>To</h6>
                  </div>
                  <div class="col-md-8">
                    <span><i class="fas fa-calendar"></i> {{getLocalDate(ev?.EventEnds)|date}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="status==0 && !isNewsLoaded" style="height: 100vh"></div>
    <div class="col-md-7 col-lg-8 col-xl-9" *ngIf="status==0 && isNewsLoaded">
      <div class="card">
        <div class="card-header personal-header">
          <div class="row">
            <div class="col-md-10">
              <h5>
                <i class="fas fa-newspaper"></i>
                {{selectedStory?.DeptID}} Departmental News</h5>
            </div>
          </div>
        </div>
        <div style="text-align: center">
          <h5><span class="badge badge-info">Stories are sorted chronologically</span></h5>
        </div>
        <ngx-masonry>
          <ngx-masonry-item class="masonry-item" *ngFor="let st of storyList;let i=index">
            <div class="card" style="width: 100%;">
              <div class="card-badge-container">
                <div class="card_img ">
                  <img class="card-img-top" *ngIf="st?.StoryImg" src="{{st?.ImageType}},{{st?.StoryImg}}"
                       alt="Card image cap">
                </div>
                <div class="card-img-top summary-img gif" *ngIf="!st?.StoryImg">
                  <img src="assets\images\Loading-gif.gif" alt="Card image cap">
                </div>
                <div class="card-badge d-none d-sm-block"><h5><span class="badge badge-info">{{i+1}}</span></h5></div>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{st?.Title}}</h5>
                <p class="card-text">{{st?.Subtitle|slice:0:100}}<span *ngIf="st?.Subtitle.length>0">...</span>
                </p>
                <p class="card-text">
                  Published in: {{getLocalDate(st?.PublishDate)|date}}
                </p>
                <a (click)="onSpecificStoryClicked( st?.StoryID)" class="btn btn-primary card-details-btn">Details</a>
              </div>
            </div>
          </ngx-masonry-item>
        </ngx-masonry>
      </div>
    </div>
    <div class="col-md-7 col-lg-8 col-xl-9 animated fadeIn" *ngIf="status==1 && isNewsLoaded">
      <div class="card">
        <div class="card-header personal-header">
          <div class="row">
            <div class="col-md-12">
              <h5>
                <i *ngIf="status===0" class="fas fa-newspaper"></i>
                <a (click)="onBackClicked()" class="card-details-btn"><i *ngIf="status> 0" class="fas fa-arrow-left"></i></a>
                {{selectedStory?.DeptID}} Departmental News</h5>
            </div>
          </div>
        </div>
        <div class="card-body animated fadeIn">
          <div class="info-list">
            <div class="large-img-container d-none d-md-block" *ngIf="selectedStory?.StoryImg">
              <img src="{{selectedStory?.ImageType}},{{selectedStory?.StoryImg}}"
                   class="animated fadeIn blur large-img bottom-img">
              <div class="top-div">
                <img src="{{selectedStory?.ImageType}},{{selectedStory?.StoryImg}}"
                     class="animated fadeIn">
              </div>
            </div>
            <div class="d-block d-md-none" *ngIf="selectedStory?.StoryImg">
              <img src="{{selectedStory?.ImageType}},{{selectedStory?.StoryImg}}"
                   class="animated fadeIn img img-thumbnail">
            </div>
            <div class="large-no-img-div" *ngIf="!selectedStory?.StoryImg">
              <img
                src="assets\images\Loading-gif.gif">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card-title news-card-title">
                {{selectedStory?.Title}}
              </div>
              <div class="card-title news-card-subtitle brown-text">
                {{selectedStory?.Subtitle}}
              </div>
              <div class="row">
                <div class="col-md-12 col-lg-4 event-card" *ngIf="getEvents(selectedStory?.StoryID).length>0">
                  <div class="info-list ">
                    <h4 class="primary-ascent-text">Events</h4>
                    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
                  </div>
                  <div class="card" *ngFor="let ev of getEvents(selectedStory?.StoryID)">
                    <div class="card-stacked hoverable">
                      <div class="card-content">
                        <h5>{{ev?.Title}}</h5>
                      </div>
                      <div class="card-action">
                        <div class="row">
                          <div class="col-md-4">
                            <h6>From</h6>
                          </div>
                          <div class="col-md-8">
                            <span><i class="fas fa-calendar"></i> {{getLocalDate(ev?.EventStart)|date}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="card-action">
                        <div class="row">
                          <div class="col-md-4">
                            <h6>To</h6>
                          </div>
                          <div class="col-md-8">
                            <span><i class="fas fa-calendar"></i> {{getLocalDate(ev?.EventEnds)|date}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="card-action">
                        <div class="row">
                          <div class="col-md-4">
                            <h6>Location</h6>
                          </div>
                          <div class="col-md-8" *ngIf="ev?.EventLocation?.Address || ev?.EventLocation?.City || ev?.EventLocation?.Country">
                            <i class="fas fa-thumbtack"></i>  <span>{{ev?.EventLocation?.Address}}</span>
                            <span *ngIf="ev?.EventLocation?.Address && ev?.EventLocation?.City">, {{ev?.EventLocation?.City}}</span>
                            <span *ngIf="ev?.EventLocation?.City && ev?.EventLocation?.Country">, {{ev?.EventLocation?.Country}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-8" *ngIf="getEvents(selectedStory?.StoryID).length>0">
                  <div class="card-text text-on-amber news-card-body info-list">
                    <div class="preamble">
                      <p><b>{{selectedStory?.Author}}</b></p>
                      <p><b>Published on: {{getLocalDate(selectedStory?.PublishDate)|date}}</b></p>
                    </div>
                    <div class="ql-editor header html-render" [innerHtml]="selectedStory?.Description"></div>
                  </div>
                </div>
                <div class="col" *ngIf="getEvents(selectedStory?.StoryID).length==0">
                  <div class="card-text  news-card-body info-list">
                    <div class="preamble">
                      <p><b>{{selectedStory?.Author}}</b></p>
                      <p><b>Published on: {{getLocalDate(selectedStory?.PublishDate)|date}}</b></p>
                    </div>
                    <div class="ql-editor header html-render" [innerHtml]="selectedStory?.Description"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8 col-xl-9 animated fadeIn" *ngIf="status==2">
      <div class="card">
        <div class="card-header">

          <div class="d-block">
            <div class="d-inline-block" style="vertical-align: top; padding-right: .5em">
              <h5>
                <a class="card-details-btn">
                  <i *ngIf="status>0" class="fas fa-arrow-left" (click)="onBackClicked()"></i>
                </a>
              </h5>
            </div>
            <div class="d-inline-block">
              <h4 class="d-block">{{_dept?.FullName}} ({{_dept?.DepartmentID}})</h4>
              <span class="d-block">Established: {{getLocalDate(_dept?.EstablishedIn)|date}}</span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row info-list">
            <div class="col-md-1">
              <div class="row">
                <div class="col dept-img">
                  <img *ngIf="_dept?.Image" src="{{_dept?.ImageType}},{{_dept?.Image}}"
                       class="img-thumbnail">
                  <img *ngIf="!_dept?.Image" src="assets\images\Loading-gif.gif"
                       class="img-thumbnail">
                </div>
              </div>
            </div>
            <div class="col-md-11">
              <div class="row large-text ">
                <div class="ql-editor header html-render" style="padding-top: 0" [innerHTML]="_dept?.About|safeHtml"></div>
              </div>
              <div class="row ">
                <h2 class="primary-ascent-text"><strong>Offered Programs:</strong></h2>
                <br/>
                <div class="row large-text">
                  <ul>
                    <li *ngFor="let p of programList">
                      <a class="card-link secondary-ascent-text " (click)="onProgramNameClicked(p.ProgramName)">
                        <b>{{p?.ProgramName}}</b>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row primary-ascent-text">
                <h2><strong>Message from the Faculty Members of the Department</strong> </h2>
              </div>
              <div class="row large-text">
                <label>{{_dept?.MessageFromHead}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="back_button" *ngIf="status>0">
      <button class="feedback" (click)="onBackClicked()"><i class="fas fa-arrow-left"></i> &nbsp;Back</button>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  color="#fff"
  type="ball-atom"
></ngx-spinner>

