.img-thumbnail {
  max-height: 21em;
}


.prog-select {
  border: transparent solid;
  font-weight: bold;
}
.prog-select:hover .custom-btn-icon{
  display: inline-block!important;
}
.prog-select.selected .custom-btn-icon{
  display: inline-block!important;
}

.personnel-nav-setup{
  padding: 0!important;
}

@media(max-width: 767px){
  .profile-details-container{
    padding: 0!important;
  }
}
