<div *ngIf="!hasProfile" style="height: 100vh">
  No Profile Found
</div>
<div class="container-fluid" *ngIf="hasProfile">
  <div class="row row-eq-height d-md-flex">
    <div class=" col-md-5 col-lg-4 col-xl-3">
      <div class="row">
        <app-profile #profile_details
                     [fromProfileDetails]="true"
                     [isMyProfile]="isMyProfile"
                     [username]="personalDetails.Username"></app-profile>
      </div>
      <div class="row mt-2" *ngIf="personalDetails.Roles?.length>0">
        <div
          [ngClass]="selectedUserRole==='Personal'?'card-header selected personal-header white-text':'modal-form primary-ascent-text'"
          (click)="showRolePanel('Personal',false)" class="col-12 prog-select mb-2">
          <div class="custom-btn-content d-inline-block">Personal Details</div>
          <div class="custom-btn-icon d-none"><i class="fas fa-caret-right"></i></div>
        </div>
        <div *ngIf="isMyProfile && isConnected"
             [ngClass]="selectedUserRole==='Chatting'?'card-header selected personal-header white-text':'modal-form primary-ascent-text'"
             (click)="showRolePanel('Chatting',false)" class="col-12 prog-select mb-2">
          <div class="custom-btn-content d-inline-block">Messaging</div>
          <div class="custom-btn-icon d-none"><i class="fas fa-caret-right"></i></div>
        </div>
        <div *ngFor="let r of personalDetails.Roles" class="col-12 personnel-nav-setup">
          <div
            [ngClass]="r.RoleName===selectedUserRole?'card-header personal-header selected white-text':'modal-form primary-ascent-text'"
            (click)="showRolePanel(r.RoleName,false)" class="prog-select mb-2"
            *ngIf="isMyProfile||(!isMyProfile && r.RoleName!=='Admin')">
            <div class="custom-btn-content d-inline-block">{{r.RoleName}} Panel</div>
            <div class="custom-btn-icon d-none"><i class="fas fa-caret-right"></i></div>
          </div>
        </div>

      </div>

      <div class="row">
        <accordion [closeOthers]="true">
          <accordion-group heading="+ Request New Role" *ngIf="isMyProfile">
            <div class="row" style="padding-bottom: .5rem">
              <div *ngFor="let r of roles; let i of $index" style="margin:.2rem 0; " class="col-3">
                <button class="btn btn-secondary btn-sm" (click)="showRolePanel(i.RoleName, true)">
                  {{r.RoleName}}
                </button>
              </div>
            </div>
          </accordion-group>
        </accordion>

      </div>
    </div>
    <div class="col-md-7 col-lg-8 col-xl-9 profile-details-container ">
      <div class="profile-side-nav">
        <app-profile-admin *ngIf="selectedUserRole==='Admin'"
                           [userID]="personalDetails.UserID" [userRole]="selectedRoleDetails"
                           [isRoleRequest]="isRoleRequest" (onRequestCancelClick)="onCancelClickFromRole()"
                           [allRoles]="allRoles">
        </app-profile-admin>
        <app-profile-faculty *ngIf="selectedUserRole==='Faculty'"
                             [isMyProfile]="isMyProfile"
                             [userID]="personalDetails.UserID" [userRole]="selectedRoleDetails"
                             [isRoleRequest]="isRoleRequest" (onRequestCancelClick)="onCancelClickFromRole()">
        </app-profile-faculty>
        <app-profile-alumni *ngIf="selectedUserRole==='Alumni'"
                            [isMyProfile]="isMyProfile"
                            [userID]="personalDetails.UserID"
                            [userRole]="selectedRoleDetails"
                            [showPublications]="showPublicationsInAlumni"
                            [isRoleRequest]="isRoleRequest" (onRequestCancelClick)="onCancelClickFromRole()">
        </app-profile-alumni>
        <app-profile-ta *ngIf="selectedUserRole==='TA'"
                        [userID]="personalDetails.UserID" [userRole]="selectedRoleDetails"
                        [isRoleRequest]="isRoleRequest" (onRequestCancelClick)="onCancelClickFromRole()">
        </app-profile-ta>
        <app-profile-staff *ngIf="selectedUserRole==='Staff'"
                           [isMyProfile]="isMyProfile"
                           [userID]="personalDetails.UserID" [userRole]="selectedRoleDetails"
                           [isRoleRequest]="isRoleRequest" (onRequestCancelClick)="onCancelClickFromRole()">
        </app-profile-staff>
        <app-personal-details *ngIf="selectedUserRole==='Personal'"
                              [isMyProfile]="isMyProfile"
                              [userID]="personalDetails.UserID">
        </app-personal-details>
        <app-profile-chatting class="need-side-nav" *ngIf="selectedUserRole==='Chatting'"
                              [userID]="personalDetails.UserID">
        </app-profile-chatting>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  color="#fff"
  type="ball-atom"
></ngx-spinner>


