<div>
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div class="card animated fadeIn" *ngIf="isRoleRequest">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-book"></i>
            Apply for Teaching Assistant Role</h5>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="professional-req-form">
        <div>
          <h3 class="component-title">
            <i class="fab fa-wpforms"></i>
            <span>Teaching Assistant Request Form</span>
          </h3>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>

        <form #taReq="ngForm">
          <div class="form-group">
            <label for="ta_dept">Department</label>
            <select  required class="validate form-control" id="ta_dept" name="ta_dept"
                     [(ngModel)]="request.RequestedDepartmentID">
              <option selected hidden value="">Select your Department</option>
              <option *ngFor="let dept of deptList">
                {{dept.DepartmentID}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="msg_to_admin">Message to Admin</label>
            <textarea type="text" required class="validate form-control" id="msg_to_admin" name="msg_to_admin"
                      placeholder="Send a request message to other Admins"
                      [(ngModel)]="request.MessageToAdmin"></textarea>
          </div>

          <div class="row">
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" (click)="onCancelRequestClick()" class="btn-primary btn">Cancel</button>
              </div>
            </div>
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" [disabled]="!taReq.form.valid" class="btn-primary btn"
                        (click)=" requestForRole()">Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
