.form {
  padding: 0 1em;
}

@media (min-width: 768px) {
  .external-reg {
    border-right: #f16975 solid;
  }
  .info-list.block-info {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}


@media (max-width: 767px) {
  .external-reg {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}

.info-list.block-info{
  height: 100%!important;
}
