<div class="modal-form">
  <div>
    <h3 class="component-title primary-ascent-text truncate">
      <i class="material-icons">group_add</i>
      {{title}}
    </h3>
  </div>
  <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
  <div class="row">
    <div [ngClass]="isExternalRegistration?'col-md-12':'col-md-7 external-reg'">
      <div class="info-list block-info">
        <h4 class="secondary-ascent-text">
          <i class="fas fa-plus-square"></i> Create Account
        </h4>
        <form #regForm="ngForm" class="form">
          <div class="form-group">
            <label for="regUsername"><i class="fas fa-user"></i> Username</label>
            <input type="text" [(ngModel)]="registration.Username" name="username" required
                   class="validate form-control"
                   id="regUsername" aria-describedby="regUsernameHelp" placeholder="Enter Username">
            <small id="regUsernameHelp" class="form-text text-muted">Choose your unique Username [At least 6 characters
              long]
            </small>
          </div>

          <div class="form-group" *ngIf="!isExternalRegistration">
            <label for="regEmail"><i class="fas fa-envelope-square"></i> Email</label>
            <input type="email" [(ngModel)]="registration.Email" name="email" required class="validate form-control"
                   id="regEmail" aria-describedby="regEmailHelp" placeholder="Enter Email">
            <small id="regEmailHelp" class="form-text text-muted">Enter your email address</small>
          </div>

          <div class="form-group" *ngIf="!isExternalRegistration">
            <label for="regPassword"><i class="fas fa-key"></i> Password </label>
            <input type="password" [(ngModel)]="registration.Password" name="password" required
                   class="validate form-control"
                   id="regPassword" aria-describedby="regPasswordHelp" placeholder="Password">
            <small id="regPasswordHelp" class="form-text text-muted">
              <ul>
                <li>Passwords must be at least 6 characters</li>
                <li>Passwords must have at least one lowercase ('a'-'z')</li>
                <li>Passwords must have at least one uppercase ('A'-'Z')</li>
                <li>Passwords must have at least one digit ('0'-'9')</li>
                <li>Passwords must have at least one non alphanumeric character or special character</li>
              </ul>
            </small>

          </div>

          <div class="form-group" *ngIf="!isExternalRegistration">
            <label for="regConfirmPassword"><i class="fas fa-key"></i> Password </label>
            <input type="password" [(ngModel)]="registration.ConfirmPassword" name="confirm_password" required
                   class="validate form-control"
                   id="regConfirmPassword" aria-describedby="regConfirmPasswordHelp" placeholder="Confirm Password">
          </div>

          <div class="row">
            <div class="col s6">
              <button type="submit" [disabled]="isLoading" (click)="onCancelClick();" class="btn-primary btn">Cancel
              </button>
            </div>
            <div class="col s6">
              <button type="submit"
                      [disabled]="!regForm.form.valid||registration.Password!=registration.ConfirmPassword"
                      *ngIf="!isLoading"
                      (click)="onRegistrationClick();" class="btn-primary btn">Submit
              </button>
              <button *ngIf="isLoading" type="submit" [disabled]="true"
                      class="btn-primary btn">
                <div class="summary-img card-img-top">
                  <img src="assets/images/Loading-gif.gif" style="height: 1.5em!important; width: 1.5em!important;">
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div [ngClass]="isExternalRegistration?'col-md-12':'col-md-5'">
      <div *ngIf="googleApiInfo">
        <div class="info-list block-info">
          <h4 class="secondary-ascent-text">
            <i class="fab fa-google-plus"></i> External Sign Up
          </h4>
          <div class="google-btn" (click)="onGoogleRegClicked()">
            <div class="google-icon-wrapper">
              <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
            </div>
            <p class="btn-text"><b>Sign up with Google</b></p>
          </div>
          <p class="card-text">Sign up with <strong>Gmail</strong> or <strong>IUT Email</strong></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row err-msg">
    <div class="col"> {{errorMsg}}</div>
  </div>
  <div class="row" *ngIf="!isExternalRegistration">
    <a href="#" class="mx-auto" (click)="onHasAccountClick();">I already have an account</a>
  </div>
</div>
