<div>
  <ng-template #academic_modal>
    <div class="modal-form">
      <div>
        <h3 class="component-title primary-ascent-text">
          <i class="fas fa-book"></i>
          <span>Academic Details</span>
        </h3>
      </div>

      <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
      <form #academicsForm="ngForm">

        <div class="form-group">
          <label for="academic_degree">Degree</label>
          <input type="text" required class="validate form-control" id="academic_degree" name="academic_degree"
                 placeholder="Degree" [(ngModel)]="academicDetails.Degree">
        </div>


        <div class="form-group">
          <label for="academic_concentration">Area of Concentration</label>
          <input type="text" required class="validate form-control" id="academic_concentration"
                 name="academic_concentration"
                 placeholder="Concentration" [(ngModel)]="academicDetails.Concentration">
        </div>

        <div class="form-group">
          <label for="academic_institution">Name of the Institution</label>
          <input type="text" required class="validate form-control" id="academic_institution"
                 name="academic_institution"
                 placeholder="Institution" [(ngModel)]="academicDetails.Institution">
        </div>

        <div>
          <app-location-details #academic_location
                                (onLocationLoaded)="onLocationComponentLoaded($event)">

          </app-location-details>
        </div>


        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="academicDetails.IsCurrentAcademicStatus" type="checkbox"
                   value=""
                   id="academic_ongoing_participation" name="academic_ongoing_participation">
            <label class="form-check-label" for="academic_ongoing_participation">
              Currently Studying Here
            </label>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-lg-6">
            <label for="academic_from">Study From</label>
            <input placement="top"
                   id="academic_from"
                   name="academic_form"
                   placeholder="Study From"
                   required
                   class="validate form-control"
                   [(ngModel)]="academicDetails.From"
                   bsDatepicker>
          </div>

          <div class="col-lg-6" [hidden]="academicDetails.IsCurrentAcademicStatus">
            <label for="academic_till">Graduated in</label>
            <input placement="top"
                   id="academic_till"
                   name="academic_till"
                   placeholder="Graduated in"
                   class="form-control"
                   [(ngModel)]="academicDetails.To"
                   bsDatepicker>
          </div>

          <div class="col-lg-6" [hidden]="!academicDetails.IsCurrentAcademicStatus">
            <label for="academic_expected">Expected Graduation</label>
            <input placement="top"
                   id="academic_expected"
                   name="academic_expected"
                   placeholder="Expected Graduation"
                   class="form-control"
                   [(ngModel)]="academicDetails.To"
                   bsDatepicker>
          </div>

        </div>

        <div class="row">
          <div class="col s6">
            <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
          </div>
          <div class="col s6">
            <button type="submit" [disabled]="!academicsForm.form.valid || (academicDetails.To && academicDetails.From && academicDetails.From > academicDetails.To)" class="btn-primary btn"
                    (click)="onSaveClick()">Save
            </button>
          </div>
        </div>
      </form>

    </div>
  </ng-template>

  <div>
    <alert type="success" *ngIf="academicEvent && academicSuccess" [dismissible]="true"
           (onClosed)="onAcademicAlertClosed()">
      <strong>Success!</strong> {{alertMsg}}
    </alert>
    <alert type="danger" *ngIf="academicEvent && !academicSuccess" [dismissible]="true"
           (onClosed)="onAcademicAlertClosed()">
      <strong>Sorry!</strong> {{alertMsg}}
    </alert>
    <div class="card animated fadeIn">
      <div class="card-header personal-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-book"></i>
              Academic Details</h5>
          </div>
          <div class="col-md-2" *ngIf="isMyProfile">
            <h5>
              <a class="card-link" (click)="onAcademicFormRequest(academic_modal)"><i
                class="fas fa-plus-square"></i> Add</a>
            </h5>
          </div>

        </div>
      </div>
      <div class="card-body d-block d-md-none"
           *ngFor="let academicDetails of academicDetailsCollection;  let i of $index">
        <div class="row info-list d-flex d-md-none">
          <div class="col-md-9">
            <div class="row">
              <h5 class="card-title">{{academicDetails.Degree}}</h5> <span
              *ngIf="academicDetails.Concentration">,</span> {{academicDetails.Concentration}}
            </div>
            <p class="card-text"><strong>{{academicDetails.Institution}}</strong><span
              *ngIf="academicDetails.Address?.Address">,</span> {{academicDetails.Address?.Address}}
              <span *ngIf="academicDetails.Address?.City && academicDetails.Address?.Address">,</span>
              {{academicDetails.Address?.City}}<span
                *ngIf="academicDetails.Address?.Country && academicDetails.Address?.City">,</span>
              {{academicDetails.Address?.Country}} </p>
            <div style="font-size: .8rem">
              <span>{{academicDetails.From|date:'MMM, yyyy'}}</span>
              <span *ngIf="academicDetails.From"> - </span>
              <span *ngIf="academicDetails.To">{{academicDetails.To|date:'MMM, yyyy'}}
                <span *ngIf="academicDetails.IsCurrentAcademicStatus"> (Expected) </span> </span>
              <span *ngIf="!academicDetails.To">Today</span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row" *ngIf="isMyProfile">
              <div class="col">
                <a (click)="updateAcademicDetails(i,academic_modal)" class="card-link green-text">
                  <i class="fas fa-edit"></i> Update</a>
              </div>
              <div class="col">
                <a (click)="deleteAcademicDetails(i)" class="card-link red-text"><i class="fas fa-trash-alt"></i> Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row  row-eq-height d-none d-md-flex">
          <div *ngFor="let academicDetails of academicDetailsCollection;  let i of $index"
               class="col-md-12 col-lg-6 col-xl-4">
            <div class="info-list block-info">
              <div class="row">
                <div class="col-md-9 col-lg-12">
                  <div class="d-block">
                    <div style="font-size: .8rem">
                      <span>{{academicDetails.From|date:'MMM, yyyy'}}</span>
                      <span *ngIf="academicDetails.From"> - </span>
                      <span *ngIf="academicDetails.To">{{academicDetails.To|date:'MMM, yyyy'}}
                <span *ngIf="academicDetails.IsCurrentAcademicStatus"> (Expected) </span> </span>
                      <span *ngIf="!academicDetails.To">Today</span>
                    </div>
                    <h5 class="card-title">{{academicDetails.Degree}}</h5>
                    <p class="card-text">{{academicDetails.Concentration}}</p>
                    <p class="card-text"><strong>{{academicDetails.Institution}}</strong></p>
                    <p class="card-text">
                      {{academicDetails.Address?.Address}}
                      <span *ngIf="academicDetails.Address?.Address && academicDetails.Address?.City">,</span>
                      {{academicDetails.Address?.City}}<span
                      *ngIf="academicDetails.Address?.Country && academicDetails.Address?.City">,</span>
                      {{academicDetails.Address?.Country}}
                    </p>
                  </div>

                </div>
                <div class="col-md-3 col-lg-12">
                  <div class="d-md-block d-lg-flex" style="text-align: right" *ngIf="isMyProfile">
                    <div>
                      <a (click)="updateAcademicDetails(i,academic_modal)" class="card-link green-text">
                        <i class="fas fa-edit"></i> Update</a>
                    </div>
                    <div class="ml-lg-3">
                      <a (click)="deleteAcademicDetails(i)" class="card-link red-text"><i class="fas fa-trash-alt"></i>
                        Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

