<div>
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div class="card animated fadeIn" *ngIf="isRoleRequest">
    <div class="card-header admin-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-toolbox"></i>
            Apply for Admin Role</h5>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="professional-req-form">
        <div>
          <h3 class="component-title">
            <i class="fab fa-wpforms"></i>
            <span>Admin Request Form</span>
          </h3>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>

        <form #adminReq="ngForm">
          <div class="form-group">
            <label for="msg_to_admin">Message to Admin</label>
            <textarea type="text" required class="validate form-control" id="msg_to_admin" name="msg_to_admin"
                      placeholder="Send a request message to other Admins"
                      [(ngModel)]="request.MessageToAdmin"></textarea>
          </div>

          <div class="row">
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" (click)="onCancelRequestClick()" class="btn-primary btn">Cancel</button>
              </div>
            </div>
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" [disabled]="!adminReq.form.valid" class="btn-primary btn"
                        (click)=" requestForRole()">Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card animated fadeIn" *ngIf="!isRoleRequest && !initAdminStatus">
    <div class="card-header admin-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-briefcase"></i>
            Admin Panel
          </h5>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="professional-panel">
        <div>
          <tabset class="admin-panel">
            <tab heading="Requests" id="tab-requests" (select)="onTabSelect($event)">
              <div class="card-header admin-panel-insider">
                <div class="row">
                  <div class="col-md-10">
                    <h5>
                      <i class="far fa-clock"></i>
                      Approve Pending Requests
                    </h5>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              </div>

              <div class="professional-panel">
                <tabset class="admin-panel">
                  <tab *ngFor="let role of allUniqRequestRoles" [heading]="role.RoleName"
                       (select)="onRequestTabSelect($event)">


                    <table class="table table-striped">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Nationality</th>
                        <th scope="col"
                            *ngIf="role.RoleName==='Faculty' || role.RoleName==='Alumni' || role.RoleName==='TA' || role.RoleName==='Staff'">
                          Department
                        </th>
                        <th scope="col"
                            *ngIf="role.RoleName==='Alumni'">
                          Program
                        </th>
                        <th scope="col">Message</th>
                        <th scope="col">Submission Date</th>
                        <th scope="col">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let req of paginationDisplay; let i of $index">
                        <td>
                          {{getPersonalDetailsFromUserID(req.RequestUserID)?.FirstName}}&nbsp;
                          {{getPersonalDetailsFromUserID(req.RequestUserID)?.LastName}}
                        </td>
                        <td>
                          {{getPersonalDetailsFromUserID(req.RequestUserID)?.Nationality}}
                        </td>
                        <td
                          *ngIf="role.RoleName==='Faculty' || role.RoleName==='Alumni' || role.RoleName==='TA' || role.RoleName==='Staff'">
                          {{req.RequestedDepartmentID}}
                        </td>
                        <td
                          *ngIf="role.RoleName==='Alumni'">
                          {{getProgramDetailsFromProgramID(req.RequestedProgramID)?.ProgramName}}
                        </td>
                        <td *ngIf="role.RoleName==='Admin'">
                          {{req.MessageToAdmin|slice:0:50}}
                        </td>
                        <td *ngIf="role.RoleName!=='Admin'">
                          {{req.MessageToAdmin|slice:0:30}}
                        </td>
                        <td>
                          {{req.SubmissionDate|date:'dd/MM/yyyy'}}
                        </td>
                        <td>
                          <button class="btn btn-primary btn-sm" (click)="onSelectedRequest(i,reqTemplate)">
                            Details
                          </button>
                        </td>

                      </tr>
                      </tbody>
                    </table>

                    <pagination [itemsPerPage]="itemPerPage" [totalItems]="paginationLength"
                                (pageChanged)="pageChanged($event)"></pagination>
                  </tab>
                </tabset>
              </div>
            </tab>
            <tab heading="Academics" id="tab-academics" (select)="onTabSelect($event)">
              <div class="card-header admin-panel-insider">
                <div class="row">
                  <div class="col-md-10">
                    <h5>
                      <i class="fas fa-book"></i>
                      IUT Academics
                    </h5>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              </div>

              <div class="professional-panel">
                <tabset class="admin-panel" #academicsTabs>
                  <tab heading="Department" (select)="onAcademicsTabSelect($event)">
                    <app-department *ngIf="academicsDisplay=='Department'"
                                    [deptList]="deptList"
                                    (onDeptLoaded)="onDeptListLoaded($event)"
                    ></app-department>
                  </tab>
                  <tab heading="Program" (select)="onAcademicsTabSelect($event)">
                    <app-program *ngIf="academicsDisplay=='Program'"
                                 [deptList]="deptList"
                                 (onDeptLoaded)="onDeptListLoaded($event)"
                    ></app-program>
                  </tab>
                  <tab heading="Course" (select)="onAcademicsTabSelect($event)">
                    <app-course *ngIf="academicsDisplay=='Course'" [deptList]="deptList"
                                [isDeptFixed]="false"
                                [id]="'course_details'"></app-course>
                  </tab>
                </tabset>
              </div>
            </tab>
            <tab heading="News" id="tab-events" (select)="onTabSelect($event)">
              <div class="card-header admin-panel-insider">
                <div class="row">
                  <div class="col-md-10">
                    <h5>
                      <i class="fas fa-calendar-alt"></i>
                      Stories and Events
                    </h5>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              </div>
              <div class="professional-panel">
                <app-event></app-event>
              </div>

            </tab>
            <tab heading="Personnel Control">
              <div class="card-header admin-panel-insider">
                <div class="row">
                  <div class="col-md-10">
                    <h5>
                      <i class="fas fa-wrench"></i>
                      Personnel Control Panel
                    </h5>
                  </div>
                  <div class="col-md-2">
                  </div>
                </div>
              </div>
              <div class="professional-panel">
                <app-personnel-control
                  [deptList]="deptList"></app-personnel-control>
              </div>
            </tab>
          </tabset>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>
      </div>
    </div>
  </div>
</div>

<ng-template #reqTemplate>
  <div class="card">
    <div class="card-header admin-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-toolbox"></i>
            Pending Request Details</h5>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="professional-panel table-in-modal">
        <div>
          <h3 class="component-title">
            <i class="fab fa-wpforms"></i>
            <span>{{getRoleNameFromRoleID(selectedRequest.RequestedRoleID)}} Request Details</span>
          </h3>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>

        <table class="table table-striped">

          <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{getPersonalDetailsFromUserID(selectedRequest.RequestUserID)?.FirstName}}&nbsp;
              {{getPersonalDetailsFromUserID(selectedRequest.RequestUserID)?.LastName}}
            </td>
          </tr>
          </tbody>

          <thead class="thead-dark">
          <tr>
            <th scope="col">Nationality</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{getPersonalDetailsFromUserID(selectedRequest.RequestUserID)?.Nationality}}
            </td>
          </tr>
          </tbody>


          <thead class="thead-dark">
          <tr>
            <th scope="col"
                *ngIf="getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Faculty'
                || getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Alumni'
                || getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='TA'
                || getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Staff'">
              Department
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td
              *ngIf="getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Faculty'
              || getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Alumni'
              || getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='TA'
              || getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Staff'">
              {{selectedRequest.RequestedDepartmentID}}
            </td>
          </tr>
          </tbody>

          <thead class="thead-dark">
          <tr>
            <th scope="col"
                *ngIf="getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Alumni'">
              Program
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td
              *ngIf="getRoleNameFromRoleID(selectedRequest.RequestedRoleID)==='Alumni'">
              {{getProgramDetailsFromProgramID(selectedRequest.RequestedProgramID)?.ProgramName}}
            </td>
          </tr>
          </tbody>

          <thead class="thead-dark">
          <tr>
            <th>
              Message
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{selectedRequest.MessageToAdmin}}
            </td>
          </tr>
          </tbody>


          <thead class="thead-dark">
          <tr>
            <th>
              Submission Date
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{selectedRequest.SubmissionDate|date:'dd/MM/yyyy'}}
            </td>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td>
              <div class="row">
                <div class="col-4">
                  <button class="btn btn-primary btn-sm" (click)="onPendingRequestDecisionClick('Cancel')">
                    Cancel
                  </button>
                </div>
                <div class="col-4">
                  <button class="btn btn-primary btn-sm" (click)="onPendingRequestDecisionClick('Reject')">
                    Reject
                  </button>
                </div>
                <div class="col-4">
                  <button class="btn btn-primary btn-sm" (click)="onPendingRequestDecisionClick('Approve')">
                    Approve
                  </button>
                </div>
              </div>
            </td>

          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</ng-template>
