.card-body {
  background: linear-gradient(to bottom left, rgb(229, 227, 240), rgb(205, 234, 232));
  background-size: cover;
  background-position: center;
}

.card-title {
  color: #f16975;
}

.card-header.admin-header,
.admin-panel .card-header.academics-header{
  background: linear-gradient(to bottom left,#f69259,#f16975);
  background-size: cover;
  background-position: center;
  color: white!important;
}


.professional-panel thead.thead-dark th{
  background-color: #f16975;
  color: white!important;
  border: 0;
}
