@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.img-out-ctn {
  height: 25em;
  position: relative;
  width: 100%;

}

.img-in-ctn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.img-out-ctn img.img-fluid {
  max-height: 25em;
  width: 100%;
}

.news-card-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}

.news-card-subtitle {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.news-card-body {
  text-align: justify;
  white-space: pre-wrap;
  margin-bottom: 1em;
  padding: 1.5em;
  line-height: .4;

}

.news-card-body .preamble {
  text-align: left;
  white-space: pre-wrap;

}

.news-card-body .preamble b {
  line-height: 1;

}


.event-card .card .card-image {
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.event-card .card .card-image img {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.event-card .card .card-image:hover img {
  -webkit-transform: scale(1.2) rotate(-7deg);
  -moz-transform: scale(1.2) rotate(-7deg);
  -ms-transform: scale(1.2) rotate(-7deg);
  -o-transform: scale(1.2) rotate(-7deg);
  transform: scale(1.2) rotate(-7deg);
}

.event-card .card {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.event-card .card .card-content {
  padding: 10px;
}

.event-card .card .card-content .card-title, .card-reveal .card-title {
  font-size: 24px;
  font-weight: 200;
}

.event-card .card .card-action {
  padding: 5px 20px;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.event-card .card .card-action a {
  font-size: 15px;
  color: #ffab40;
  text-transform: uppercase;
  margin-right: 20px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.event-card .card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.event-card .card .card-reveal {
  padding: 20px;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  overflow-y: auto;
  /*top: 0;*/
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  display: none;
}

.event-card .card .card-reveal p {
  color: rgba(0, 0, 0, 0.71);
  margin: 20px;
}

.event-card .btn-custom {
  background-color: transparent;
  font-size: 18px;
}

.event-card .card {

  cursor: pointer;
  transition: box-shadow .38s;
}

.event-card .card:hover {
  /*box-shadow: -8px 5px 15px 2px #888888;*/
  -webkit-box-shadow: -10px 10px 15px 2px #808080;
  box-shadow: -8px 7px 10px 2px #808080;
  /*box-shadow: 10px 10px 15px 2px #808080;*/

}



.event-card .generic-header {
  margin-top: 1em;
  width: 100%;
  text-align: center;
}



#back_button {
  position: fixed;
  bottom: -4px;
  right: 10px;
  z-index: 99;
}


@media (max-width: 767px) {
  .news-home-header .dept-summary {
    padding-left: 2em;
  }

  .event-card .generic-header, .event-summary-card {
    margin-left: 0 !important;
    margin-top: 1em !important;
  }

  .card {
    margin: 1em 0 0 0;
  }

  .dept-img {
    padding-left: 0 !important;
  }

  .news-container {
    width: 95% !important;

  }
}

@media (min-width: 768px) {
  .news-container {
    width: 95%;
  }
}

.news-container {
  margin-left: auto;
  margin-right: auto;
}
