<ng-template #review_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>{{selectedProgram?.ProgramName}} Syllabus Versions</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #reviewFrom="ngForm">
      <div class="form-group">
        <label for="review_startAY">Syllabus Approval Academic Year</label>
        <input type="text" required class="validate form-control" id="review_startAY"
               name="review_startAY"
               placeholder="Starting AY" [(ngModel)]="selectedSyllabusReview.StartAY">
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="selectedSyllabusReview.IsCurrentlyActive" type="checkbox"
                 value=""
                 id="review_active" name="review_active">
          <label class="form-check-label" for="review_active">
            Latest Syllabus
          </label>
        </div>
      </div>

      <div class="form-group" *ngIf="!selectedSyllabusReview.IsCurrentlyActive">
        <label for="review_endAY">Syllabus Expired in</label>
        <input type="text" class="validate form-control" id="review_endAY"
               name="review_endAY"
               placeholder="Ending AY" [(ngModel)]="selectedSyllabusReview.EndAY">
      </div>

      <div class="form-group">
        <label for="review_comment">Comment</label>
        <input type="text" class="validate form-control" id="review_comment"
               name="review_comment"
               placeholder="Comment on the revision" [(ngModel)]="selectedSyllabusReview.Comment">
      </div>

      <div class="row">
        <div class="col s6">
          <button type="submit" (click)="onReviewCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!reviewFrom.form.valid" class="btn-primary btn"
                  (click)="onReviewSaveClick()">Save
          </button>
        </div>
      </div>
    </form>

  </div>
</ng-template>

<div class="row">
  <div class="col-12">
    <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
           (onClosed)="onAlertClosed()">
      <strong>Success!</strong> {{alertMsg}}
    </alert>
    <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
           (onClosed)="onAlertClosed()">
      <strong>Sorry!</strong> {{alertMsg}}
    </alert>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header academics-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-university"></i>
              Syllabus Revisions for {{selectedProgram?.ProgramName}} </h5>
          </div>
          <div class="col-md-2">
            <h5>
              <a class="card-link" (click)="onOptionClick('Add',null,review_modal)"><i
                class="fas fa-plus-square"></i> Add</a>
            </h5>
          </div>

        </div>
      </div>
      <div class="card-body academics-body" *ngFor="let review of reviews;  let i of $index">
        <div class="row info-list">
          <div class="col-md-9">
            <div class="row" *ngIf="!review.IsCurrentlyActive">
              <h5 class="card-title">{{review.StartAY}} to {{review.EndAY}}</h5>
            </div>
            <div class="row" *ngIf="review.IsCurrentlyActive">
              <h5 class="card-title">{{review.StartAY}} to Present</h5>
            </div>
            <p class="card-text">{{review.Comment}}</p>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col">
                <a class="card-link green-text" (click)="onOptionClick('Update',i,review_modal)">
                  <i class="fas fa-edit"></i> Update</a>
              </div>
              <div class="col">
                <a class="card-link red-text" (click)="onOptionClick('Delete',i,review_modal)"><i
                  class="fas fa-trash-alt"></i> Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
