<div>
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div class="card animated fadeIn" *ngIf="isRoleRequest">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-book"></i>
            Apply for IUT Staff Role</h5>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="professional-req-form">
        <div>
          <h3 class="component-title">
            <i class="fab fa-wpforms"></i>
            <span>Staff Request Form</span>
          </h3>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>

        <form #staffReq="ngForm">
          <div class="form-group">
            <label for="staff_dept">Department</label>
            <select required class="validate form-control" id="staff_dept" name="staff_dept"
                    [(ngModel)]="request.RequestedDepartmentID">
              <option selected hidden value="">Select your Department</option>
              <option *ngFor="let dept of deptList">
                {{dept.DepartmentID}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="msg_to_admin">Message to Admin</label>
            <textarea type="text" required class="validate form-control" id="msg_to_admin" name="msg_to_admin"
                      placeholder="Send a request message to other Admins"
                      [(ngModel)]="request.MessageToAdmin"></textarea>
          </div>

          <div class="row">
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" (click)="onCancelRequestClick()" class="btn-primary btn">Cancel</button>
              </div>
            </div>
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" [disabled]="!staffReq.form.valid" class="btn-primary btn"
                        (click)=" requestForRole()">Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card animated fadeIn" *ngIf="isInitialProfile">
    <div>
      <div class="card">
        <div class="card-header personal-header">
          <div class="row">
            <div class="col-md-10">
              <h5>
                <i class="fas fa-address-book"></i>
                Staff Member Details</h5>
            </div>

          </div>
        </div>

        <div class="card-body">
          <div class="row info-list">
            <div class="col-md-10">
              <div class="row">
                <h5 class="card-title" *ngIf="staff?.Designation">
                  <span>{{staff?.Designation}} </span></h5>
                <h5 class="card-title" *ngIf="!staff?.Designation">
                  <span>Staff Member </span></h5>
              </div>
              <p class="card-text" *ngIf="staff?.DepartmentID">
                Department of <strong class="primary-ascent-text">{{staff?.DepartmentID}}</strong>
              </p>
              <div class="row">
                <p class="card-text" *ngIf="staff?.OfficeAddress">
                  <strong class="primary-ascent-text">Office:</strong> {{staff?.OfficeAddress}}
                </p>
              </div>

            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col" *ngIf="isMyProfile">
                  <a class="card-link green-text" (click)="onUpdateClick(staff_modal)">
                    <i class="fas fa-edit"></i> Update</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #staff_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>Staff Details</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #staffFrom="ngForm" class="professional-req-form modal-form-wide">

      <div class="form-group">
        <label for="staff_type">Designation</label>
        <input type="text" required class="validate form-control" id="staff_type" name="staff_type"
               placeholder="Designation" [(ngModel)]="staff.Designation">

      </div>

      <div class="form-group">
        <label for="staff_office">Office Address</label>
        <input type="text" required class="validate form-control" id="staff_office" name="staff_office"
               placeholder="Office" [(ngModel)]="staff.OfficeAddress">
      </div>

      <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2">
          <button type="submit" class="btn-sm btn-primary btn" (click)="onCancelDetailsClick()">Cancel</button>
        </div>
        <div class="col-2">
          <button type="submit" [disabled]="!staffFrom.form.valid" class="btn-sm btn-primary btn"
                  (click)="onSaveDetailsClick()">Save
          </button>
        </div>
        <div class="col-4">

        </div>
      </div>
    </form>

  </div>
</ng-template>
