<div *ngIf="!isDeptPage">
  <ng-template #change_group_leader>
    <div class="modal-form">
      <div>
        <h3 class="component-title primary-ascent-text">
          <i class="fas fa-book"></i>
          <span>Change <b>{{researchGroup.GroupTitle}}</b> Leader</span>
        </h3>
      </div>

      <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
      <form #faculty_research_group_Form="ngForm" class="professional-req-form modal-form-wide">

        <div class="form-group">
          <label for="cng_leader">Select New Leader</label>
          <select class="form-control" required [(ngModel)]="researchGroup.CreatorID" id="cng_leader"
                  name="cng_leader">
            <option [value]="faculty?.FacultyID" *ngFor="let faculty of selectedFacultySummeryList">
              {{faculty?.Name}}
            </option>
          </select>
        </div>

        <div class="row">
          <div class="col s6">
            <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
          </div>
          <div class="col s6">
            <button type="submit" class="btn-primary btn"
                    (click)="onSaveClick()">Save Group Details
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #faculty_research_group>
    <div class="modal-form">
      <div>
        <h3 class="component-title primary-ascent-text">
          <i class="fas fa-book"></i>
          <span>Research Group Details</span>
        </h3>
      </div>

      <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
      <form #faculty_research_group_Form="ngForm" class="professional-req-form modal-form-wide">

        <div class="form-group">
          <label for="group_title">Research Group Title</label>
          <input type="text" required class="validate form-control" id="group_title" name="group_title"
                 placeholder="Research Group Title (Max Length: 400)" [(ngModel)]="researchGroup.GroupTitle"
                 maxlength="400">
        </div>
        <div class="form-group">
          <label for="group_details">Group Description</label>
          <quill-editor name="group_details" required class="validate form-control"
                        id="group_details" [(ngModel)]="researchGroup.Description"></quill-editor>
        </div>


        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="group_image">Research Group Image</label>
              <input type="file" class="form-control-file" name="group_image" id="group_image" accept="image/*"
                     (change)="onImageFileChange($event)"/>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" *ngIf="researchGroup.Image">
              <img src="{{researchGroup.ImageType}},{{researchGroup.Image}}" name="researchGroupImg"
                   class="profile-thumb img-thumbnail">
            </div>
          </div>
        </div>
        <div class="sub-form">
          <div class="form-group">
            <h5>Link Member Profiles</h5>
            <div *ngFor="let member of selectedFacultySummeryList">
        <span class="badge badge-info">
        {{member.Name}}
        <a *ngIf="member.FacultyID!==userID" class="badge badge-dark inner-badge-clicker"
           (click)="removeFaculty(member.FacultyID)">
          &#x2716;
        </a></span>

            </div>
          </div>
          <app-search-faculty
            (onFormRequestSubmitted)="addFacultyToSelectedFacultyList($event)">
          </app-search-faculty>

        </div>


        <div class="sub-form">
          <div class="form-group" style="padding-top: .5em">
            <h5>Link Publications</h5>
            <div class="badge-long" *ngFor="let publication of selectedPublicationList">
        <span>
        {{publication.Title}}
        <a class="badge badge-dark inner-badge-clicker"
           (click)="removePublication(publication.PublicationID)">
          &#x2716;
        </a></span>

            </div>
          </div>
          <app-search-publication (onFormRequestSubmitted)="addPublicationToSelectedPublicationList($event)">

          </app-search-publication>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
          </div>
          <div class="col-md-3">
            <button type="submit" [disabled]="!faculty_research_group_Form.form.valid" class="btn-primary btn"
                    (click)="onSaveClick()">Save Group Details
            </button>
          </div>
          <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="primary-ascent-text form-card-link col-md-4">
            <a class="card-link" (click)="changeGroupLeaderClicked(change_group_leader)"> Change Group Leader</a>
          </div>
          <div class="col-md-4"></div>
        </div>
      </form>
    </div>
  </ng-template>

  <div>
    <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
           (onClosed)="onMsgAlertClosed()">
      <strong>Success!</strong> {{alertMsg}}
    </alert>
    <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
           (onClosed)="onMsgAlertClosed()">
      <strong>Sorry!</strong> {{alertMsg}}
    </alert>
    <div class="card">
      <div class="card-header personal-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-book"></i>
              Research Group Details</h5>
          </div>
          <div class="col-md-2" *ngIf="isMyProfile">
            <h5>
              <a class="card-link" (click)="onFormRequest(null,faculty_research_group)"><i
                class="fas fa-plus-square"></i> Add</a>
            </h5>
          </div>
        </div>
      </div>

      <div *ngFor="let data of researchGroupList">
        <div class="card-body">
          <div class="row info-list">
            <div class="col-md-9">
              <div class="card-header">
                {{data.GroupTitle}}
              </div>
            </div>
            <div class="col-md-3">
              <div class="row" *ngIf="isMyProfile && (!data.CreatorID||data.CreatorID===userID)">
                <div class="col">
                  <a (click)="onFormRequest(data,faculty_research_group)" class="card-link green-text">
                    <i class="fas fa-edit"></i> Update</a>
                </div>
                <div class="col">
                  <a (click)="deleteResearchGroup(data.GroupID)" class="card-link red-text"><i
                    class="fas fa-trash-alt"></i>
                    Delete</a>
                </div>
                <div class="col">
                  <a class="card-link brown-text" (click)="viewGroupDetails(data.GroupID)"><i
                    class="fas fa-info-circle"></i>
                    Details</a>
                </div>
              </div>
              <div class="row" *ngIf="!isMyProfile|| data.CreatorID!==userID">
                <div class="col">
                  <a class="card-link brown-text" (click)="viewGroupDetails(data.GroupID)"><i
                    class="fas fa-info-circle"></i>
                    Details</a>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isDeptPage">
  <div *ngIf="isSelectedGroup">
    <app-research-group-details [researchGroup]="researchGroup"
                                [isCompressed]="false"
                                [facultySummaryList]="selectedFacultySummeryList"
                                [publicationList]="selectedPublicationList"
                                (onBackClicked)="onBackClicked()"
                                (onProfileClicked)="onProfileDetailsClicked($event)">

    </app-research-group-details>
  </div>
  <div *ngIf="!isSelectedGroup">
    <div *ngIf="researchGroupList.length===0" style="height: 100vh"></div>
    <ngx-masonry *ngIf="researchGroupList.length>0">
      <ngx-masonry-item class="masonry-item" *ngFor="let group of researchGroupList">
        <app-research-group-details [researchGroup]="group"
                                    [isCompressed]="true"
                                    (onDetailsClicked)="onGroupDetailsClicked($event)">

        </app-research-group-details>
      </ngx-masonry-item>
    </ngx-masonry>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  color="#fff"
  type="ball-atom"
></ngx-spinner>
