<div class="container">
  <div class="row z-depth-5 lighten-4">
    <div class="col large-text">
      <h1 class="home-header center-align">Members of the Alumni</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-3">
      <div *ngFor="let al of alumniCategoryList">
        <div
          [ngClass]="al===defaultAlumniCategory?'card-header personal-header white-text':'modal-form primary-ascent-text'"
          (click)="onCategoryClicked(al)" class=" prog-select mb-2">
          {{findProgramName(al.ProgramID)}}
          <br/>
          Batch: {{al.AdmissionYear}}
        </div>
        <div class="animated fadeIn card d-block d-md-none" *ngIf="al===defaultAlumniCategory">
          <div class="card-body" style="background-color: transparent">
            <div class="row row-eq-height">
              <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let al2 of alumniList">
                <div class="card alumni-summary">
                  <div class="card-header">
                    {{findProfileForView(al2.UserID)?.Salutation}} {{findProfileForView(al2.UserID)?.FirstName}}
                    {{findProfileForView(al2.UserID)?.LastName}}
                  </div>
                  <div class="clearfix  card-body d-inline-block">
                    <div class="float-left alumni-summary-img">
                      <img *ngIf="findProfileForView(al2.UserID)?.Image"
                           src="{{findProfileForView(al2.UserID)?.ImageType}},{{findProfileForView(al2.UserID)?.Image}}"
                           class="img img-thumbnail">
                      <img *ngIf="!findProfileForView(al2.UserID)?.Image"
                           src="assets/images/placeholder.png"
                           class="img img-thumbnail">
                    </div>
                    <div class="float-right alumni-summary-desc">
                      <h6>{{al2.StudentID}}</h6>
                      <p>{{findProfileForView(al2.UserID)?.Email}}</p>
                      <a class="card-link secondary-ascent-text alumni-summary-link"
                         (click)="onProfileDetailsClicked(al2.UserID)"><i class="fas fa-user"></i> Details</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="defaultAlumniCategory" class="col-lg-10 col-md-9 d-none d-md-block">
      <div class= "animated fadeIn card">
        <div class="card-header personal-header">
          <h5>{{findProgramName(defaultAlumniCategory?.ProgramID)}} - {{defaultAlumniCategory?.AdmissionYear}}</h5>
        </div>
        <div class="card-body" style="background-color: transparent">
          <div class="row row-eq-height">
            <div class="animated fadeIn col-lg-4 col-md-6 col-sm-12" *ngFor="let al of alumniList">
              <div class="card alumni-summary">
                <div class="card-header">
                  {{findProfileForView(al.UserID)?.Salutation}} {{findProfileForView(al.UserID)?.FirstName}}
                  {{findProfileForView(al.UserID)?.LastName}}
                </div>
                <div class="clearfix  card-body d-inline-block">
                  <div class="float-left alumni-summary-img">
                    <img *ngIf="findProfileForView(al.UserID)?.Image"
                         src="{{findProfileForView(al.UserID)?.ImageType}},{{findProfileForView(al.UserID)?.Image}}"
                         class="img img-thumbnail">
                    <img *ngIf="!findProfileForView(al.UserID)?.Image"
                         src="assets/images/placeholder.png"
                         class="img img-thumbnail">
                  </div>
                  <div class="float-right alumni-summary-desc">
                    <h6>{{al.StudentID}}</h6>
                    <p>{{findProfileForView(al.UserID)?.Email}}</p>
                    <a class="card-link secondary-ascent-text alumni-summary-link" (click)="onProfileDetailsClicked(al.UserID)"><i
                      class="fas fa-user"></i> Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="top_button">
      <button class="feedback" (click)="onUpClicked()"><i class="fas fa-arrow-up"></i> </button>
    </div>
  </div>
</div>


