

.prog-select {
  border: transparent solid;
  font-weight: bold;
}

.alumni-summary-img {
  width: 30%;
  overflow: hidden;
  padding-bottom: .05em;
}

.alumni-summary-desc {
  width: 65%;
}

.card-body {
  padding: .2em;
}

.alumni-summary {
  margin: .5em 0;
  height: 95%;
}

.alumni-summary-link {
  position: absolute;
  bottom: 2%;
  right: 2%;
}



#top_button {
  display: none;
  position: fixed;
  bottom: -4px;
  right: 10px;
  z-index: 99;
}

