<alert type="success" *ngIf="msgEvent && msgSuccess " [dismissible]="true"
       (onClosed)="onAlertClosed()">
  <strong>Success!</strong> {{alertMsg}}
</alert>
<alert type="danger" *ngIf="msgEvent && msgFailed" [dismissible]="true"
       (onClosed)="onAlertClosed()">
  <strong>Sorry!</strong> {{alertMsg}}
</alert>
<div class="row">
  <div class="col-md-3 tool">
    <div class="panel-body card-body card-block">
      <div>
        <h3 class="component-title primary-ascent-text">
          <i class="fas fa-tools"></i>
          <span>Personnel Search Tool</span>
        </h3>
      </div>

      <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
      <div class="form-group">
        <label for="dept_id">Department</label>
        <select class=" form-control" id="dept_id" name="dept_id" [(ngModel)]="selectedDeptID"
                (change)="onSearchClicked()">
          <option selected hidden value="">Select Department</option>
          <option *ngFor="let dept of deptList" [value]="dept.DepartmentID">
            <span>{{dept?.DepartmentID}}</span>
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="dept_id">Select Personnel Type</label>
        <select [(ngModel)]="selectedPersonnelType" class=" form-control" id="personnel_type_id"
                name="personnel_type_id" (change)="onSearchClicked()">
          <option selected hidden value="">Select Personnel Type</option>
          <option *ngFor="let personnel of personnelTypes" [value]="personnel">
            <span>{{personnel}}</span>
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-9 ">
    <div class="card animated fadeIn" *ngIf="isSearched">
      <div class="card-header academics-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-university"></i>
              {{selectedDeptID}} Department {{selectedPersonnelType}} List </h5>
          </div>
        </div>
      </div>
      <div *ngIf="selectedPersonnelType==='Faculty' && facultyList.length>0">
        <div class="card-body academics-body" *ngFor="let faculty of facultyList">
          <div class="row" *ngIf="faculty.FacultyID === selectedPersonnelForMsg">
            <div class="col">
              <alert type="warning" *ngIf="msgEvent && msgWarning" [dismissible]="true"
                     (onClosed)="onAlertClosed()">
                <strong>Warning!</strong> {{alertMsg}}&nbsp;
                <a (click)="onAlertClosed()" class="alert-link">Abort</a>&nbsp;
                <a (click)="deletePersonnel(faculty.FacultyID)" class="alert-link">Continue</a>
              </alert>

            </div>
          </div>
          <div class="row info-list">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-3">
                  <img *ngIf="getFacultySummary(faculty.FacultyID)?.image" class="img-thumbnail img"
                       src="{{getFacultySummary(faculty.FacultyID)?.imageType}},{{getFacultySummary(faculty.FacultyID)?.image}}">
                  <img *ngIf="!getFacultySummary(faculty.FacultyID)?.image" class="img-thumbnail img"
                       src="assets/images/user.png">
                </div>
                <div class="col-md-9">
                  <h5 class="card-title">
                    {{getFacultySummary(faculty.FacultyID)?.name}}
                  </h5>
                  <p>
                    {{faculty?.Designation}}
                  </p>
                </div>
              </div>

            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-5">
                  <p class="brown-text"><b>Priority:
                    <span *ngIf="faculty.Priority">{{faculty.Priority}}</span>
                    <span *ngIf="!faculty.Priority">None</span>
                  </b></p>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col" style="text-align:right">
                      <select [id]="faculty.FacultyID" style="width: 100%">
                        <option [value]="null">None</option>
                        <option [value]="p" *ngFor="let p of facultyPriorityList">
                          {{p}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="text-align: right">
                      <a class="card-link  secondary-ascent-text " (click)="setFacultyPriority(faculty)">
                        <i class="fas fa-edit"></i> <span style="text-decoration: underline;">Set Priority</span> </a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col red-text" style="text-align: right; text-decoration: underline">
                  <a class="card-link" (click)="onDeleteClicked(faculty.FacultyID)"><i class="fas fa-trash-alt"></i>Delete {{selectedPersonnelType}}
                    Permanently</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedPersonnelType==='Staff' && staffList.length>0">
        <div class="card-body academics-body" *ngFor="let staff of staffList">
          <div class="row" *ngIf="staff.StaffID=== selectedPersonnelForMsg">
            <div class="col">
              <alert type="warning" *ngIf="msgEvent && msgWarning" [dismissible]="true"
                     (onClosed)="onAlertClosed()">
                <strong>Warning!</strong> {{alertMsg}}&nbsp;
                <a (click)="onAlertClosed()" class="alert-link">Abort</a>&nbsp;
                <a (click)="deletePersonnel(staff.StaffID)" class="alert-link">Continue</a>
              </alert>

            </div>
          </div>
          <div class="row info-list">
            <div class="col-md-7">
              <div class="row">

                <div class="col-md-3">
                  <img *ngIf="getStaffSummary(staff.StaffID)?.image" class="img-thumbnail img"
                       src="{{getStaffSummary(staff.StaffID)?.imageType}},{{getStaffSummary(staff.StaffID)?.image}}">
                  <img *ngIf="!getStaffSummary(staff.StaffID)?.image" class="img-thumbnail img"
                       src="assets/images/user.png">
                </div>
                <div class="col-md-9">
                  <h5 class="card-title">
                    {{getStaffSummary(staff.StaffID)?.name}}
                  </h5>
                  <p>
                    {{staff?.Designation}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-5">
                  <p class="brown-text"><b>Priority:
                    <span *ngIf="staff.Priority">{{staff.Priority}}</span>
                    <span *ngIf="!staff.Priority">None</span>
                  </b></p>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col" style="text-align:right">
                      <select [id]="staff.StaffID" style="width: 100%">
                        <option [value]="null">None</option>
                        <option [value]="p" *ngFor="let p of staffPriorityList">
                          {{p}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" style="text-align: right">
                      <a class="card-link  secondary-ascent-text " (click)="setStaffPriority(staff)">
                        <i class="fas fa-edit"></i> <span style="text-decoration: underline;">Set Priority</span> </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col red-text" style="text-align: right; text-decoration: underline">
                  <a class="card-link" (click)="onDeleteClicked(staff.StaffID)"><i
                    class="fas fa-trash-alt"></i>Delete {{selectedPersonnelType}} Permanently</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedPersonnelType==='TA' && taList.length>0">
        <div class="card-body academics-body" *ngFor="let ta of taList">
          <div class="row" *ngIf="ta.TAID=== selectedPersonnelForMsg">
            <div class="col">
              <alert type="warning" *ngIf="msgEvent && msgWarning" [dismissible]="true"
                     (onClosed)="onAlertClosed()">
                <strong>Warning!</strong> {{alertMsg}}&nbsp;
                <a (click)="onAlertClosed()" class="alert-link">Abort</a>&nbsp;
                <a (click)="deletePersonnel(ta.TAID)" class="alert-link">Continue</a>
              </alert>

            </div>
          </div>
          <div class="row info-list">
            <div class="col-md-8">
              <div class="row">

                <div class="col-3">
                  <img *ngIf="getTASummary(ta.TAID)?.image" class="img-thumbnail img"
                       src="{{getTASummary(ta.TAID)?.imageType}},{{getTASummary(ta.TAID)?.image}}">
                  <img *ngIf="!getTASummary(ta.TAID)?.image" class="img-thumbnail img"
                       src="assets/images/user.png">
                </div>
                <div class="col-9">
                  <h5 class="card-title">
                    {{getTASummary(ta.TAID)?.name}}
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col red-text" style="text-align: right; text-decoration: underline">
                  <a class="card-link" (click)="onDeleteClicked(ta.TAID)"><i
                    class="fas fa-trash-alt"></i>Delete {{selectedPersonnelType}} Permanently</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


