<ngx-masonry>
  <ngx-masonry-item [ngClass]="hasNoEvents?'masonry-item':'masonry-item hasEvents'" *ngFor="let st of stories">
    <div class="card" style="width: 100%;">
      <img class="card-img-top" *ngIf="st?.StoryImg" src="{{st?.ImageType}},{{st?.StoryImg}}"
           alt="Card image cap">
      <div class="card-img-top summary-img gif" *ngIf="!st?.StoryImg">
        <img src="assets\images\Loading-gif.gif" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 [ngClass]="increaseCounter(st.StoryID)%4===0?'amber-text':
                     increaseCounter(st.StoryID)%4===1?'teal-text':
                     increaseCounter(st.StoryID)%4===2?'brown-text':
                     'blue-text'">
          {{st?.Title}}</h5>
        <p class="card-text">{{st?.Subtitle|slice:0:100}}<span *ngIf="st?.Subtitle.length>0">...</span>
        </p>
        <p class="card-text">
          Published in: {{getLocalDate(st?.PublishDate)|date}}
        </p>
        <a (click)="onStoryClicked( st?.StoryID)"
           [ngClass]="[increaseCounter(st.StoryID)%4===0?'amber':
                     increaseCounter(st.StoryID)%4===1?'teal':
                     increaseCounter(st.StoryID)%4===2?'brown':
                     'blue-text','btn', 'btn-primary', 'card-details-btn']">
          Details</a>
      </div>
    </div>
  </ngx-masonry-item>
</ngx-masonry>
