<div>
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>
  <div class="card animated fadeIn" *ngIf="isRoleRequest && !reqSubmitted">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          <h5>
            <i class="fas fa-book"></i>
            Apply for Alumni Role</h5>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="professional-req-form">
        <div>
          <h3 class="component-title">
            <i class="fab fa-wpforms"></i>
            <span>Alumni Request Form</span>
          </h3>
        </div>
        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>

        <form #alumniReq="ngForm">
          <div class="form-group">
            <label for="Alumni_dept">Department</label>
            <select required class="validate form-control" id="Alumni_dept" name="Alumni_dept"
                    [(ngModel)]="request.RequestedDepartmentID" (change)="onReqDeptSelectionChanged()">
              <option selected hidden value="">Select your Department</option>
              <option *ngFor="let dept of deptList">
                {{dept.DepartmentID}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="Alumni_prog">Program</label>
            <select required class="validate form-control" id="Alumni_prog" name="Alumni_prog"
                    [(ngModel)]="request.RequestedProgramID">
              <option selected hidden value="">Select your Program</option>
              <option *ngFor="let prog of progList" value="{{prog.ProgramID}}">
                {{prog.ProgramName}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="msg_to_admin">Message to Admin</label>
            <textarea type="text" required class="validate form-control" id="msg_to_admin" name="msg_to_admin"
                      placeholder="Send a request message to other Admins"
                      [(ngModel)]="request.MessageToAdmin"></textarea>
          </div>

          <div class="row">
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" (click)="onCancelRequestClick()" class="btn-primary btn">Cancel</button>
              </div>
            </div>
            <div class="col s6">
              <div class="btn-container">
                <button type="submit" [disabled]="!alumniReq.form.valid" class="btn-primary btn"
                        (click)=" requestForRole()">Save
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="animated fadeIn" *ngIf="!isRoleRequest">
    <div class="card" style="margin-bottom:1em">
      <div class="card-header personal-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-book"></i>
              Alumni Details</h5>
          </div>
          <div class="col-md-2" *ngIf="isMyProfile">
            <h5>
              <a class="card-link" (click)="onNewReq()"><i
                class="fas fa-plus-square"></i> New Alumni Request</a>
            </h5>
          </div>

        </div>
      </div>
      <div class="card-body" *ngFor="let data of AlumniList;  let i of $index">
        <div class="row info-list">
          <div class="col-md-9">

            <div class="row">
              <h5 class="card-title">{{getProgramDetails(data.ProgramID)?.ProgramName}}</h5>&nbsp; - &nbsp; <strong
              class="brown-text">{{getProgramDetails(data.ProgramID)?.Concentration}}</strong>
            </div>
            <div>
              <span *ngIf="data.EnrollmentYear">{{data.EnrollmentYear|date:'yyyy'}} -</span>
              <span *ngIf="data.PassingYear"> {{data.PassingYear|date:'yyyy'}}</span>
            </div>
            <p class="card-text" *ngIf="data.StudentID">Student ID: &nbsp; <strong>{{data.StudentID}}</strong></p>
            <p class="card-text" *ngIf="getProgramDetails(data.ProgramID)">Department of &nbsp;<span
              style="font-size: 120%"
              class="badge badge-primary">{{getProgramDetails(data.ProgramID)?.DepartmentID}}</span></p>
          </div>
          <div class="col-md-3">
            <div class="row" *ngIf="isMyProfile">
              <div class="col">
                <a class="card-link green-text" (click)="onUpdateClick(i,alumni_modal)">
                  <i class="fas fa-edit"></i> Update</a>
              </div>
              <div class="col">
                <a class="card-link red-text" (click)="onDeleteClick(i)"><i class="fas fa-trash-alt"></i> Delete</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <app-publication
      *ngIf="showPublications"
      [isMyProfile]="isMyProfile"
      [userID]="userID"
      [viewType]="viewType"
    ></app-publication>
  </div>


</div>

<ng-template #alumni_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title amber-text">
        <i class="fas fa-book"></i>
        <span>Update Details</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="amber"/>
    <form #alumniForm="ngForm">
      <div class="row">
        <div class="col form-group">
          <label for="alumni_enroll">Enrollment Year</label>
          <input type="number" required class="validate form-control" id="alumni_enroll" name="alumni_enroll"
                 aria-describedby="enrollmentHelp"
                 placeholder="Year of Enrollment" [(ngModel)]="enrollmentYear">
          <small id="enrollmentHelp" class="form-text text-muted">Your admission year or batch year</small>
        </div>

        <div class="col form-group">
          <label for="alumni_pass">Passing Year</label>
          <input type="number" required class="validate form-control" id="alumni_pass" name="alumni_pass"
                 placeholder="Year of Graduation" [(ngModel)]="passingYear">
        </div>
      </div>


      <div class="form-group">
        <label for="alumni_id">Student ID</label>
        <input type="text" required class="validate form-control" id="alumni_id"
               name="alumni_id"
               placeholder="Student ID" [(ngModel)]="SelectedAlumni.StudentID">
      </div>


      <div class="row">
        <div class="col s6">
          <button type="submit" class="btn-primary btn" (click)="onCancelDataClick()">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!alumniForm.form.valid" class="btn-primary btn" (click)="onSaveDataClick()">
            Save
          </button>
        </div>
      </div>
    </form>

  </div>
</ng-template>
