<div class="students-say-area">
  <h1 class="home-header">Words from the Faculty Members of {{_dept?.DepartmentID}}</h1>
  <div class="container">
    <div class="rc-carousel">
      <div class="single-item">
        <div class="single-item-wrapper">
          <div class="profile-img-wrapper d-none d-md-block">
            <a class="card-link profile-img">
              <img class="profile-img-responsive img-circle" (click)="onDetailsClicked()" style="max-width: 10em"
                   src="{{_dept?.ImageType}},{{_dept?.Image}}" alt="{{_dept?.DepartmentID}}"></a>
          </div>
          <div class="large-text">
            <br>
            <div class="dept-msg-from white-text primary-ascent">
              <h4 class="item-title" (click)="onDetailsClicked()"><span>Department of <b>{{_dept?.FullName}}</b></span></h4>
              <span>Islamic University of Technology</span><br>
            </div>
            <label style="text-align: left" class="item-content">{{_dept?.MessageFromHead}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
