.students-say-area .single-item-wrapper {
  position: relative;
}
.students-say-area .profile-img-wrapper {
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 50px;
}
.students-say-area .profile-img-wrapper a img {
  border: 10px solid #ffffff;
  width: auto;
  margin: 0 auto;
}
.students-say-area .tlp-tm-content-wrapper .item-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}
.students-say-area .tlp-tm-content-wrapper .item-title a {
  color: #212121;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.students-say-area .tlp-tm-content-wrapper .item-title a:hover {
  color: #7cb342;
}
.students-say-area .tlp-tm-content-wrapper .item-designation {
  margin-bottom: 5px;
  display: block;
  color: #646464;
}
.students-say-area .item-content {
  position: relative;
  font-size: 1em;
  padding: 30px 130px 30px 30px;
  background: rgba(155,155,155,.2);
  color: #646464;
}
.students-say-area .item-content:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: -30px;
  border: 15px solid;
  border-color: transparent transparent #524c4c47  #524c4c47;
}
.students-say-area .rating-wrapper {
  margin-bottom: 40px;
}
.students-say-area .rating-wrapper li {
  display: inline;
  color: #7cb342;
}
.students-say-area .owl-controls .owl-nav {
  margin-top: 0;
}
.students-say-area .owl-controls .owl-dots {
  margin-top: 40px;
}
.students-say-area .owl-controls .owl-dots .owl-dot span {
  margin: 3px;
  width: 20px;
  height: 8px;
  border-radius: 5px;
  background: #dedede;
  display: block;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.students-say-area .owl-controls .owl-dots .owl-dot:hover span {
  background: #212121;
}
.students-say-area .owl-controls .owl-dots .active span {
  background: #212121;
}

.img-circle {
    border-radius: 50%;
    margin-bottom: 30px !important;
}

.dept-msg-from{
  padding: .5em;
}

@media (max-width: 767px){
  .item-content{
    padding: .5em!important;
    text-align: justify!important;
  }
}
