<div *ngIf="isRegModalShown" [config]="{ show: true }"  bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <app-registration-form [isExternalRegistration]="true"
                             [errorMsg]="regErrorMessage"
                             (cancelButtonClick)="onRegCancelClicked()"
                             (isRegSuccess)="onRegSubmit($event)">

      </app-registration-form>
    </div>
  </div>
</div>

<app-cse-home-carousal>

</app-cse-home-carousal>


<div class="z-depth-5 lighten-4">
  <div class="container large-text" *ngIf="isLoaded">
    <br>
    <h1 class="home-header center-align">Department of {{dept.FullName}}</h1>
    <div class="center-align man-text header-none" [innerHtml]="dept.About|slice:0:1500"></div>
    <div class="container center-align">
      <a (click)="onAboutClicked()" class="card-link secondary-ascent-text"><i
        class="fas fa-info-circle"> </i>Details</a></div>
    <br>
  </div>
  <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="default"
    color="#fff"
    type="ball-atom"
  ></ngx-spinner>
</div>
<div style="height: 120vh" *ngIf="!isLoaded">

</div>


<div class="container animated fadeIn" *ngIf="isLoaded">
  <h1 class="home-header center-align" id="news_events">
    News and Events
  </h1>
  <div class="row">
    <div [ngClass]="{'col-md-8':hasEvents,'col-md-12':!hasEvents}">
      <app-cse-home-stories [hasNoEvents]="!hasEvents">

      </app-cse-home-stories>
    </div>
    <div [ngClass]="{'col-md-4':hasEvents,'d-none':!hasEvents}">
      <app-cse-home-events (onNoEvents)="onNoEvents()">

      </app-cse-home-events>
    </div>
  </div>
</div>

<div style="clear: both;"></div>


<div class="container" *ngIf="isLoaded">
  <app-cse-head-message [dept]="dept"
                        (onCSE_DetailsClicked)="onAboutClicked()">

  </app-cse-head-message>
</div>


