<div class="container-fluid" >
  <div class="row">
    <app-profile-details class="col"
                         [urlUsername]="urlUsername"
                         [isLoggedIn]="isLoggedIn"
    ></app-profile-details>
  </div>
</div>

