<div class="z-depth-5 lighten-4">
  <div class="container large-text">
    <h1 class="home-header center-align">Research Groups and Publications</h1>
    <br>
  </div>
</div>
<div class="container">
  <div class="btn-group research-btn-group" role="group" aria-label="cse_research">
    <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':activeTab==='r'}"
            id="personnel_f"
            (click)="showResearchGroup('r')">Research Groups
    </button>
    <button type="button" class="btn btn-lg btn-secondary nav-btn" [ngClass]="{'active':activeTab==='p'}"
            id="personnel_s"
            (click)="showResearchGroup('p')">Publication List
    </button>
  </div>
  <app-research-group *ngIf="activeTab==='r'" [researchGroup]="researchGroup" [department]="department"
                      [isSelectedGroup]="isSelectedGroup" [isDeptPage]="isDeptResearchGroup">

  </app-research-group>

  <app-publication *ngIf="activeTab==='p'" [viewType]="'department'" [departmentID]="department?.DepartmentID">

  </app-publication>
</div>

