.custom-button-strip{
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: #43807c;
  color: white;
  padding: 0;
  cursor: pointer;
  width: 49%;
  display:inline-block;
}

.custom-button-strip:target{

  background-color: red;
}
.pro-pic{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 130px; /* Set a small width */
  height: 180px;
}

.center{
  text-align:center;
}

.head{
  margin: 0 auto;
  margin-bottom: 15px;
}
.card-img-top{
  transition: all 1s ease-out !important;
}

.card-img-top:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.card_img{
  overflow:hidden;
  /*height: 15em;*/
}


.card-header.personnel-summary{
  text-align: center;
  font-weight: bolder;
}


.card.personnel-header-summary{
  margin-top: 2em;
}

.research-btn-group{
  width: 100%;
  margin-bottom: .5em;
}

.personnel-summary .card-title{
  font-size: 1em;
  font-weight: bolder;
}

