<div class=" row container-fluid">
  <div class="card horizontal" *ngIf="events.length==0">
    <div class="card-stacked">
      <div class="card-content">
        <h5>No Upcoming Events</h5>
      </div>
    </div>
  </div>
  <div class="card horizontal" *ngFor="let ev of events">
    <div (click)="onEventClicked(ev)" class="card-stacked hoverable">
      <div class="card-content">
        <h5>{{ev.Title}}</h5>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col-md-4">
            <h6>From</h6>
          </div>
          <div class="col-md-8">
            <span><i class="fas fa-calendar"></i> {{getLocalDate(ev.EventStart)|date}}</span>
          </div>
        </div>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col-md-4">
            <h6>To</h6>
          </div>
          <div class="col-md-8">
            <span><i class="fas fa-calendar"></i> {{getLocalDate(ev.EventEnds)|date}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
