<div>
  <alert type="success" *ngIf="msgEvent && msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Success!</strong> {{alertMsg}}
  </alert>
  <alert type="danger" *ngIf="msgEvent && !msgSuccess" [dismissible]="true"
         (onClosed)="onAlertClosed()">
    <strong>Sorry!</strong> {{alertMsg}}
  </alert>

  <div class="row">
    <div class="col-md-3 tool">
      <div class="panel-body card-body card-block">
        <div>
          <h3 class="component-title primary-ascent-text">
            <i class="fas fa-newspaper"></i>
            <span>News Search Tool</span>
          </h3>
        </div>

        <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>

        <div class="form-group">
          <label for="dept_id">Department</label>
          <select class=" form-control" id="dept_id" name="dept_id" (change)="deptChanged($event.target.value)">
            <option selected hidden value="">Select Department</option>
            <option *ngFor="let dept of deptList" [value]="dept.DepartmentID">
              <span>{{dept.DepartmentID}}</span>
            </option>
          </select>
        </div>
        <div class="form-group" *ngIf="selectedDept?.DepartmentID">
          <h5 class="text-on-amber">
            <a class="card-link" (click)="openNewsDetailsModal(null,admin_story_modal)"><i
              class="fas fa-plus-square"></i> Add New
              <b>Story</b>
            </a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-9 ">
      <div *ngFor="let s of storyList">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-9">
                <h5>{{s.Title}}</h5>
                {{timeService.FormatDate(s.PublishDate)|date}}
              </div>
              <div class="col-md-3">
                <div class="col">
                  <a class="card-link white-text" (click)="OnAddEventClicked(s,admin_event_modal)"><i class="fas fa-plus-square"></i> &nbsp; Add new Event</a>
                </div>
                <div class="col">
                  <a class="card-link white-text" (click)="onEditStoryClicked(s,admin_story_modal)"><i
                    class="fas fa-edit"></i> &nbsp; Edit Story</a>
                </div>
                <div class="col">
                  <a class="card-link white-text" (click)="onDeleteStoryClicked(s)"><i class="fas fa-trash-alt"></i>
                    &nbsp; Delete Story</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row info-list">
              <div class="col-md-3">
                <div class="row">
                  <div class="col">
                    <img *ngIf="s.StoryImg" src="{{s.ImageType}},{{s.StoryImg}}"
                         class="img-thumbnail">
                    <div *ngIf="!s.StoryImg"  class="summary-img card-img-top  gif">
                      <img src="assets\images\Loading-gif.gif">
                    </div>
                  </div>
                </div>
                <div class="row" class="sub-event-admin">
                  <div class="col">
                    <div *ngFor="let e of getEvents(s.StoryID)">
                      <a class="card-link" (click)="onEventEditClicked(s,e,admin_event_modal)"> <i
                        class="fas fa-calendar"> </i> {{e.Title}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <h5>{{s.Subtitle}}</h5>
                </div>
                <div class="row large-text">
                  <div class="ql-editor html-render header" [innerHtml]="s.Description"></div>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>

</div>


<ng-template #admin_story_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>News Details for {{selectedDept.DepartmentID}} Department</span>
      </h3>
    </div>

    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #adminStoryFrom="ngForm" class="professional-req-form modal-form-wide">
      <div class="form-group">
        <label for="s_title">Story Title</label>
        <input type="text" required class="validate form-control" id="s_title"
               name="s_title"
               placeholder="Title of the Story" [(ngModel)]="selectedStory.Title">
      </div>


      <div class="form-group">
        <label for="s_subtitle">Story Subtitle</label>
        <input type="text" required class="validate form-control" id="s_subtitle"
               name="s_subtitle"
               placeholder="Subtitle of the Story" [(ngModel)]="selectedStory.Subtitle">
      </div>

      <div class="form-group">
        <label for="s_description">Description</label>
        <quill-editor required class="validate form-control" id="s_description"
                  name="s_description"
                   [(ngModel)]="selectedStory.Description"></quill-editor>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="s_isFocused" name="s_isFocused"
                   [(ngModel)]="selectedStory.IsFocused">
            <label class="form-check-label" for="s_isFocused">Is the story Focused?</label>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="story_img">Image of the Story</label>
                <input type="file" class="form-control-file" name="story_img" id="story_img" accept="image/*"
                       (change)="onImageFileChange($event)"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <img *ngIf="selectedStory.StoryImg" src="{{selectedStory.ImageType}},{{selectedStory.StoryImg}}"
                     name="storyImg" class="profile-thumb img-thumbnail">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="s_author">Author</label>
        <input type="text" required class="validate form-control" id="s_author"
               name="s_author"
               placeholder="Author of the story" [(ngModel)]="selectedStory.Author">
      </div>


      <div class="row">
        <div class="col s6">
          <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s6">
          <button type="submit" [disabled]="!adminStoryFrom.form.valid" class="btn-primary btn"
                  (click)="onStorySaveClick()">Save
          </button>
        </div>
      </div>
    </form>

  </div>
</ng-template>

<ng-template #admin_event_modal>
  <div class="modal-form">
    <div>
      <h3 class="component-title primary-ascent-text">
        <i class="fas fa-book"></i>
        <span>Event Details for {{selectedStory.Title}}</span>
      </h3>
    </div>
    <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
    <form #adminEventFrom="ngForm" class="">
      <div class="form-group">
        <label for="e_title">Event Title</label>
        <input type="text" required class="validate form-control" id="e_title"
               name="e_title"
               placeholder="Title of the Event" [(ngModel)]="selectedEvent.Title">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="e_sd">Event Start Date</label>
            <input placement="bottom"
                   id="e_sd"
                   name="e_sd"
                   placeholder="Start Date"
                   required
                   class="validate form-control"
                   [(ngModel)]="selectedEvent.EventStart"
                   bsDatepicker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="e_ed">Event End Date</label>
            <input placement="bottom"
                   id="e_ed"
                   name="e_ed"
                   placeholder="End Date"
                   required
                   class="validate form-control"
                   [(ngModel)]="selectedEvent.EventEnds"
                   bsDatepicker>
          </div>
        </div>
      </div>
      <app-location-details *ngIf="onEventEdit" (onLocationLoaded)="onLocationComponentLoaded($event)">

      </app-location-details>
      <div class="row">
        <div class="col s4">
          <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
        </div>
        <div class="col s4" >
          <button *ngIf="onEventEdit" type="submit" class="btn-primary btn"
                  (click)="onEventDeleteClicked()">Delete
          </button>
        </div>

        <div class="col s4">
          <button type="submit" [disabled]="!adminEventFrom.form.valid || selectedEvent.EventEnds<selectedEvent.EventStart" class="btn-primary btn"
                  (click)="onEventSaveClick()">Save
          </button>
        </div>
      </div>

    </form>
  </div>
</ng-template>

