<div>
  <ng-template #contact_modal>
    <div class="modal-form">
      <div>
        <h3 class="component-title primary-ascent-text">
          <i class="fas fa-book"></i>
          <span>Contact Details</span>
        </h3>
      </div>

      <hr style="width: 100%; height: 5px; margin:  5px 0 15px 0;" class="secondary-ascent"/>
      <form #contactsFrom="ngForm">

        <div class="form-group">
          <label for="contact_type">Contact Type</label>
          <select name="contact_type" class="form-control validate" id="contact_type" required
                  [(ngModel)]="contact.ContactType">
            <option *ngFor="let type of contactTypes">
              {{type}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="contact_details">{{contact.ContactType}} Details</label>
          <input type="text" required class="validate form-control" id="contact_details" name="contact_details"
                 placeholder="Details" [(ngModel)]="contact.ContactDetails">
        </div>

        <div class="row">
          <div class="col s6">
            <button type="submit" (click)="onCancelClick()" class="btn-primary btn">Cancel</button>
          </div>
          <div class="col s6">
            <button type="submit" [disabled]="!contactsFrom.form.valid" class="btn-primary btn"
                    (click)="onSaveClick()">Save
            </button>
          </div>
        </div>
      </form>

    </div>
  </ng-template>

  <div>
    <alert type="success" *ngIf="contactEvent && contactSuccess" [dismissible]="true"
           (onClosed)="onContactAlertClosed()">
      <strong>Success!</strong> {{alertMsg}}
    </alert>
    <alert type="danger" *ngIf="contactEvent && !contactSuccess" [dismissible]="true"
           (onClosed)="onContactAlertClosed()">
      <strong>Sorry!</strong> {{alertMsg}}
    </alert>
    <div class="card animated fadeIn">
      <div class="card-header personal-header">
        <div class="row">
          <div class="col-md-10">
            <h5>
              <i class="fas fa-address-book"></i>
              Contact Details</h5>
          </div>
          <div class="col-md-2" *ngIf="isMyProfile">
            <h5>
              <a class="card-link" (click)="onContactFormRequest(contact_modal)"><i
                class="fas fa-plus-square"></i> Add</a>
            </h5>
          </div>

        </div>
      </div>
      <div class="card-body d-block d-md-none" *ngIf="primaryEmail||primaryEmail!=''">
        <div class="row info-list d-flex d-md-none">
          <div class="col-md-9">
            <div class="row">
              <h5 class="card-title">

                <i class="fas fa-envelope-open"></i>

                <span>Primary Email</span></h5>
            </div>
            <p class="card-text"><strong>{{primaryEmail}}</strong></p>
          </div>
          <div class="col-md-3">
          </div>

        </div>
      </div>
      <div class="card-body d-block d-md-none" *ngFor="let contactDetails of contactCollection;  let i of $index">
        <div class="row info-list d-flex d-md-none">
          <div class="col-md-9">
            <div class="row">
              <h5 class="card-title">
                <i class="fas fa-at" *ngIf="contactDetails.ContactType=='Email'"></i>
                <i class="fas fa-phone" *ngIf="contactDetails.ContactType=='Phone'"></i>
                <i class="fas fa-graduation-cap" *ngIf="contactDetails.ContactType=='Google Scholar'"></i>
                <i class="fab fa-researchgate"  *ngIf="contactDetails.ContactType=='ResearchGate'"></i>
                <i class="fas fa-mobile-alt" *ngIf="contactDetails.ContactType=='Mobile'"></i>
                <i class="fab fa-linkedin"  *ngIf="contactDetails.ContactType=='LinkedIn'"></i>
                <i class="fab fa-twitter" *ngIf="contactDetails.ContactType=='Twitter'"></i>
                <i class="fab fa-facebook-f" *ngIf="contactDetails.ContactType=='Facebook'"></i>
                <i class="fab fa-instagram" *ngIf="contactDetails.ContactType=='Instagram'"></i>
                <i class="fab fa-skype" *ngIf="contactDetails.ContactType=='Skype'"></i>
                <i class="fab fa-github-square" *ngIf="contactDetails.ContactType=='GitHub'"></i>
                <i class="fab fa-bitbucket" *ngIf="contactDetails.ContactType=='Bitbucket'"></i>
                <i class="material-icons" *ngIf="contactDetails.ContactType=='Website'">web</i>
                <span>{{contactDetails.ContactType}}</span></h5>
            </div>
            <a (click)="contactClicked(i)"
               *ngIf="contactDetails.ContactType!=='Fax'"
               class="card-link">
              {{contactDetails.ContactDetails}}
            </a>
            <p class="card-text"
               *ngIf="contactDetails.ContactType==='Fax'"
            ><strong>{{contactDetails.ContactDetails}}</strong></p>
          </div>
          <div class="col-md-3">
            <div class="row" *ngIf="isMyProfile">
              <div class="col">
                <a (click)="updateContact(i,contact_modal)" class="card-link green-text">
                  <i class="fas fa-edit"></i> Update</a>
              </div>
              <div class="col">
                <a (click)="deleteContact(i)" class="card-link red-text"><i class="fas fa-trash-alt"></i> Delete</a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card-body">
        <div class="row  row-eq-height d-none d-md-flex">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="info-list block-info">
              <div class="row">
                <div class="col-md-9 col-lg-12">
                  <h5 class="card-title">
                    <i class="fas fa-envelope-open"></i>
                    <span>Primary Email</span></h5>
                  <a class="card-link" (click)="contactClicked(null)">{{primaryEmail}}</a>
                </div>
                <div class="col-md-3 col-lg-12">

                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let contactDetails of contactCollection;  let i of $index"
               class="col-md-12 col-lg-6 col-xl-4">
            <div class="info-list block-info">
              <div class="row">
                <div class="col-md-9 col-lg-12">
                  <h5 class="card-title">
                    <i class="fas fa-at" *ngIf="contactDetails.ContactType=='Email'"></i>
                    <i class="fas fa-phone" *ngIf="contactDetails.ContactType=='Phone'"></i>
                    <i class="fas fa-graduation-cap" *ngIf="contactDetails.ContactType=='Google Scholar'"></i>
                    <i class="fab fa-researchgate"  *ngIf="contactDetails.ContactType=='ResearchGate'"></i>
                    <i class="fas fa-mobile-alt" *ngIf="contactDetails.ContactType=='Mobile'"></i>
                    <i class="fab fa-linkedin"  *ngIf="contactDetails.ContactType=='LinkedIn'"></i>
                    <i class="fab fa-twitter" *ngIf="contactDetails.ContactType=='Twitter'"></i>
                    <i class="fab fa-facebook-f" *ngIf="contactDetails.ContactType=='Facebook'"></i>
                    <i class="fab fa-instagram" *ngIf="contactDetails.ContactType=='Instagram'"></i>
                    <i class="fab fa-skype" *ngIf="contactDetails.ContactType=='Skype'"></i>
                    <i class="fab fa-github-square" *ngIf="contactDetails.ContactType=='GitHub'"></i>
                    <i class="fab fa-bitbucket" *ngIf="contactDetails.ContactType=='Bitbucket'"></i>
                    <i class="material-icons" *ngIf="contactDetails.ContactType=='Website'">web</i>
                    <span>{{contactDetails.ContactType}}</span></h5>
                  <a (click)="contactClicked(i)"
                     *ngIf="contactDetails.ContactType!=='Fax'"
                     class="card-link">
                    {{contactDetails.ContactDetails}}
                  </a>
                  <p class="card-text"
                     *ngIf="contactDetails.ContactType==='Fax'"
                  ><strong>{{contactDetails.ContactDetails}}</strong></p>
                </div>
                <div class="col-md-3 col-lg-12">
                  <div class="d-md-block d-lg-flex" style="text-align: right;padding-top: 1em" *ngIf="isMyProfile">
                    <div>
                      <a (click)="updateContact(i,contact_modal)" class="card-link green-text">
                        <i class="fas fa-edit"></i> Update</a>
                    </div>
                    <div class="ml-lg-3">
                      <a (click)="deleteContact(i)" class="card-link red-text"><i class="fas fa-trash-alt"></i>
                        Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>
