<ng-template #searchAlumniTemplate let-model="item" let-index="index">
  <div class="row">
    <div class="col-3">
      <img *ngIf="model.Image" src="{{model.ImageType}},{{model.Image}}" class="profile-thumb img-thumbnail">
      <img *ngIf="!model.Image" src="assets/images/placeholder.png" class="profile-thumb img-thumbnail">
    </div>
    <div class="col-9">
      <h6>{{model.Name }} </h6>
      <p>{{model.StudentID}}</p>
    </div>
  </div>
</ng-template>

<div class="modal-form">
  <form class="professional-req-form modal-form-wide" style="min-height: 0!important;">
    <div class="form-group">
      <label for="alumni_search_dept">Select Department</label>
      <select required class="validate form-control" id="alumni_search_dept" name="alumni_search_dept"
              [(ngModel)]="selectedDepartment.DepartmentID" (change)="onDeptChange()">
        <option selected hidden value="">Select Department</option>
        <option *ngFor="let dept of departmentList" value="{{dept?.DepartmentID}}">
          {{dept?.DepartmentID}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="alumni_search_program">Select Program</label>
      <select required class="validate form-control" id="alumni_search_program" name="alumni_search_program"
              [(ngModel)]="selectedAlumniCategory.ProgramID" (change)="onAlumniCategorySelected()">
        <option selected hidden value=-1>Select Program</option>
        <option *ngFor="let prog of getUniquePrograms(alumniCategoryList)" value="{{prog}}">
          {{getProgramNameByID(prog)?.ProgramName}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="alumni_search_batch">Select Batch</label>
      <select required class="validate form-control" id="alumni_search_batch" name="alumni_search_batch"
              [(ngModel)]="selectedAlumniCategory.AdmissionYear" (change)="onAlumniCategorySelected()">
        <option selected hidden value=-1>Select Batch</option>
        <option *ngFor="let batch of getUniqueBatches(alumniCategoryList)" value="{{batch}}">
          {{batch}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="alumni_search_name">Enter Alumni Name</label>
      <input id="alumni_search_name" name="alumni_search_name"
             [(ngModel)]="selectedName"
             [typeahead]="alumniSummaryList"
             typeaheadOptionField="Name"
             (typeaheadOnSelect)="alumniOnSelect($event)"
             [typeaheadSingleWords]="typeAheadSingleWords"
             [typeaheadItemTemplate]="searchAlumniTemplate"
             placeholder="Alumni Name"
             class="form-control">
    </div>
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-4">
        <button type="submit" [disabled]="!isSaveActivated|| !selectedName" class="btn-sm btn-primary btn"
                (click)="onSaveAssignAlumniClick()">Assign
        </button>
      </div>
      <div class="col-4">
      </div>
    </div>
  </form>


</div>
